[2013-08-22 14:54] gtraxx commented on #202
Hi,
I will correct :)

[2013-08-23 03:36] sergiotapia commented on #201
Can't wait! Thank you for working on this.

[2013-08-23 05:52] dharapvj commented on #201
+1 @gtraxx - Looks good!

[2013-08-23 11:46] gtraxx commented on #201
I used the same method as Bootstrap 3 for gradient and text-shadow in button with a separate css bootstrap-theme.css.
I'l send the alpha version (1.0) :D

### jQuery ui button Bootstrap 3

![jquery-ui-button-bootstrap3](https://f.cloud.github.com/assets/356674/1015961/345cdfda-0bec-11e3-8d7f-ecf2f9a1b475.png)

[2013-08-23 14:25] billschaller commented on #201
@gtraxx I am very much looking forward to this -- good work :)

[2013-08-26 19:14] roemera commented on #201
@gtraxx Let me know if you need any help. Cheers.

[2013-08-26 20:36] gtraxx commented on #201
Hi, I'l send the CSS version soon but I have not checked the Less Version.
Thanks ;)

[2013-08-27 03:42] dharapvj commented on #201
Once you have added your normal CSS version - I will work on converting it to LESSed version.

In the meanwhile I am getting acquainted with BS3

[2013-08-27 06:40] gtraxx commented on #201
@dharapvj Thanks for support :D

[2013-08-28 10:16] addyosmani commented on #201
This looks great. Are you committing your work directly to the masterbs3 branch?

[2013-09-01 11:53] gtraxx commented on #201
Hi @addyosmani ,
I send the new version in masterbs3 ;) but I have not finished, there is still work.
This is a pre alpha version ;)

View commit : https://github.com/addyosmani/jquery-ui-bootstrap/commit/3b3a76a95b4b8b8b54670b13af719bdc2595c1c4

[2013-09-01 21:02] addyosmani commented on #201
Nice work, @gtraxx! Just checked again. Preview for anyone interested:

![screen shot 2013-09-01 at 22 01 05](https://f.cloud.github.com/assets/110953/1064706/c6500b4c-1349-11e3-8444-3a15799f7230.png)

As far as I can tell there's still a lot of work to do to replace the existing BS2 styles with the simpler BS3 ones but this work is coming along nicely :)

[2013-09-05 14:20] juristr commented on #201
Awesome guys!

[2013-09-05 14:35] gtraxx commented on #201
thanks :)

Note : For gradiant support used "jquery-ui-1.10.3.theme.css" ;)

[2013-09-05 16:19] palomita1307 opened #203 "Input within a table is infinitely extended in IE7"
As you type in the input, this extends expanding all other components
Codigo:

<table cellspacing="5" cellpadding="5" border="0"  align="center" width="100%" >
    <tr>
    <th align="left" width="20%">Cédula</th>
    <td align="left" width="75%">
            <html:text  name="formBean" property="usuario" size="12"  maxlength="100" styleClass="ampliado numero"/>
    </td>

    </tr>
    <tr>

[2013-09-05 16:26] gtraxx commented on #203
Hi,
What version of jquery ui bootstrap ?
Do you have a link for preview ?

[2013-09-05 16:38] palomita1307 commented on #203
Hi,
Bootstrap v2.2.2
jQuery UI - v1.10.0 - 2013-01-23
link http://190.147.208.102:8084/registroWeb/cargaloginrup.do
thanks

[2013-09-06 08:21] gtraxx commented on #202
I will add support for use:
- ui-button-danger
- ui-button-warning
- ui-button-success
- ui-button-info
- ui-button-inverse

Support Add in 1.0 alpha version

### Example :

![multi-button-dialog-2013-9-6](https://f.cloud.github.com/assets/356674/1094535/1e9fb5b4-16cd-11e3-9049-2b9998d582a7.png)

[code]

[2013-09-06 09:24] gtraxx commented on #202
Fix and add in 1.0 alpha version :)

[2013-09-06 09:24] #202 closed, assigned to gtraxx

[2013-09-06 10:24] mhbailly commented on #202
Incredible :) Thanks a lot

[2013-09-10 18:42] jdart commented on #201
Just wanted to say thanks for your continued efforts towards accomodating bs3!

[2013-09-12 13:49] pszittyay commented on #201
Just wanted to say thanks!!!

[2013-09-14 19:16] purtuga commented on #153
I'm also interested in this... I have been using menubar for over a year now as well with no major issues...

[2013-09-16 02:23] RedForc opened #204 "Dialog & IE Bug"
1.Dialog Can not resizable in the new version and last version   (all:chrome & FireFox  )

2.IE is not supported

[2013-09-16 02:24] RedForc commented on #204
IE10

[2013-09-16 06:35] gtraxx commented on #204
Hi, I'll check in the new version (1.0 alpha) in the repository bs3

[2013-09-16 07:22] gtraxx commented on #204
I have no problem dialog resizing with the new version (masterbs3)

![bug-resizing-dialo-2013-9-16](https://f.cloud.github.com/assets/356674/1147327/bc04e772-1ea0-11e3-9c7e-b4167c0c1050.png)

[2013-09-16 10:31] gtraxx commented on #200
This issue is fixed ?

[2013-09-16 11:18] gtraxx commented on #196
Hi, You add the class ui-corner-all or used button elements

[code]

[2013-09-16 12:25] gtraxx commented on #194
Hi, I add support in the new version 1.0 alpha

[2013-09-16 12:25] #194 closed, assigned to gtraxx

[2013-09-16 12:29] gtraxx commented on #178
Hi, add support in the new version 1.0 alpha

view issue(https://github.com/addyosmani/jquery-ui-bootstrap/issues/202)

[2013-09-16 12:29] #178 closed, assigned to nobody

[2013-09-16 12:32] #155 closed, assigned to gtraxx

[2013-09-16 12:35] #164 closed, assigned to gtraxx

[2013-09-17 10:38] dharapvj opened #205 "Few design questions while I implement the LESS version..."
### Main Design Questions
1. **Non-variable colors** - @gtraxx - I am looking at the `jquery-ui-1.10.3.custom.css` in the masterbs3 branch and it contains all sorts of color references which are not present in bootstrap3 default theme. e.g. `.ui-widget-header` definition on [L262](https://github.com/addyosmani/jquery-ui-bootstrap/blob/masterbs3/css/custom-theme/jquery-ui-1.10.3.custom.css#L262). N

[2013-09-17 19:14] gtraxx commented on #205
#### Non-variable colors

Some colors are not present in bootstrap 3 but I used the color panel-heading for ui-widget-header

#### Browser Support

I continue support for old browsers but with a limit and I used a "jquery-ui-1.10.3.theme.css" style sheet for the gradient as in Bootstrap 3.

[2013-09-18 08:19] dharapvj commented on #205
Hi @gtraxx

Thanks for the clarifications.

Could you point me to line number of this color panel heading that you mentioned above?

Regarding the older browsers - I think I am following the content of "jquery-ui-1.10.3.custom.css" since that was the only one added in the index.html.

So, may be there will be two versions of some LESS stylessheet files too.

[2013-09-18 15:55] ludo99 commented on #201
How may I get access to jquery ui for bootstrap 3?

[2013-09-18 16:09] gtraxx commented on #201
Hi,
In the new branch masterbs3 (https://github.com/addyosmani/jquery-ui-bootstrap/tree/masterbs3)
;)

[2013-09-22 15:11] addyosmani opened #211 "Issue bankruptcy"
With work ongoing to move over to Bootstrap 3, I think we should close all issues related to the older version of the project citing that it will no longer be supported once this new version is out. I think we should also update the readme to reflect this work.

[2013-09-22 16:02] gtraxx commented on #211
Hi Addy, the README file is modified but can add information (masterbs3) :)

[2013-09-23 04:08] dharapvj commented on #211
I feel that we should continue to support BS2 for some more time. I am quite unsure if people have made the switch yet.

Also, BS3 is still settling down. Last I checked - they have made whopping 400 commits post v3.0 tag. So people will take some more time to trust BS3 and adaption of the same will take some time.

[2013-09-23 06:38] kamalraturi commented on #211
Yes, Please do all updates for BS3 as soon as possible.

[2013-09-23 06:50] gtraxx commented on #211
@kamalraturi CSS files are already updated in the branch masterbs3

[2013-10-05 14:09] pontikis opened #215 "Secondary icon in ui-button breaks button layout"
Here is what I mean

![jquib](https://f.cloud.github.com/assets/814012/1274716/8fb69450-2dc7-11e3-9ff1-7b62f2111422.png)

I wrote a workaround here http://www.pontikis.net/blog/jquery-ui-bootstrap-ui-button-icon-secondary  but I don't think that is a permanent solution.

Congrats for your great project.

[2013-10-09 07:48] gtraxx commented on #215
Hi,
Do you have the same bug with the online demo ?

[2013-10-09 08:00] pontikis commented on #215
Good morning!

this **is** a screenshot **from online demo**
http://addyosmani.github.io/jquery-ui-bootstrap/components.html

just replacing 'primary' with 'secondary' in

[code]

of http://addyosmani.github.io/jquery-ui-bootstrap/assets/js/demo.js

[2013-10-21 20:17] addyosmani commented on #211
@gtraxx If we move this to an org this week do you think we can clean up the issue tracker and point people to the work in progress? The last version is now a little old and it would be great for the tracker to focus on issues with the BS3 work. What do you think?

[2013-10-25 07:36] gtraxx commented on #211
@addyosmani, Yes we can move to org but I have to check the work of the Less version.
I'll check the issues and fix bugs :)

[2013-10-25 19:05] dharapvj commented on #211
I know.. I am out of picture recently and the LESS version is probably not finished.. I am yet to look at the fixes patches by the @bcullman. But mostly what bcullman has provided is a complete finished product for LESS version too.

I just became father of a cute angel.. :-) so.. its bit overwhelming at the moment to juggle it all.. But my pledge to continue to work for this project is still aliv

[2013-10-26 15:14] addyosmani commented on #211
Congrats @dharapvj :) @gtraxx Fantastic. Lets do that soon then. Thank you!

[2013-10-26 15:16] addyosmani commented on #211
What would we like to call the org? jQueryUIBootstrap? jQueryBootstrap?

[2013-11-04 22:18] dominicwilliams commented on #201
Hi branch looks a little quiet. Have you got an estimate of how much work needs doing to get it usable?

[2013-11-14 00:53] andrematos opened #222 "Button set look is broken on Google Chrome 31.x for Mac"
It seems that right after Google Chrome got updated from 30.x to 31.x on my Mac, the Button Set is displayed each one below the other instead of side by side (see screenshot):

![screen shot 2013-11-13 at 7 50 42 pm](https://f.cloud.github.com/assets/4837992/1537488/23a8bd0a-4cc7-11e3-8f47-01fe67b349dc.png)

Is this an issue with the latest Google Chrome update or is with the jquery-ui-bootstrap?

[2013-11-14 15:28] dharapvj commented on #222
... Can this be the issue? https://github.com/twbs/bootstrap/issues/9282

[2013-11-18 19:14] mleden commented on #222
I don't believe that this is Mac-specific either.
My client stack is this:
Windows 7
jQuery
jQuery UI Bootstrap
Immediately upon upgrading Chrome from 30.x to 31.x, I started seeing the problem identified by OP, i.e., the buttons in my buttonset are "stacked" instead of aligned horizontally.
Firefox v17.0.10 continues to render the buttons aligned horizontally, i.e., "correctly".

[2013-11-20 19:32] corydorning commented on #222
This is occurring in Chrome 31 on Windows XP. It isn't just a bootstrap thing. I'm using jQuery UI. Just commenting because i found this issue while doing a google search.

[2013-11-23 12:52] addyosmani commented on #211
@gtraxx do you think you might have time in the next few weeks to close any/all issues to do with the older version of jQuery UI Bootstrap so that new users know which issues to do with the new release are still relevant? I'd love for us to be able to replace http://addyosmani.github.io/jquery-ui-bootstrap/ with the newer version. Moving to the org can be done right after the clean-up and alpha/be

[2013-11-25 13:21] gtraxx commented on #211
Hi @addyosmani , Yes I will close tickets from jquery ui 0.5 bootstrap
You can view the new version instead of the old

- jquery-ui-bootstrap.org

Do you have any other suggestions ?

[2013-11-26 02:19] borski commented on #222
I can verify this is happening too. Any workaround?

[2013-11-26 20:09] addyosmani commented on #211
Oh, I meant name for the GitHub organisation I create to transfer this repo over to :)

[2013-11-26 20:50] gtraxx commented on #211
lol, UI Bootstrap Team hahaha

JQ Bootstrap Or UI Bootstrap , I have no idea :/  A suggestion ?

[2013-11-27 02:25] andrematos commented on #222
I believe the problem might be somewhere in the query-ui-bootstrap lib because I don't see the problem happening at the getbootstrap.com page (http://getbootstrap.com/2.3.2/components.html#buttonGroups), neither at the jQuery page (http://jqueryui.com/button/#radio).

[2013-11-27 19:00] grafxflow opened #223 "Highlight a week range"
Hi,

Is there a built in option to highlight a week rather than just a day.

So for example highlights range from Monday to Sunday?

[2013-11-29 22:47] mkbaldwin commented on #201
Just curious if there is still work going on to make this work fully with Bootstrap 3 and the new styling?

[2013-11-30 02:34] gtraxx commented on #201
New styles bootstrap 3 are defined entirely in version1.0, I corrects any bugs but Less version may not be synchronized ?
View branch masterbs3, I analyze the differences ;)

[2013-12-01 19:45] mkbaldwin commented on #201
Cool, will check out the branch then! :)

[2013-12-02 08:03] gtraxx commented on #190
Hi,
The carousel is a jQuery plugin and is not included in jQuery UI.
I will add in features after the correction of bugs

[2013-12-02 08:06] gtraxx commented on #223
Hi,check the documentation for jQuery UI but I will try to make an example
http://jqueryui.com/datepicker/

[2013-12-02 08:17] gtraxx commented on #204
Hi, The problem is it fixed ?
Is the latest version (bs3)?

[2013-12-02 08:21] #7 closed, assigned to nobody

[2013-12-02 08:24] gtraxx commented on #211
Hi @addyosmani, I closed some issues but can we switch the display on bs3 ?

[2013-12-02 12:15] dharapvj commented on #201
Got some time today and checked what is still pending in LESS version...

I am still to get through dialog, slider, tabs, datepicker, progressbar, toolbar, tooltip conversion in LESS.

Will get to it immediately.

[2013-12-03 23:01] aasierra commented on #223
@addyosmani Is this a feature that is desired? If so I would be willing to code this.

[2013-12-03 23:03] gtraxx commented on #223
Hi, this is not an option but the configuration with jQuery UI :)

[2013-12-04 10:55] ravimallya commented on #130
+1 we are waiting...

[2013-12-04 11:09] gtraxx commented on #130
Bootstrap 3 version is available in branch : https://github.com/addyosmani/jquery-ui-bootstrap/tree/masterbs3

:)

[2013-12-17 13:50] addyosmani commented on #201
@gtraxx closing this issue as this work is being tracked elsewhere. Can you add a preview of the BS3 work (latest) to the readme if you have time?

[2013-12-17 13:50] #201 closed, assigned to gtraxx

[2013-12-17 13:52] addyosmani commented on #211
@gtraxx I've created the organization `jquery-ui-bootstrap` and moved the repo over to there. It should automatically redirect correctly for all users.

Do you need me to do anything in order to publish a preview of the site? I assume that the site we used to use at addyosmani.github.com/../ will be something we'll replace with jquery-ui-bootstrap.github.com or similar.

Could you get that setup w

[2013-12-17 13:52] #211 closed, assigned to nobody

[2013-12-17 13:53] #157 closed, assigned to nobody

[2013-12-17 13:53] #158 closed, assigned to nobody

[2013-12-17 13:53] #161 closed, assigned to nobody

[2013-12-17 13:53] #162 closed, assigned to nobody

[2013-12-17 13:53] #163 closed, assigned to nobody

[2013-12-17 13:53] #171 closed, assigned to nobody

[2013-12-17 13:53] #173 closed, assigned to nobody

[2013-12-17 13:53] #175 closed, assigned to nobody

[2013-12-17 13:53] #176 closed, assigned to nobody

[2013-12-17 13:53] #177 closed, assigned to nobody

[2013-12-17 13:53] #179 closed, assigned to nobody

[2013-12-17 13:53] #180 closed, assigned to nobody

[2013-12-17 13:53] #183 closed, assigned to nobody

[2013-12-17 13:53] #184 closed, assigned to nobody

[2013-12-17 13:53] #185 closed, assigned to nobody

[2013-12-17 13:53] #188 closed, assigned to nobody

[2013-12-17 13:53] #190 closed, assigned to nobody

[2013-12-17 13:53] #191 closed, assigned to nobody

[2013-12-17 13:53] #193 closed, assigned to nobody

[2013-12-17 13:53] #196 closed, assigned to nobody

[2013-12-17 13:53] #197 closed, assigned to nobody

[2013-12-17 13:53] #199 closed, assigned to nobody

[2013-12-17 13:53] #200 closed, assigned to nobody

[2013-12-17 13:53] #203 closed, assigned to nobody

[2013-12-17 13:53] #204 closed, assigned to gtraxx

[2013-12-17 13:53] #215 closed, assigned to gtraxx

[2013-12-17 13:53] #222 closed, assigned to nobody

[2013-12-17 13:53] #35 closed, assigned to nobody

[2013-12-17 13:53] #40 closed, assigned to nobody

[2013-12-17 13:53] #53 closed, assigned to nobody

[2013-12-17 13:53] #57 closed, assigned to nobody

[2013-12-17 13:53] #59 closed, assigned to nobody

[2013-12-17 13:53] #61 closed, assigned to nobody

[2013-12-17 13:53] #65 closed, assigned to nobody

[2013-12-17 13:53] #68 closed, assigned to nobody

[2013-12-17 13:53] #69 closed, assigned to nobody

[2013-12-17 13:53] #71 closed, assigned to nobody

[2013-12-17 13:53] #74 closed, assigned to nobody

[2013-12-17 13:53] #83 closed, assigned to nobody

[2013-12-17 13:53] #84 closed, assigned to nobody

[2013-12-17 13:53] #85 closed, assigned to nobody

[2013-12-17 13:53] #86 closed, assigned to nobody

[2013-12-17 13:53] #90 closed, assigned to nobody

[2013-12-17 13:53] #93 closed, assigned to nobody

[2013-12-17 13:53] #98 closed, assigned to nobody

[2013-12-17 13:53] #112 closed, assigned to nobody

[2013-12-17 13:53] #127 closed, assigned to gtraxx

[2013-12-17 13:53] #129 closed, assigned to nobody

[2013-12-17 13:53] #150 closed, assigned to nobody

[2013-12-17 13:53] #153 closed, assigned to nobody

[2013-12-17 13:53] #154 closed, assigned to nobody

[2013-12-17 13:54] #13 closed, assigned to nobody

[2013-12-17 13:54] #32 closed, assigned to nobody

[2013-12-17 13:54] #34 closed, assigned to nobody

[2013-12-17 13:54] #66 closed, assigned to nobody

[2013-12-17 13:55] addyosmani commented on #189
We've finally moved to an organization! Closing this issue.

@gtraxx I've just gone through and closed most of the issues to do with the older version of the project. As requested on another thread if you could get setup a new version of the site where we can point folks that would be awesome.

[2013-12-17 13:55] #189 closed, assigned to nobody

[2013-12-19 01:09] helgator commented on #157
Hi, there is still the same instruction: "Select custom jQuery UI components (eg exclude tooltip) ". But when I try to select the components via the checkboxes underneath the instruction it is revealed that those checkboxes are images. So still the same confusion - where do I find these checkboxes in real?

[2014-01-07 10:34] timgluz opened #225 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of jquery-ui-bootstrap/jquery-ui-bootstrap!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, _224_ of them doesnt exists anymore;

We analysed **7306**  existing packages and

[2014-01-10 01:53] DDOMBAT opened #226 "Accordion Option "active " reverse logic JQuery v(0.5)"
This is a very minor thing. In  contrary to the original JQuery UI API Accordion Widget "active" option which states,

Boolean: Setting active to false will collapse all panels. This requires the collapsible option to be true.

Currently in this version I have my accordion options set in this manner in order to collapse all panels on page load:
$("#accordion").accordion({
     header: "h3",
     c

[2014-01-20 12:23] momoski opened #228 "Dialog and the navbar"
When using a dialog/popup screen the popup is supposed to be on top. So far so good. But when the popup is a bit larger the top of the popup disappears behind the bootstrap menu. What can be done to bring the popup also on top of the top menu?

[2014-02-04 01:11] gtraxx commented on #130
it's fixed with masterbs3 :)

[2014-02-04 01:11] #130 closed, assigned to nobody

[2014-02-04 01:17] gtraxx commented on #205
Hi, One should compare the CSS version with the Less version and check the files (see the differences)
Thanks :)

[2014-02-04 03:11] dharapvj commented on #205
Let me do that and report back to you..

That's what you meant right?

[2014-02-04 07:51] gtraxx commented on #205
yes, I could edit the CSS file and use Less to create the file.
I'll edit the documentation with new features :)
Thanks

[2014-02-10 21:21] jmcpeak opened #230 "Button icons not aligned correctly?"
http://jsfiddle.net/jmcpeak/wk9vj/

Am I missing something?

[2014-02-17 21:31] jainils opened #231 "Website down?"
Hey, I am not sure if this is the right place to post.
I was using this site
http://addyosmani.github.com/jquery-ui-bootstrap but it no longer seems to be up.

[2014-02-18 03:11] deguzmanreloader commented on #231
Yes.. The site is down.

[2014-02-18 03:49] noinkling commented on #231
http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/

[2014-02-18 04:51] deguzmanreloader commented on #231
Great! I thought this plugin already gone. Thanks so much!!!

[2014-02-18 08:02] gtraxx commented on #231
Thanks, I change the url ;)

[2014-02-18 08:02] #231 closed, assigned to nobody

[2014-02-18 15:31] mikecole opened #233 "Live Preview link is broken."

[2014-02-18 15:43] gtraxx commented on #233
New link : https://github.com/jquery-ui-bootstrap/jquery-ui-bootstrap

But it is the old version, I need to copy the project to bs3 preview

[2014-02-25 02:03] marccollin commented on #83
it's available?

[2014-03-09 23:39] gtraxx commented on #233
Demo with version 1.0 alpha is available ;)

http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/

[2014-03-09 23:39] #233 closed, assigned to nobody

[2014-03-14 15:12] maelmahdy opened #236 "Dialog hides when trying to move it"
I was viewing your components especially the dialog component but i faced a weird problem which is when i tried to drag the dialog, it disappeared

I hope you fix this issue ASAP because the dialog is a corner-stone in my work and i really need to use your package

[2014-03-16 20:41] gtraxx commented on #236
Hi, what version of jQuery UI bootstrap and with what browser ?
Best regards
aurelien

[2014-03-18 01:48] gaojianzhuang opened #237 "Dialog resize issue."
When you resize the dialog size, the dialog will disappear. Actually, it jump to the top of the page. I think this issue is dialog position error. When caculator the top distance, we should plus the scrollTop value of the browser.

[2014-03-26 14:45] jmcpeak opened #238 "Use online tools to verify css"
The css files produced can't be used in less - "unrecognized input" error.
Use some online css tools to validate the css.

http://cleancss.com/ or
http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fjquery-ui-bootstrap.github.io%2Fjquery-ui-bootstrap%2Fcss%2Fcustom-theme%2Fjquery-ui-1.10.3.custom.css&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en

[2014-04-07 09:00] maelmahdy commented on #236
Sorry for being late
I'm using the latest version of Google Chrome (33.0.1750.154) and vieweing the demo on your demo page
http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/theme/united/components.html#dialog

[2014-04-24 08:25] devadattas opened #240 "Conflict of Bootstrap's tooltip arrow style and jQuery ui-tooltip arrow style"
There is a conflict between Bootstrap's tooltip arrow style and jQuery ui-tooltip arrow style. It causes problem in Bootstraps native Tooltip and Popover rendering.

[2014-04-30 19:31] adambene opened #242 "unnecessary input field styling from Bootstrap"
Unnecessary input styles are placed in misc.less.

https://github.com/jquery-ui-bootstrap/jquery-ui-bootstrap/blob/masterbs3/less/jq-ui-bootstrap/misc.less#L43

[2014-05-06 09:47] gtraxx commented on #242
it is not neccessary if Official Bootstrap is not included :)

[2014-05-06 09:47] gtraxx commented on #240
Thanks for contribution ;)

[2014-05-06 09:47] #240 closed, assigned to nobody

[2014-05-06 18:52] adambene commented on #242
Official Bootstrap has its own input stylings, so why are those global input stylings baked in misc.less?

[2014-05-06 22:03] gtraxx commented on #242
I will ask the question, I am not the author of the file misc.less
:)

[2014-05-07 09:17] dharapvj commented on #242
Fair point.. Let me review and revert back to you in couple of days.

[2014-05-09 17:16] adambene commented on #242
Nice! Thanks!

[2014-05-10 15:07] dharapvj commented on #242
While I made the fix to LESS version.. I found those lines [in the main css file too](https://github.com/jquery-ui-bootstrap/jquery-ui-bootstrap/blob/fab1243d43c8b211ed6e4746fcf1c75608a2fcb0/css/custom-theme/jquery-ui-1.10.3.custom.css#L2246-L2303).

@gtraxx - should I remove them as part of my other commit to match LESS version with css version?

[2014-05-16 17:44] jmcpeak opened #246 "progressbar indeterminate"
A very simple example - no animated indeterminate
http://jsfiddle.net/jmcpeak/FNAKs/

The exact same thing, just using smoothness theme:
http://jsfiddle.net/jmcpeak/JvcLt/

I saw this - it looks like support is there:
https://github.com/jquery-ui-bootstrap/jquery-ui-bootstrap/issues/194

[2014-05-16 17:45] #230 closed, assigned to nobody

[2014-05-22 22:20] iaejean opened #247 "Modal.."
Hello,

When I'm using a dilago with modal, this modal don't cover bootsrtrap element's header and footer, the modal should block this elements to get finish the process on dialog, could you help me?

I'm solving whit this lines
 $('<div>lorem ipsum...</div>').dialog({
    closeOnEscape: false,
    modal: true,
    width: "auto",
    open: function(event, ui){
        $(".ui-widget-overlay").css({

[2014-05-26 14:18] bichotll commented on #225
I am also looking forward for it too ;)

[2014-06-10 16:08] qch1989 commented on #236
I met the same issue on Chrome too (visit your demo page).
version: 35.0.1916.114 m
the dialog is moving out of the visible area of browser suddenly when i try to drag and move it.
please fix it ASAP. i think it's very important.

please note: demo on this chinese page has't this issue:
http://www.bootcss.com/p/jquery-ui-bootstrap/index.html#dialog

[2014-06-13 16:55] NicoFerna commented on #37
Hi, is there an updated version of this fix for Bootstrap 3?

[2014-06-18 21:40] chiqui3d opened #248 "datepicker.No changes the value of the input. Not with setValue, Update, etc."
Hello,
For example I want to change the value of the input with

[code]

I hope you can help

[2014-06-27 18:55] richardalberto commented on #225
+1

[2014-07-06 03:43] pkcinna commented on #236
Any progress on this or is there some fundemental issue preventing a fix?

[2014-07-09 11:14] rnixx opened #249 "datepicker div not hidden properly"
CSS .ui-helper-clearfix defines rule display: block; which overrides display rule set for .ui-datepicker. Adding display rule for #ui-datepicker-div solves this issue

[2014-07-17 15:42] tophopstop opened #250 "responsive menu broken on live preview"
when I look at the live preview on the desktop, and reduce browser width enough to collapse the menu, the resulting menu button does nothing. in mobile browser, its broken similarly out of the gate.

http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/index.html

browsers effected:
- Desktop:
  -  Chrome Linux (35.0.1916.153)
  - Firefox Linux (30.0)
- Mobile:
  - Safari (iOS 7.1.2, webkit 53

[2014-07-26 16:22] Molibar commented on #225
Please already?
With sugar on top?
<3

[2014-07-29 07:03] claravanstaden opened #251 "Selects Style"
It seems as though select components are not styled to match other input elements. Please add styles for select elements as well.

[2014-07-29 07:05] claravanstaden opened #252 "Inputs on focus border color"
On input focus, the border color should be blue. It is correct in the styles, but is not overridden correctly. On focus, the input element border stays grey, instead of blue.

[2014-09-01 12:51] SiteSplat commented on #242
@dharapvj I think that makes sense.

[2014-09-29 20:18] cdaringe opened #254 "Datepicker - When showing 'week' col, cal not wide enough"
When configuring the datepicker to show the week number, the calendar looks to be about 1 rem too narrow.  Removing the width property from .ui-datepicker class in the browser enables the 17rem to grow to larger, which doesn't truncate any text.  Is there reason to explicitly specify a css width?

[2014-10-09 08:55] topaxi commented on #225
The bower package seems pretty outdated too... :(

[2014-10-14 01:48] leixu2txtek opened #255 "jQueryUI 1.11.1"
please update to the lastest version of jQueryUI  1.11.1

add the selectmenu css ..

thank you  very much

[2014-10-30 11:02] bqsylou commented on #200
Hello there !
After searching a bit, the change dharapvj proposed isn't included into the lastest version.

Also, in addition to his fix, the hover states is still lost. I propose to add this :

.ui-widget-content .ui-button-primary:hover,
.ui-widget-content .ui-button-success:hover,
.ui-widget-content .ui-button-info:hover,
.ui-widget-content .ui-button-danger:hover,
.ui-widget-content .ui-button

[2014-10-30 15:52] bqsylou opened #256 "I can't see tooltip on a dialog"
Hey,

I can't see the "Close" tooltip on the close button for my dialogs :
![capture](https://cloud.githubusercontent.com/assets/9460886/4846558/8b4f0a88-604c-11e4-81a3-a8d67184accd.JPG)

I modified jquery-ui-1.10.3.custom.css .ui-tooltip
    from z-index: 1024; to => z-index: 9999;

Now this is fine !
![capture2](https://cloud.githubusercontent.com/assets/9460886/4846587/b20bd944-604c-11e4-8ed7-b

[2014-11-15 01:09] cdaringe opened #257 "Button Default Styling Changes Depending on Whether It's In a Modal/Dialog or Not"
Hello:

As I went to produce a standard button (white background) in a dialog, I found that the blue button styling was applied.  I expected blue styling only to be applied when using `ui-button-primary`.

I have taken the button element and simply moved it from the dialog to a different part of my page and seen the button return to the white background style.

I am using jQuery ui 1.11.1

![scree

[2014-11-15 01:14] cdaringe commented on #257
On second review, simply moving the button order changed the styling.  This is unexpected behavior from the modal.  Would you think that this should be overruled by the theme or addressed in the jqui core?

![screen shot 2014-11-14 at 5 12 31 pm](https://cloud.githubusercontent.com/assets/1003261/5055932/a585334c-6c21-11e4-9e3d-c40aea64ff0d.png)

[2014-11-15 01:50] cdaringe opened #258 "Click/focus on <input type="button"> button produces undesirable rendering"
With no other resources on a page except for jquery-ui-bootstrap css, in google chrome, clicking an `<input type="button">` drastically changes the buttons appearance.  Tested with and without the .css to confirm.

![screen shot 2014-11-14 at 5 46 48 pm](https://cloud.githubusercontent.com/assets/1003261/5056098/b212b0bc-6c26-11e4-8557-2aaa0b1e4710.png)

[2014-11-15 01:58] cdaringe commented on #258
The css checks out as valid css3, however, the only property that doesn't seem to impact the rendering after click events is `outline: 0;`.  This appears to feasibly be a browser bug.  Will someone else confirm that this behavior is observed?  ~ Line 2261

[code]

[2014-12-10 09:22] Waterstraal opened #259 "ui.bootstrap.collapse animation jumps when padding is added to element to be animated"
When using the collapse directive on an element that has padding on it, the animation is not smooth but jumps the remaining padded pixels.

I have prepared a plnkr demonstrating the issue: http://plnkr.co/edit/iHZHPYRgGdbouRUyh5xn?p=preview

[2014-12-10 09:31] #259 closed, assigned to nobody

[2014-12-11 19:33] minasvisual opened #260 "Treeview"
a tree view, timepicker and wizard steps is cool

[2014-12-12 12:28] lyo-shaker opened #261 "jqGrid.overrides.css: top labels, icons, search issues"
Here is css errors in overrides jqgrid css, look at sample in your site or check dev version (master) and open third-party\jqGrid\demo.html sample

here's fix for jqGrid.overrides.css

.ui-jqgrid-labels {
    height: 48px;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    line-height: 0;
}

.ui-jqgrid .ui-icon-desc {
    margin-top: -5px;
}

.ui-jqgrid .ui-icon-asc {
    margin-top: -10px;
}

.ui-jqgrid-labels

[2015-01-06 08:34] javasmile opened #262 "I find a bug"
<div id="son-dialog" style="display: none;">son</div>
		<div id="main-dialog" style="display: none;">main</div>
		<script>
			$(function() {
				var sonDialog = $('#son-dialog').dialog({
					autoOpen : false,
					modal : true
				});
				var mainDialog= $("#main-dialog").dialog({
					autoOpen : true,
					modal : true,
					buttons : {
						'click' : function() {
							sonDialog.dialog('open'

[2015-01-07 14:57] Jogai commented on #225
I cant find the bower package..

[2015-01-07 16:04] topaxi commented on #225
For those looking for a bower package, I'm currently using it like this:

[code]

[2015-03-04 10:35] audreyaw opened #263 "Widget size limit influencing the Google Map appearance"
Hi,

I have an issue with using google map. The background of the map becomes black in the area over the edge of the world map while it should be in its default colour. I've already fiddled with the code and found out that it's caused by limiting the size of the map.

This is my google map code:

<article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="jarviswidge

[2015-03-04 15:55] luchopintado commented on #170
Try this code:

[code]

[2015-04-23 22:38] rasperin opened #264 "SASS Parser"
Hey guys, the jquery-ui.theme.css makes the SASS parser fail on the gradient renderer. I can't post the SASS parser output here (without giving up confidential information) but thought it may (or may not) be something you cared to look in.

The error was in processing the gradiant commands, the jquery-ui.theme.min.css (for smoothness) does not throw any errors.

[2015-04-29 10:01] qinkun1234 opened #265 "node server.js start errors"
i have cloned the new version jquery-ui-bootstrap and run node js
➜  jquery-ui-bootstrap git:(masterbs3) node server.js

/Users/qk/github/jquery-ui-bootstrap/server.js:10
app.configure( function() {
    ^
TypeError: Object function (req, res, next) {
    app.handle(req, res, next);
  } has no method 'configure'
    at Object.<anonymous> (/Users/qk/github/jquery-ui-bootstrap/server.js:10:5)
    at

[2015-05-12 09:08] clementgpro commented on #236
This major bug is still there... Are you planning to fix it?
I'm using Chrome Version 39.0.2171.71

[2015-08-06 22:34] twigbranch opened #267 "Update bower"
Ran bower install jquery-ui-bootstrap but does not appear to be current.

[2015-08-07 07:03] Jogai commented on #267
See https://github.com/jquery-ui-bootstrap/jquery-ui-bootstrap/issues/225#issuecomment-69043264

[2015-08-10 21:39] nicdutil commented on #265
A quick fix:
In package.json, change:
"express": ^4.12.2
to
"express": ^3.21.0

Some work will need to be done to get this file working in express 4 (i.e remove configure and
replace express middleware by third party ones).

[2015-08-19 12:55] philwig commented on #255
Looks like I'm going to have to do this - add in CSS to make jQueryUI SelectMenu look pretty with the rest of this and Boostrap. Or has anyone already done this?

[2015-08-27 10:52] PeterEmil opened #268 "Sass instead of LESS"
With BootStrap v4-alpha out in the open I like this project to be Sass (sass-syntax) based instead of LESS. How easy is it to convert?

[2015-08-28 07:37] lucazen commented on #40
Sorry guys,
i still experience this issue in bootstrap 3, did you find any fix?

Thank you!
Luca

[2015-08-31 13:33] philwig commented on #255
That was actually 2 lines of CSS, only 1 of which is relevant to this. Not really an issue then.

[2015-08-31 13:41] leixu2txtek commented on #255
:)

[2015-08-31 13:41] #255 closed

[2015-09-22 10:38] gregtyler opened #269 "Remove transition on ui-slider-range"
The ui-slider-range class has a transition CSS property on its width which causes UI problems since the width cannot update as fast as the cursor moves.

This can be seen on the [components pages](https://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/components.html#slider) in a browser which supports transitions (any modern browser will do).

![jquery-ui-bootstrap-sliders](https://cloud.githu

[2015-11-10 12:52] gam6itko commented on #225
+1

[2015-12-29 03:49] johnx7271 opened #272 "Can newer version of jqueryui be used in place of jquery-ui-1.10.0.custom.min?"
Hi,
The question is as in title, say jquery-ui-1.11.4?
If I want to use the newer version, what should I do, just replace it with the built result of new version?
What customization has been done to jquery-ui-1.10.0.custom.min ?
There is no mentioning of about this in the document, It would be nice to have it in the doc.

Thanks
J Xie

[2016-02-18 08:54] adragosavac commented on #236
Hi, any news on this?

[2016-03-02 22:38] jvanasco opened #273 "standardize naming on css includes in custom-theme"
you use 2 naming styles:
    jquery-ui-1.10.3.custom.css
    jquery-ui-1.10.3.theme.css
    jquery.ui.1.10.3.ie.css

it would be great to consolidate on 1.  I keep thinking I made a typo but didn't.

[2016-03-29 09:43] appsmarina commented on #170
Thanks luchopintado

[2016-05-16 18:46] eacfje opened #274 "Why include jQuery files"
I'm looking at the instructions:

    Download the archive
    Unzip archive
    Locate the folder custom-theme inside the css folder inside the newly uncompressed file
    Move that folder inside the css directory of the website for which you want to use jquery-ui-bootstrap
    Include the appropriate .css files in the layout of your website

I'm not understanding why, if only the css directory i

[2016-06-09 17:48] Wol-3 commented on #259
hey

[2016-06-10 15:30] Pytry opened #275 "Webjars"
It would be nice to always have the latest build available on http://www.webjars.org

[2016-07-26 06:46] iraklisg commented on #170
thanks @luchopintado, that did the trick for me as well

[2016-08-29 02:31] spiritelf opened #276 "update"
why not update recently？

[2016-08-29 04:03] tiesont commented on #274
Those resources are all for the demo site.

[2016-11-21 12:08] tobodioya commented on #170
Thanks @luchopintado. That was helpful

[2016-12-01 18:57] Lazerbeak12345 opened #277 "When I try to drag a dialog box in the demo, it disappears."

[2016-12-01 18:58] Lazerbeak12345 commented on #277
After further inspection, it moved to a lower place on the page.

[2016-12-12 18:08] Lazerbeak12345 opened #278 "The Navbar button doesn't work in the demo with a small viewport."

[2016-12-12 18:21] Lazerbeak12345 opened #279 "cdn.js out of date"
The latest version that [cdn.js](https://cdnjs.com/) currently has for jQuery-ui-bootstrap is `v.5pre` but the latest version is `v1.0.0`

[2017-01-19 05:45] iamarsingh commented on #170
Thanks @luchopintado Code is fine but after this code picker is closing on selecting date

[2017-04-06 13:54] glerinsonum opened #280 "hello brother of good can help me with one thing"
@devadattas @rmetzler @BenHall @addyosmani @stephenfrank

How I Can Integrate This Beautiful Theme Into Bootstrap Studio.
Because, I would like to construct an canvas for drag&drop interactions, with bootstrap,jquery,jQueryUI,js.

[2017-05-19 13:34] betesh commented on #225
+1

[2017-08-15 13:49] jjoekoullas opened #284 "Repo abandoned?"
It looks like there's a lot of long standing open issues asking for simple things (cdn updates, bower updates, etc).

Has this repo been abandoned?  It's a shame this has been in v.01alpha for years.

[2017-08-15 14:43] ghost commented on #284
And now with bootstrap 4 probabbly will need a major revisit?

[2017-10-05 13:48] AhianZhang opened #285 "I think you need a Chinese UserGuide"
English only is not enough

[2017-11-06 06:00] silvapublic commented on #285
support up

[2017-12-04 19:49] andregio commented on #236
I'm having this issue on a project I'm working, but cannot reproduce it on the demo page. Is it fixed? Maybe it has something to do with jquery/jqueryUi versions?

[2017-12-04 21:31] andregio commented on #236
Seems like it's fixed by setting
`body { position: relative; }`

[2018-03-22 08:39] adamjimenez commented on #284
Is anyone maintaining a decent fork of this?

[2019-07-12 18:34] mcandre opened #287 "Bootstrap 3, 4 support"

[2019-12-24 11:49] mohebbo opened #288 "jquery-ui-bootstrap and bootstrap grid layout UI"
jquery-ui-bootstrap working properly but not using the grid layout

[2020-07-16 00:47] #247 closed