[2011-12-20 14:22] addyosmani opened #1 "Fix accordion 'jumpiness' issues"
At the moment some stray styling has meant that switching between one drawer in an accordion to another actually results in some visible 'jumpiness'. This may just be down to a border or margin that's been incorrectly set, but would be great to resolve.

Confirmed in Chrome and FF.

[2011-12-20 14:26] addyosmani opened #2 "Fix background positioning issues on buttons once active"
If you click on the 'run last action' button, you'll see that the active/down state currently results in this happening: http://imageshack.us/photo/my-images/196/screenshot20111220at142.png/

I believe it's down to some styles from the default/base jQuery UI theme this theme was built from changing the background position to 50%. Ideally, we don't want this to happen. Would be great to fix.

[2011-12-20 14:58] addyosmani commented on #2
Fixed by https://github.com/addyosmani/jquery-ui-bootstrap/pull/3

[2011-12-20 14:58] #2 closed, assigned to nobody

[2011-12-20 15:17] #1 closed, assigned to nobody

[2011-12-20 15:34] lightglitch opened #5 "Slider dragging issue"
My slider has a weird behavior, the background color and the picker are not synchronized with the mouse dragging.

The official JQuery UI slider have the correct behavior.

Tested on Firefox 8 e latest Chrome

[2011-12-20 15:36] addyosmani commented on #5
This appears to be okay in latest (as of a few minutes ago). Could you re-confirm that it's still an issue?

[2011-12-20 15:40] lightglitch commented on #5
It's ok on the latest, closing it.

[2011-12-20 15:40] #5 closed, assigned to nobody

[2011-12-20 15:44] addyosmani opened #6 "Minor discrepancies between padding/margin of components in Chrome/FF"
I've noticed that component padding appears to be different between Chrome and FF8/9: http://imageshack.us/photo/my-images/196/screenshot20111220at154.png/ (looking at the actual buttons rather than spacing between them).

Investigate to find out if this is the jQuery Ui demo page template breaking things or there are actual issues with the theme. Fix as necessary.

[2011-12-20 15:56] lightglitch opened #7 "Split Button Design Issue?"
![](http://i43.tinypic.com/dww8k7.png)

On top latest Chrome, on the bottom firefox 8.

[2011-12-20 15:58] lightglitch commented on #7
Also looks bad on IE 9

[2011-12-20 16:02] addyosmani commented on #7
Confirmed in FF8/9.

[2011-12-20 16:03] addyosmani commented on #7
btw, thank you for posting about these issues. If there is anything else at all you notice, feel free to post more and I'll make sure to fix.

[2011-12-20 22:00] #6 closed, assigned to nobody

[2011-12-28 02:34] addyosmani opened #9 "Release tasks"
- Cross-browser testing: IE7+, Chrome stable+, Opera -1, stable, next, FF 5+, Safari 4/5+
- Create a release page or a release post
- Code-review

[2011-12-28 02:39] addyosmani commented on #9
Issue:

Datepicker: slight jitter for the current active date. probably a margin/padding issue, if not to do with cell/indiv date cell heights.

[2011-12-28 03:25] addyosmani commented on #9
Tested across Chrome 14-18, Opera 11.6+, FF 7-9, Safari 5.0. The datepicker seems to be the only component with issues so far.

[2011-12-28 18:57] tonyjcamp opened #10 "Calendar text not centered"
The numerical dates on the calendar aren't centered in their boxes.

![Calendar](http://f.cl.ly/items/2i1C3c3W1b060g1f2n20/Screen%20Shot%202011-12-28%20at%2011.43.12%20AM.png)

[2011-12-29 13:08] #10 closed, assigned to nobody

[2011-12-29 13:45] addyosmani commented on #9
Suggested changes (across all browsers):
- slight spacing in button sets should be removed [fixed]
- only first/last accordion should be rounded (tried, backing out of this change)
- slight space on right of tab  [fixed]
- toolbar buttons have inconsistent heights  - needs a fix

[2011-12-29 13:49] addyosmani commented on #9
IE issues:
- main layout is breaking (easy fix)
- blue, green, red buttons not rounded in IE9, but the defaults are
- date widgets have some weird backgrounds in all versions of IE
- backgrounds on the wijmo menu (file, edit, about) gray in IE

[2011-12-30 01:01] #9 closed, assigned to nobody

[2011-12-30 01:01] addyosmani opened #12 "Wijmo menu: border tweaks"
From twitter:

Just 2 little issues on the menu: The border-radius on top left corner & padding:

http://t.co/h71aRGzU

[2011-12-30 13:54] ThisIsMissEm opened #13 "[feedback] buttons"
I've noted that not all buttons use the animation on the styles, like the download buttons do. The text of buttons is also selectable, which for a UI component doesn't seem like a great idea.

[2011-12-30 14:41] beverloo commented on #13
I'd like to add to this that the buttons don't seem to have a pressed state (using Chrome).

[2011-12-31 09:21] javajack commented on #13
Better be let's inherit bootstrap 2.0 button styles :)

[2011-12-31 13:41] mdi opened #14 "Error on Line 84 in CSS"
There is a random "x" on line 84 in the CSS.

[2011-12-31 20:35] #14 closed, assigned to nobody

[2012-01-02 11:45] shahnawazk opened #17 "Datepicker is not fully themed in IE9"
I'm using IE9 and when I open up the index.html page of jquery-ui-bootstrap the theme is not fully loaded for jQuery datepicker, also the drag/re-size of dialog are a bit laggy.

[2012-01-02 11:50] addyosmani commented on #17
@shahnawazk I've noticed a little bit of lag when waiting for the preview page to load (even locally) and I think it may be related to the issue you're experiencing. My gut instinct is that the third party widgets on the page are what are to blame.

Are you able to see any theming on the datepicker in IE9 on subsequent refreshes?

For future releases what we may do is move the third party widgets

[2012-01-02 11:50] shahnawazk opened #18 "Wijmo menu is not working in IE9"
Wijmo menu is not properly rendered and worked in IE9.

[2012-01-02 11:52] addyosmani commented on #13
@beverloo @miksago

Thanks for the feedback. I'm going to target adding both the pressed states and animations to the buttons for either 1.5 or 2.0

With respect to the text being selectable, there appear to be quite a few places allowing this (including GitHub) but I could be wrong. Does anyone else feel text on buttons shouldn't be selectable?

[2012-01-02 11:53] addyosmani commented on #18
@shahnawazk could you provide some more details about what isn't working? There's a known styling issue with parent elements that we're working on fixing, but the menus themselves should be sliding out. Is that not happening?

[2012-01-02 11:56] shahnawazk commented on #17
Ok, I'll try to include only jQuery ui widgets.

 Yes, I'm able to see basic theming, but the hover effect [blue] is missing that makes the Datepicker more awesome.

Thanks!

[2012-01-02 12:05] addyosmani commented on #17
@shahnawazk I'll leave this open until I can confirm, but if the hover effect is missing in IE9 that shouldn't take too long to fix. Thanks for reporting!

[2012-01-02 12:09] shahnawazk commented on #18
I think it's not styled properly [only in IE9] and when I hover them it does nothing but flickering.

Please see this: http://t.co/omOXtvlc

I'm closing both of my issues reported, hope you'll get it to work.

Nice job.

[2012-01-02 12:09] #18 closed, assigned to nobody

[2012-01-02 12:14] addyosmani commented on #18
@shahnawazk thanks for reporting!

[2012-01-02 12:14] shahnawazk commented on #17
Ok, I'll get it in the next release. thanks!

[2012-01-03 11:16] addyosmani opened #19 "IE9 Issues"
- primary, success and danger buttons appear to be overriding or not correctly rendering border-radius. Default buttons do not have this issue. Decide whether to have no border-radius in IE at all or do it properly
- selecting items in the button-set lose the border-radius.
- inactive tabs have a linear gradient background in IE whilst not in other browsers
- sample-ui-state-error has no border ra

[2012-01-03 12:19] addyosmani commented on #19
Adding these as separate issues to tackle in the tracker shortly.

[2012-01-03 12:19] addyosmani opened #20 "Inactive tabs have a linear gradient background in IE9, same with datepicker dates"
but not in other browsers. This needs to be fixed.

[2012-01-03 12:21] #20 closed, assigned to nobody

[2012-01-03 13:36] addyosmani opened #21 "Number of IE9 issues"
primary, success and danger buttons appear to be overriding or not correctly rendering border-radius.

[2012-01-03 13:37] addyosmani commented on #21
Also adding:
- selecting items in the button-set lose the border-radius.
- inactive tabs have a linear gradient background in IE whilst not in other browsers
- sample-ui-state-error has no border radius, other highlight states do

to this list

[2012-01-03 13:47] addyosmani commented on #21
- datepicker has gradient backgrounds for each date and a yellow highlight on the current selected date. Other browsers have a white background for dates and a gray background for selected dates.

[2012-01-03 13:47] #19 closed, assigned to nobody

[2012-01-03 13:48] #21 closed, assigned to nobody

[2012-01-03 14:14] Francisc commented on #12
Hey,

The top-left corner should not be rounded or did you mean something else?

[2012-01-03 15:14] addyosmani opened #22 "Wijmo menu: parent bg issues in IE9"
Menu parents are appearing gray (inheriting from ui-widget). This needs to be fixed to ensure the background color is either transparent or the same as the rest of the menu bar.

[2012-01-03 15:19] #22 closed, assigned to nobody

[2012-01-03 15:20] addyosmani commented on #17
This has been fixed by some recent commits. Closing.

[2012-01-03 15:20] #17 closed, assigned to nobody

[2012-01-03 15:42] addyosmani commented on #12
@Francisc I meant the top-left and right corners of the Wijmo menu need to be tweaked so that they aren't using a custom border radius (ie. are set to 0). At the moment with both top corners rounded it looks a little off.

[2012-01-03 16:54] javajack commented on #13
Does anyone else feel text on buttons shouldn't be selectable? +1 , yes , text being selected on a button is a big turn off in UX !

[2012-01-03 17:02] addyosmani commented on #13
I'm on the fence, but if we did opt for this, thoughts on this for the solution?:

Modern browsers:

[code]

with the `unselectable` expando attribute of the element being used for IE and Opera.

i.e

[code]

[2012-01-03 23:11] tjoneseng opened #24 "Hardcoded input width breaks bootstrap"
This CSS:

input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

Breaks the Bootstrap grid system (e.g., <input class

[2012-01-03 23:14] addyosmani commented on #24
@tjoneseng thanks for catching this. I agree that hardcoded widths should definitely not be used here - I'll fix this tomorrow.

[2012-01-04 17:40] addyosmani opened #25 "Remove text-shadow from keyboard shortcuts in Wijmo menu"
todo.

[2012-01-04 17:42] #24 closed, assigned to addyosmani

[2012-01-04 17:43] addyosmani commented on #25
Fix included in 86c50b1c7fc7ae7cdd85fbdcbc62848dae33579a

[2012-01-04 17:43] #25 closed, assigned to nobody

[2012-01-05 17:44] tnorthcutt commented on #13
@javajack @miksago can you go into more detail on why you think button text shouldn't be selectable?

[2012-01-07 20:42] ThisIsMissEm commented on #13
@tnorthcutt so, if you have a look at any native application, be it on desktop or mobile platforms, the buttons can't have their text selected. Eg, when selecting the text within the application (say a simple note pad app), then you wouldn't expect to select the text of the "save" button, because that's not what you're editing. It just seems strange.

[2012-01-07 20:43] addyosmani commented on #13
@miksago that's cool. I'm happy to move ahead with no text selectable, but I think we need to consider how this applies to components other than buttons. If the text cant be selected on buttons does that also suggest text should not be selectable on tabs, accordions etc too?

[2012-01-07 20:48] tnorthcutt commented on #13
@miksago That makes sense. However, I believe it's ok for things on the web to be different. I expect text on a website to be text (not an image) and to act like text (be selectable, for one thing). Not only do I expect that, but I believe it to be 'proper' or 'correct'.

[2012-01-08 14:49] LKay opened #27 "Tabs CSS like in boostrap, file input"
Fix CSS for jQui tabs so they would look like bootstrap's ones. The grey hover and font color and spaces between tabs etc.

Another thing , maybe you could make bootstrap like styling for file input using http://www.filamentgroup.com/lab/jquery_custom_file_input_book_designing_with_progressive_enhancement/ ?

[2012-01-08 14:54] addyosmani commented on #25
Fixed.

[2012-01-08 14:55] #12 closed, assigned to nobody

[2012-01-08 14:57] addyosmani commented on #27
Completely agree with this. I'll add improved hover states and spacing to the tabs this week.

With respect to the bootstrap like styling for file inputs, I think it's an interesting idea. I hadn't considered it as yet, but I don't think it would be that hard to do. Could you possibly post about the file inputs in a separate issue so that both of these requests can be handled independently?

Cheer

[2012-01-08 15:12] LKay opened #28 "CSS styled file input"
As you asked, separet issue for this feature.

Maybe you could make bootstrap like styling for file input using http://www.filamentgroup.com/lab/jquery_custom_file_input_book_designing_with_progressive_enhancement/ ?

With that, just like with regular inputs you could make width controling styles span1 - span12 as custom input does not work well with auto size width.

I used this method before in

[2012-01-09 23:53] panosru opened #29 "LESS sources?"
Hello, it would be great to have less files in order to see the changes made in original bootstrap less files.

[2012-01-10 15:52] kbsali commented on #27
BTW : the Jquery-UI-Tabs' css makes bootstrap's tabs NOT to work!

Any reason why we should have both?

[2012-01-11 10:16] addyosmani commented on #29
Slated for sometime after version 1.0. Just want to ensure the theme is stable across all components and states before we add in LESS sources :)

[2012-01-11 11:44] panosru commented on #29
Hello Addy, thanks for the reply! Well I can't see how this could affect the current development process. What I did is I compiled twitter's bootstrap less into CSS and applied a diff wit the bootstrap.css of this project and then I applied the differences on twitter's bootstrap less files. The only changes I saw was actually some altering of the filter and some others properties and from form.les

[2012-01-11 11:47] addyosmani commented on #29
@panosru Oh! I originally read this as wanting to move the entire theme (i.e modified bootstrap + jQuery UI theme over to LESS). If we're just talking about the bootstrap portion that would be absolutely fine. We could probably get that into one of the releases being made over the next week or two.

Would you like to make a PR against master with a `less` folder and the above in it?

[2012-01-11 12:19] panosru commented on #29
sure I will do it once I get back @ home :) I will post back here :)

[2012-01-11 21:55] panosru commented on #29
Hi! I created a pull request, I didn't knew how to add it on existing issue though... :/

[2012-01-12 10:48] addyosmani commented on #29
Hi @panosru. No worries at all! We can just reference https://github.com/addyosmani/jquery-ui-bootstrap/pull/30 here and I'll clean it up later. In terms of testing, have you compiled the LESS files and made sure that the output has no visual difference compared to the patched bootstrap file? I assume there wouldn't be but just checking before a merge occurs.

Thanks again!

[2012-01-12 12:40] #27 closed, assigned to nobody

[2012-01-12 13:13] panosru commented on #29
Hello, yes I had no visual difference but you can test it too :) ´lessc css/less/bootstrap.less > css/bootstrap.css´ :)

[2012-01-12 16:25] addyosmani commented on #29
@panosru looks good! cheers! I'll get this merged. Thanks again.

[2012-01-12 16:26] addyosmani commented on #29
Just landed this. Closing.

[2012-01-12 16:26] #29 closed, assigned to nobody

[2012-01-12 17:08] panosru commented on #7
Ok for IE9 (until IE10 will come out) but why supporting FF8 ? FF9 is stable and FF10 is almost ready to be released...

[2012-01-12 17:12] addyosmani commented on #7
@panosru check the comment date :) I believe FF8 was still around back in December which is why I may have mentioned support for it. I also generally make sure to test against older versions based on statcounter to ensure that we don't leave support for edge-cases out of the loop

[2012-01-12 17:16] panosru commented on #7
if I'm correct I think back then ff 9.0.1 was already stable :) Personally I don't support browsers that are not supported any more and besides that I strongly believe users should update their browsers for various reasons :)

[2012-01-12 19:09] panosru commented on #28
I like the idea so I started working on it :) I need to do some enchants on filament's script (not that ti's not good) in order to make it more configurable :)

Sneak peak: ![custom file upload](http://dl.dropbox.com/u/16165490/Screenshots/jquery-bootstrap-upload-file.png)

[2012-01-12 21:47] panosru commented on #28
@LKay check this https://github.com/addyosmani/jquery-ui-bootstrap/pull/31

[2012-01-13 02:54] tanqhnguyen commented on #13
I have just noticed that the buttons do not have pressed state like those using bootstrap, is it gonna be added in the future ? Because I think that the UX would be improved if people can see some changes (even if it is very small) when clicking on buttons.

[2012-01-13 02:55] panosru opened #32 "More cool features"
I love Twitter bootstrap and I love jQuery and jQuery UI so this means that I love jQuery UI Bootstrap theme and so do many people.

A request was made previously for adding custom input type fields and I loved the idea, now I believe there are more things that could be made for example [plupload](http://www.plupload.com/) integration,  [chosen](http://harvesthq.github.com/chosen/), [multiselect](

[2012-01-13 04:07] panosru commented on #32
I started working on plupload I can't promise when it will be ready because I'm a bit busy :/ but here is a preview on how it is so far (still long way to go :) )

![plupload jquery ui bootstrap](http://dl.dropbox.com/u/16165490/Screenshots/jquery-ui-bootstrap-plupload.png)

[2012-01-13 10:31] addyosmani commented on #32
@panosru Given that you've started working on some of these, I think it would be useful to share my roadmap for how I plan to tackle third party components :)
- We want to ensure where possible we are only overriding/replacing the theme for components (rather than changing the JS/jQuery for the plugins at all). This will allow people to just drop in the latest version of the plugin from upstream a

[2012-01-13 10:34] addyosmani commented on #13
@laoshanlung @beverloo previously mentioned this issue and it's going to be tackled in the next few weeks before we hit 1.0. I'm currently fleshing out the third party components we're going to support over the next week but this is definitely on my radar.

[2012-01-13 13:08] panosru commented on #32
@addyosmani Thanks for sharing your roadmap :)
1. Yes as you said, when possible overriding/replacing the theme for components would be the best way to go instead of modifying the js/jq code of plugins, but as I said in previous issue, some times it's not possible to do it or even if it will be possible it won't be as good as it would and in my way of thinking is _if you want to deliver something

[2012-01-13 16:47] mdi opened #33 "Syntax error in CSS"
On line 1348, there is an extra `}`.

[2012-01-13 17:20] #33 closed, assigned to nobody

[2012-01-14 12:56] addyosmani commented on #32
@panosru No worries. Thanks again for your input. I agree that there are cases where some plugins actually heavily make use of custom application of css classes to components in order to theme them and it's occasionally not possible for us to use CSS alone to solve this problem. I'm going to look some more at the additions you've been working on today. As I've mentioned, they'll probably land with

[2012-01-15 13:48] #28 closed, assigned to nobody

[2012-01-15 14:02] LKay opened #34 "CSS styled select"
jQuery UI team is developing plugin/widget to style select forms input. It is currently in jQuery UI Labs and probably will be added to official release some time. Maybe you should style it bootstrap like in advance?

http://www.filamentgroup.com/lab/jquery_ui_selectmenu_an_aria_accessible_plugin_for_styling_a_html_select/
https://github.com/fnagel/jquery-ui
https://github.com/fnagel/jquery-ui/wik

[2012-01-15 20:08] paglias opened #35 "Possibility to use pills for tabs"
it would be cool if we could use pills style tabs http://twitter.github.com/bootstrap/#navigation

[2012-01-17 11:08] fawwaz opened #36 "problem with buttons"
hi .. i run the test in this folder : …/bootstrap/js/tests/index.html

and i get some message like this one : http://prntscr.com/5da78

can you tell where the problem is ? i am not expert in using Javascript..

[2012-01-17 11:11] addyosmani commented on #36
That folder shouldn't be getting included (it's testing for bootstrap-specific JS components, which this pack doesn't use). I'll remove it for the next .x release. If you try using/accessing the main index, you shouldn't run into any problems.

[2012-01-17 11:14] fawwaz commented on #36
since i am not so expert in jquery and javascript, can you give me a documentation how to use your library ? i love that

[2012-01-17 20:23] jensenkd opened #37 "Support for Fullcalendar"
You have done a wonderful job on this project.  I think a great component to support would be Fullcalendar: http://arshaw.com/fullcalendar/

[2012-01-17 21:28] addyosmani commented on #36
@fawwaz The base index.html file is actually the same template you'll find provided by any of the themes over at jqueryui.com. I recommend reading through it and the various code samples as this is the  best way to understand how the various widgets work.

[2012-01-17 21:28] #36 closed, assigned to nobody

[2012-01-19 02:18] et opened #40 "Forms inside a modal dropdown not editable"
Bear with me on this, I'm trying something ridiculous. Essentially, I have a form inside a [dropdown menu](http://twitter.github.com/bootstrap/javascript.html#dropdown) which is inside a [dialog](http://jqueryui.com/demos/dialog/)

For whatever reasons, the input fields inside the dropdown are not editable. Input fields outside the dropdown are.

Here is a repository that demonstrates the issue: h

[2012-01-20 00:44] devinus commented on #13
Regarding buttons having selectable text, since this is supposed to be modeled after Bootstrap it should do what Bootstrap does. Bootstrap does have selectable button text.

[2012-01-20 15:36] panosru commented on #37
+1 for this! I'm a bit busy currently with a project I need to finish really quick (thus I paused the development of plupload for a while) if no one will get a hand on this request I will once I'll have some more time!

[2012-01-20 15:39] panosru commented on #34
I personally use chosen with twitter bootstrap and to be honest I like it more than filament's select approach, I used filament's approach more than a year ago (about when they released this approach) and back then was ok but now I find chosen much better to work with and more featured too :)

http://harvesthq.github.com/chosen/

[2012-01-20 15:54] panosru commented on #40
This happens because modal window have z-index of 1002 and the overlay have z-index of 1001 but ul.dropdown-menu have z-index of 900 as a result you can't interact with it as you supposed too...

With first glance in order for this to be fixed `z-index: 900;` need to be removed from `.menu-dropdown, .dropdown-menu {` but I'm not sure what side-effect this will cause.

[2012-01-20 16:15] juarezpaf commented on #37
+1

[2012-01-20 21:09] svnlto commented on #37
+1

[2012-01-22 23:48] evoskuil commented on #37
+1

[2012-01-23 00:01] addyosmani commented on #37
Soo..this calendar component looks interesting. In terms of being able to support theming it up, I can't imagine it taking an hour or two, but I'll be in honest in saying this is the first time I've seen this.

For the people +1'ing - have you used Fullcalendar before in production or just want it covered? :)

[2012-01-23 00:02] panosru commented on #37
@addyosmani I used it in production it comes very handy but it is ugly :P so indeed it needs styling, if you check all the latest admin templates in themeforest they all have support for fullcalendar

[2012-01-23 00:05] evoskuil commented on #37
I am planning on using it, but theming is an issue. Thanks for this project!

[2012-01-23 00:17] panosru commented on #37
@addyosmani @evoskuil it is really simple to style this thing and turn it into a really hot baby

[2012-01-23 00:21] addyosmani commented on #37
Okay. Let's go for it. There's a lot of work to still be done cleaning up the main theme that I'm focusing on, but if anyone wants to take a first stab at styling Fullcalendar please feel free to :)

The default styling at http://arshaw.com/fullcalendar/ isn't hugely different to what we're doing. I imagine what would probably need to be changed are the button styles (those will probably need to c

[2012-01-23 00:24] addyosmani commented on #35
So, I'm trying to think about how we would go about letting people do this with the jQuery UI tabs. It might be that we have a custom pills namespace that has to be specified as a class when defining the markup for the tabs and this isn't hugely different to what Twitter Bootstrap does.

If someone would like to try getting a PR for this together, happy to review. If not, it'll probably have to wa

[2012-01-23 01:51] lightglitch opened #46 "jplayer theme"
It would be nice to have a theme for http://jplayer.org/ but it's probably needed to do it from scratch.

[2012-01-23 07:30] paglias commented on #35
What about this: just add a class 'pills' to the tab's div then in css
have all style for it like this .pills > .ui-tabs-nav

[2012-01-23 12:43] addyosmani commented on #46
Is there a reason you prefer jPlayer over other solutions? I think a video theme would be an interesting future addition, but I'd like to ensure we select a solution that's recognised as proving the best balance between HTML5 support and Flash fallbacks.

[2012-01-23 13:42] lightglitch commented on #46
The only reason is that is based on jQuery and also  supports audio playlists, for me the best ones are:

http://jplayer.org/ and http://videojs.com/

but could be more that I don't know.

[2012-01-23 14:56] paglias opened #48 "Chrome, primary button in dialogs is "selected""
As you can see in this image when opening a dialog in chrome (i've not tested in other browsers) the primary button has a golden border like the one wee see in focused text input and around some links, It disappear after clicking somewhere
![Alt text](http://img7.imagebanana.com/img/dkqgi8hl/Selezione_001.png)

It's not a priority but it's not very nice to see it

[2012-01-23 15:10] addyosmani commented on #48
This has been in since 0.1 and I agree - it doesn't look great. I think we should be okay to remove it.

[2012-01-23 15:11] peol commented on #48
I agree, IF there's a focus-style on the button. It's easily removed with `outline: 0;`.

[2012-01-23 15:16] addyosmani commented on #48
Cheers @peol. I'll aim to get this one taken care of this week (unless anyone else submits a PR before that).

[2012-01-23 23:46] Francisc commented on #48
I can do that. Do you want the focus to be removes for all ui-button classed elements, or just ones in the .ui-dialog-buttonset?
Or perhaps should JavaScript not set focus on a button at all, thus preventing the focus halo to appear unless user clicks it.

[2012-01-23 23:48] addyosmani commented on #48
@Francisc thanks. I think we should be okay just removing it from the dialog for the moment. We can revisit removing it from the other types of buttons if it becomes a problem there.

[2012-01-23 23:49] Francisc commented on #48
OK, so CSS solution not JS.

[2012-01-24 00:13] addyosmani commented on #48
@Francisc Ideally yes. Wherever possible with this theme I'd like for us to make changes using the presentation layer rather than resorting to JS. I see you've just sent a PR upstream so I'll review and hopefully merge in the morning :)

[2012-01-24 00:17] Francisc commented on #48
OK. Thank you.

[2012-01-24 21:20] Francisc commented on #48
This should be closed.

[2012-01-24 21:21] #48 closed, assigned to addyosmani

[2012-01-24 21:28] Francisc opened #51 "Wijmo Menu Text Inputs Box Shadow"
This isn't a bug, but I would remove the bottom box-shadow from the text inputs in the wijmo menu.
It makes no sense there, nothing else has shadows.
Plus, when getting focus, it looks like the box is moving and growing a little.

What do you think?

[2012-01-24 21:30] addyosmani commented on #51
Thanks for the feedback @Francisc. For the moment I'd like us to hold off on any Wijmo-specific changes as the team over at Wijmo are currently working on bringing improved support (both visually and otherwise) to the theme for their widgets. Happy to consider other visual improvements on what they submit when it comes over :)

[2012-01-24 21:31] Francisc commented on #51
Ah, OK. Thanks.

[2012-01-24 21:31] #51 closed, assigned to nobody

[2012-01-25 02:23] jensenkd commented on #37
@addyosmani it's the most popular calendar plugin for JQuery available.  It has a huge user-base.  I've used it in production on multiple, large sites with much success.  I echo what the above posters say though...it aint purdy :)

[2012-01-25 13:41] addyosmani opened #52 "Discussion: Bootstrap 1.0 or shift to 2.0 (once final)"
I've just been reviewing Twitter Bootstrap 2.0 WIP and it introduces both a large number of new visual components and quite a shift in the visual appearance of the project since 1.0. At the request of the Bootstrap team, the WIP isn't being put up anywhere live pre-release but if you'd like to review it, you can grab 2.0 WIP here: https://github.com/twitter/bootstrap/tree/2.0-wip

This raises some

[2012-01-25 13:43] pusewicz commented on #52
+1

[2012-01-25 13:44] emincansumer commented on #52
+1

[2012-01-25 13:46] rollsappletree commented on #52
+1

[2012-01-25 13:47] dciccale commented on #52
+1

[2012-01-25 13:47] bennyschudel commented on #52
+1

[2012-01-25 13:49] JamesMGreene commented on #52
+1

Though you should probably leave a cut of 1.0 available for download.

[2012-01-25 13:50] jlnslv commented on #52
+1

[2012-01-25 13:51] MadeMyDay commented on #52
+1

[2012-01-25 13:52] tud commented on #52
+1

[2012-01-25 13:57] johnmichel commented on #52
+1

[2012-01-25 14:01] patik commented on #52
+1

[2012-01-25 14:04] nexeck commented on #52
+1

[2012-01-25 14:12] ddprrt commented on #52
+1

[2012-01-25 14:19] iknite commented on #52
+1

[2012-01-25 14:19] davej commented on #52
+1

[2012-01-25 14:19] qwertypants commented on #52
+1

[2012-01-25 14:26] Francisc commented on #52
+1

[2012-01-25 14:27] rubysolo commented on #52
+1

[2012-01-25 14:31] kshwetabh commented on #52
+1

[2012-01-25 14:34] daFish commented on #52
+1

[2012-01-25 14:47] Gavrisimo commented on #52
+1

[2012-01-25 14:59] WaYdotNET commented on #52
+1

[2012-01-25 15:23] huzzi commented on #52
+1

[2012-01-25 15:38] master-lincoln commented on #52
+1

[2012-01-25 16:51] neilholcomb commented on #52
+1

[2012-01-25 17:33] kriserickson commented on #52
+1

[2012-01-25 17:40] paglias commented on #52
+1

[2012-01-25 17:41] sindresorhus commented on #52
:+1:

[2012-01-25 17:58] studioromeo commented on #52
@sindresorhus how on earth did you do that?!

+1 although if you like 1.0 then theres no harm in sticking with that I guess

[2012-01-25 18:02] paglias commented on #52
using this code  ````
:+1:

[code]

[2012-01-25 18:37] jerriep commented on #52
+1

[2012-01-25 18:51] sindresorhus commented on #52
@studioromeo GitHub :octocat: has [emoji support](http://www.emoji-cheat-sheet.com/) :muscle:

[2012-01-25 20:29] robrbecker commented on #52
+1

[2012-01-26 09:37] screenm0nkey commented on #52
:thumbsup:

[2012-01-26 12:42] rakeshtembhurne commented on #52
+1

[2012-01-26 16:09] alexfigueiredo opened #53 "Filament Group File Input issue"
The input field shrinks every time a file is selected.

[2012-01-26 17:13] svnlto commented on #52
:whale:

[2012-01-26 18:04] jlsync commented on #52
+1

[2012-01-27 01:18] lightglitch commented on #52
+1

[2012-01-27 01:32] Hquant commented on #52
+1

[2012-01-27 01:40] euge commented on #52
+1

[2012-01-27 04:17] jaimesuez commented on #52
+1

[2012-01-28 15:18] clannadsystems commented on #52
+1 coz i need to play with new features now and i couldnt wait.

[2012-01-29 01:43] nfaiz commented on #52
+1

[2012-01-29 15:54] vierbergenlars commented on #52
:+1:

[2012-01-30 20:38] lrodziewicz commented on #52
+1

[2012-01-31 08:14] housekeeper commented on #52
+1

[2012-01-31 08:59] mbarbieri commented on #52
+1

[2012-01-31 15:55] sumityadav commented on #52
+1

[2012-01-31 15:56] jensenkd commented on #52
+1

[2012-01-31 16:09] ecaldwell commented on #52
+1

[2012-01-31 20:24] ajrkerr commented on #52
+1

[2012-01-31 22:04] zowber commented on #52
+1

[2012-01-31 22:07] zowber commented on #7
...plus, it's likely that if it looks right in FF10 it'll look right in FF8 anyway. Right?

[2012-01-31 22:37] marcuspocus commented on #52
+1

[2012-01-31 23:44] ghost commented on #52
:+1:

[2012-02-01 03:13] changtimwu commented on #52
+1

[2012-02-01 03:22] felixgogo commented on #52
+1

[2012-02-01 03:29] yorktsai commented on #52
+1

[2012-02-01 03:38] beata commented on #52
+1

[2012-02-01 04:22] diimpp commented on #52
+1

[2012-02-01 05:32] jahvi commented on #52
:+1:

[2012-02-01 07:09] alien3d commented on #52
+1

[2012-02-01 08:15] PhilAndrew commented on #37
Please let me know when this happen +1

[2012-02-01 10:06] gpetrov commented on #52
+1 and Bootstrap 2.0 is final now

[2012-02-01 10:12] RyanxHuang commented on #52
++1

[2012-02-01 10:13] havvg commented on #52
+2.0

[2012-02-01 10:28] antage commented on #52
+1

[2012-02-01 11:51] robertdean commented on #52
+1

[2012-02-01 13:11] panosru commented on #53
Could you give a chunk of code so we could reproduce it? Or a live example, anything that could help :)

Thanks

[2012-02-01 13:13] panosru commented on #52
+1

[2012-02-01 13:26] alexfigueiredo commented on #53
You can see it here http://addyosmani.github.com/jquery-ui-bootstrap/
Try to select a file, then do it again...

I've tested at Chrome 17.0.963.46, Firefox 10, IE9

[2012-02-01 13:30] panosru commented on #53
Hahaha it's funny! :P indeed it's a bug :P Sorry when I made it I didn't though of trying to add files again :P

I'll take a look into that :)

[2012-02-01 14:00] panosru commented on #53
@alexxfsilva [this](https://github.com/addyosmani/jquery-ui-bootstrap/pull/54) should work for you :)

[2012-02-01 14:17] alexfigueiredo commented on #53
Wow! That was fast...
Thank you!

[2012-02-01 14:24] panosru commented on #53
:) np

[2012-02-01 16:01] rdandy commented on #52
+1

[2012-02-01 17:00] alexfigueiredo commented on #52
+1

[2012-02-01 17:13] mdeltito commented on #52
+1

[2012-02-01 17:27] p3drosola commented on #52
+1

I love the responsive design support.

[2012-02-01 18:31] ghost commented on #52
+1

[2012-02-01 19:17] bdufresne commented on #52
-1 (just kidding)

[2012-02-01 19:18] ghost commented on #52
+1

[2012-02-01 22:09] volksman commented on #52
+1

[2012-02-02 01:54] nukr commented on #52
+1

[2012-02-02 07:51] AlexLittlejohn commented on #52
:+1:

[2012-02-02 15:31] panosru commented on #52
@addyosmani I did some briefly integration of jquery ui bootstrap with bootstrap 2 but I didn't changed the custom jquery ui theme I just added bootstrap 2 css and js...

The big work is to convert old jquery ui theme to look more like bootstrap 2.0 theme.

Maybe I'll work a bit more on that and dedicate some time on it.

The good part also is that now you don't need to hack bootstrap css files be

[2012-02-02 18:45] ahmdrefat opened #55 "Using Bootstrap 2.0"
Are you going to use bootstrap 2.0 in next release?!

[2012-02-02 18:50] havvg commented on #55
see #52

[2012-02-02 18:57] ahmdrefat commented on #52
+1

[2012-02-02 18:57] kelhusseiny commented on #52
+1

[2012-02-02 19:03] dennisoehme commented on #52
+1

[2012-02-02 19:20] zowber commented on #35
that, or use idPrefix http://jqueryui.com/demos/tabs/#option-idPrefix

[2012-02-02 21:17] addyosmani commented on #35
@paglias hadn't considered that before. Worth experimenting with!

[2012-02-02 21:17] addyosmani commented on #55
Please see https://github.com/addyosmani/jquery-ui-bootstrap/issues/52

[2012-02-02 21:18] #55 closed, assigned to nobody

[2012-02-02 21:23] addyosmani commented on #52
@panosru You raise a very valid point. One of the issues with building the first version was a heavy reliance on custom matching color schemes and where possible, I'd like to avoid this for the next version. I'm not the biggest fan in the world of LESS, but I'll try to experiment with it as an option :) It would definitely make maintaining sync with future versions of Bootstrap a lot easier than i

[2012-02-02 22:12] panosru commented on #52
@addyosmani Not only it would make maintaining new versions of bootstrap easier but as you noticed bootstrap 2 provides the ability of customization as a result if I customize my version of bootstrap then jquery ui bootstrap theme will adopt on my settings. I'm not really sure about that though because so far from what I noticed is that the customization tool generate's css and not less files, but

[2012-02-02 22:21] quangbahoa commented on #52
+1

[2012-02-02 22:49] pvulgaris commented on #52
+1

[2012-02-02 22:54] t1gr0u commented on #52
hi @panosru, @addyosmani,

let me if I can be any help on the LESS files

[2012-02-02 23:04] svnlto commented on #52
This might be a good starting point, only if I'm not missing the point completely :)

https://github.com/svnlto/jQueryUILess

[2012-02-02 23:07] panosru commented on #52
@svnlto I prefer to break apart @t1gr0u 's less file since he already added the variables in his less file so it would be much easier :) but this could be a good example on how we should abstract our theme in order to have a better scope of the code :)

[2012-02-02 23:08] panosru commented on #52
Also something about +1, I believe no more +1 are needed, we got the point now what is needed is contribution to make it happen :)

[2012-02-02 23:13] t1gr0u commented on #52
breaking the files would be good

[2012-02-02 23:17] xcambar commented on #52
simply: +1

[2012-02-03 00:18] t1gr0u commented on #52
i've broke down the LESS file: https://github.com/t1gr0u/jquery-ui-bootstrap

[2012-02-03 00:20] panosru commented on #52
@t1gr0u good work! I like it like that :)

[2012-02-03 00:26] t1gr0u commented on #52
it make easier to work on and to update :)

[2012-02-03 00:31] svnlto commented on #52
@t1gr0u good work!

[2012-02-03 00:33] t1gr0u commented on #52
@panosru , @svnlto thank you :)

[2012-02-03 00:41] perucomsultores commented on #52
+1

[2012-02-03 02:59] jeremysnyder commented on #52
+1

[2012-02-03 14:33] henvic commented on #52
+1

[2012-02-03 14:44] addyosmani commented on #52
@panosru Due to the number of votes we're continuing to receive on this and the fact the decision is now unanimous I think I'm going to close this thread and open a new one for 2.0 discussions solely.

[2012-02-03 14:44] #52 closed, assigned to nobody

[2012-02-03 14:46] addyosmani opened #56 "Upgrading to Bootstrap 2.0 (Implementation discussion)"
This issue is to discuss how we're going to implement the upgrade to 2.0 and follows from the conversations started in #52.

We probably need to hash out the LESS solution we're going to try using and decide on what we do want to target from Bootstrap 2.0, whether what we target can be matched against a jQuery UI widget or stable third party plugin etc.

//cc @panosru

[2012-02-03 14:58] panosru commented on #56
What I was thinking was to serve a bridge where we would have bootstrap and jquery along with custom css methods, so the file would look something like this:

[code]

The above would help to keep bootstrap and jquery ui in vendor structure so would be easier updated by the user and by developers. Also would allow to not hack the core files of each vendors resulting in easier maintenance for everyo

[2012-02-03 15:35] SystemParadox opened #57 "Positioning for jquery-ui button icons"
Hi. I'm in the process of switching over an existing jquery-ui app. I found that jquery-ui-bootstrap doesn't position button icons correctly (they end up in the top left, with the text underneath). Some of the components used can't easily be changed to do it 'the bootstrap way', so I came up with the following CSS to position them correctly.

Maybe this could be included in jquery-ui-bootstrap? Th

[2012-02-03 15:58] addyosmani commented on #57
@SystemParadox Agreed. I'm hoping to fix this as a part of the rewrite to upgrade to Bootstrap 2.0. Will keep open as a reminder.

[2012-02-03 16:05] SystemParadox commented on #57
Sounds good to me. Really looking forward to the bootstrap 2.0 version.
Many thanks.

[2012-02-03 17:01] SystemParadox commented on #57
Fixes for icon-only buttons:

[code]

Caution: Firefox has problems with absolute positioning and padding in buttons. Still broken in 7, works in 10 (don't know about 8 or 9). Consider avoiding padding on the button element itself. See: https://bugzilla.mozilla.org/show_bug.cgi?id=437722

[2012-02-03 17:14] addyosmani commented on #57
Thanks for posting these @SystemParadox. They'll definitely come in useful for patching.

[2012-02-05 14:53] panosru commented on #56
@addyosmani I did an attempt [here](https://github.com/panosru/jquery-ui-bootstrap) I changed the structured to be more clear than before I used the jquery-ui less files by @t1gr0u lot's of things need to be changed in the example page (index.html) also regarding wijmo need some care in order to work properly with new bootstrap...

I believe I will play with those today a bit more :)

[2012-02-05 17:39] addyosmani commented on #56
@panosru the structure you proposed sounds fairly reasonable for our first foray into this. As for the Wijmo components, I think I'll reach out to Wijmo again and see if they'd like to take part in some of our conversations about the update to Bootstrap 2.0. It may help to avoid issues later on!

[2012-02-05 17:52] panosru commented on #56
@addyosmani great! What do you think regarding wijmo 2 ? should we use it if we decide to update wijmo?

[2012-02-05 22:32] panosru commented on #56
I believe buttons are ready to go [now](https://github.com/panosru/jquery-ui-bootstrap/blob/master/css/less/custom-theme/button.less) I'll continue to the other elements.

[2012-02-06 05:27] panosru commented on #56
Acordion seems to be ready to go [now](https://github.com/panosru/jquery-ui-bootstrap/blob/master/css/less/custom-theme/accordion.less) jquery ui [core](https://github.com/panosru/jquery-ui-bootstrap/blob/master/css/less/custom-theme/core.less) and [dialog](https://github.com/panosru/jquery-ui-bootstrap/blob/master/css/less/custom-theme/dialog.less) css modified to fill the needs.

[2012-02-06 05:33] panosru commented on #56
I uploaded integration progress in my [dropbox](http://db.tt/ztFYIRis) account so you could [check it out](http://dl.dropbox.com/u/16165490/jquery-ui-bootstrap/index.html). Of course there is still work to be done in order get this fully integrated.

[2012-02-06 07:59] panosru commented on #56
Sliders seems to be working fine, also I removed outline from a tags because I find it annoying :)

[2012-02-06 10:45] t1gr0u commented on #56
@panosru there is a little typo in "variable.less" last line
"@ui-yellow: e4c652;"  needs to be "@ui-yellow: #e4c652;"

[2012-02-06 19:56] panosru commented on #56
@t1gr0u I didn't noticed it :) thanks :)

[2012-02-06 20:25] addyosmani commented on #56
@panosru thanks for your efforts on this so far! It looks like we'll need to tweak up the namespacing as it's affecting the wijmo menu at the moment and the toolbar is a little broken, but the rest looks good!.

[2012-02-06 20:31] panosru commented on #56
@addyosmani I didn't worked at all on wijmo, I believe we need to discuss about wijmo a bit more, if we will use the v2 or if we'll stick with current version. Regarding toolbar it need some tweeking to work, it works on firefox though. Basically many things need to be tweeked here and there.

Let me know how do you prefer me to continue on that one, maybe you should create a dev branch and I send

[2012-02-07 00:29] panosru commented on #56
[Bootstrap2-Dev](https://github.com/addyosmani/jquery-ui-bootstrap/tree/Bootstrap2-Dev) branch created in case anyone want to contribute into integration of bootstrap 2 with jquery ui bootstrap, so far lot's of things are already done but lot's of things need to be done too :)

@addyosmani Thank you for letting me contribute on the project directly :) I appriciate it :)

[2012-02-08 17:06] paulsperanza opened #58 "Support for jqGrid"
I would love to see support for triands' jqGrid.

http://trirand.com/blog/jqgrid/jqgrid.html

I took a quick stab at substituting the jquery ui css for it and the problem with the bootstrap css is that the jqGrid uses dialog and accordion classes so it get a white title bar with silver header and footers. If anyone has an idea of a way to make this look good I'm all ears.

Great job Addy -

Paul S

[2012-02-08 17:10] addyosmani commented on #58
Thanks. This is actually something I've experimented with before (see http://addyosmani.com/blog/jquery-ui-bootstrap-0-2-released/) and I plan on addressing it in more depth after we've moved onto Bootstrap 2.0.

[2012-02-08 22:40] panosru commented on #58
@paulsperanza personally I'm not really fun of those implementations, not that is not good but I believe it's more strict into a certain UI lib with viewports etc, like Dojo or ExtJS, of course with the proper CSS it may be adopt into bootstrap no question about it but to be honest I never worked with it...

[2012-02-09 03:34] panosru commented on #56
Sorry for not being very active lately, I got few personal things to take care of :)

cheers !

[2012-02-13 01:20] evoskuil opened #59 "conflicts with bootstrap.css"
I've been using jquery-ui-bootstrap with bootstrap.css and have noticed a couple of conflicts which seem unnecessary. For example, jquery-ui-bootstrap styles input[type="text"]. This is of course not a selection unique to jquery-ui, and bootstrap already applies its style to this selector. Conflicts with bootstrap are invited by styling selections that are not unique to jquery-ui. In this case the

[2012-02-13 01:23] evoskuil opened #60 "generation from .less"
It would be very helpful if jquery-ui-bootstrap could be generated from a .less definition that in turn takes dependencies on the bootstrap .less variables file.

[2012-02-13 01:25] evoskuil commented on #60
just noticed that this has been added in the last few days - great to see

[2012-02-13 01:25] #60 closed, assigned to nobody

[2012-02-13 09:10] panosru commented on #59
bootstrap.css file is not related to jQuery UI thus it's styles don't have `.ui-` prefix, of course I can see your point it is somethings that I will try to avoid to be happen in jQuery UI Bootstrap project on next release which will integrate Bootstrap 2 and try to be vendor independent in order to be able to update the project easier.

For now me and @addyosmani  we focus on getting Bootstrap 2

[2012-02-13 09:11] panosru commented on #57
@SystemParadox thanks for the input, it is something that definitely get more attention in Bootstrap 2 integration.

[2012-02-13 09:43] panosru commented on #60
As you can [see](https://github.com/addyosmani/jquery-ui-bootstrap/tree/Bootstrap2-Dev/css/less) in the upcoming version of this project most of the css are written in less

[2012-02-13 09:52] evoskuil commented on #59
Thanks - bootstrap 2 support would be good - especially since I'm already converted to v2 :). I realize that bootstrap is not related to jquery-ui, but my understanding is that jquery-ui-bootstrap aims to make jquery-ui look like bootstrap. In doing so it should really only touch styles that are unique to jquery-ui.

[2012-02-13 09:58] panosru commented on #59
jQuery UI **Theme** which is inside jQuery UI **Project** aims to make jQuery UI look like Bootstrap, other than that the project contain the Bootstrap itself along with some extra features which aim to be also Bootstrap-like :)

[2012-02-13 10:10] evoskuil commented on #59
I'm sorry, but I'm not following you. This project has the stated goal of providing "a jQuery UI-compatible theme inspired by Bootstrap's design" that can work alongside bootstrap. All I'm suggesting is that, in my opinion, for this goal to be achieved the project should not cause any modifications to controls (like input text) that are not unique to jquery-ui. Otherwise users will have to remove

[2012-02-14 22:29] panosru commented on #56
Added [tabs](https://github.com/addyosmani/jquery-ui-bootstrap/blob/Bootstrap2-Dev/css/less/custom-theme/tabs.less) support, but I had to use `!important` in some places and I couldn't find any other way to avoid it... I'll re-visit it again once everything will be done and the clean-up process will begin, in mean-while if anyone could fork/suggest something it would be appreciated :)

PS: Sorry f

[2012-02-14 22:34] addyosmani commented on #56
@panosru No worries! I've been held up on a few other projects recently and I know how hard it can be to contribute consistently :) With respect to most of the work going into the B2-dev branch, I think I'll probably spend this next weekend going through it all and patching (if needed) or completing as much as possible of what is outstanding.

With respect to Wijmo, I would say let's keep it as an

[2012-02-14 22:41] panosru commented on #56
I agree on wijmo and third party components, lets focus first on jquery ui components to match bootstrap 2 theme and then we can work on third party components :)

[offtopic]
I wonder why bootstrap 2 menu don't give an option for drop downs to show on hover, ok I get that the on-hover even won't work on touch devices, but what if I don't care? I believe they should provide an on-hover event for dr

[2012-02-14 22:46] addyosmani commented on #56
@panosru On the offtopic: I too found that a little strange, but it may be something they address in the next version.

I'll definitely give you a shout if I need help with the less files. It might be useful for us to get someone else in just to do a sanitation review on them to make sure they're readable etc, but great job getting the baseline in place so far!

[2012-02-14 22:48] panosru commented on #56
@addyosmani thanks mate, you also done a great job on getting this project live ;)

[2012-02-15 09:57] panosru opened #61 "DateRangePicker conflict with code prettify"
It seems that DateRangePicker conflicts with [google-code-prettify](http://code.google.com/p/google-code-prettify/) most of the times you don't need code prettify but in case you want it, consider removing DateRangePicker :)

[2012-02-15 10:18] addyosmani commented on #61
I think we should probably document this as a part of the wiki.

[2012-02-15 10:22] panosru commented on #61
Probably for jQuery UI Bootstrap2 we will need a new page in wiki :P

Regarding DateRangePicker I personally never liked it and the first thing I do in my projects is to remove it :P I used it couple of times but I believe it is too heavy for most of the needs with date picking.

I have my own simplified version of it which I use. We can either stick with it, or provide our own version of it (of c

[2012-02-15 10:26] panosru commented on #56
Regarding tabs, the support is only for top positioned tabs for now... other positions like left, right, bottom are not yet tested and probably won't work currently.

[2012-02-15 10:29] addyosmani commented on #61
@panosru I'd like to keep the DateRangePicker as a part of the project, but as part of the 2.0 migration, I want us to more clearly separate the third party plugins from the rest of the project. They'll probably each have their own demo page to avoid us loading/theming 5+ third party widgets on the same page.

[2012-02-15 10:31] addyosmani commented on #56
That's cool. 1.0  only supported top positioned tabs, but using something like http://keith-wood.name/uiTabs.html we can probably get support for everything Bootstrap 2.0 does at the moment.

[2012-02-15 10:33] panosru commented on #61
I believe (as you too) that jQuery UI Bootstrap 2 should focus **only** on bringing the jQuery UI components visually as close possible to Bootstrap 2, this is the goal I think of the project otherwise it should be renamed :P if I'm correct then I think we could have 3rd party and custom modules separated in **vendor** folder and have a demo page for each vendor individually.

[2012-02-15 10:35] panosru commented on #56
yes since B2 supports 4 way positioned tabs we could have it too.

[2012-02-16 19:47] tim-peterson commented on #46
i agree the playlist functionality sets apart jplayer, would be nice if it could have a better theme, the jplayer circle player would be even better!

[2012-02-16 21:01] pltaylor opened #62 "Resizable not working in combination with Bootstrap 2.0"
I realize there is an on-going discussion about how to implement 2.0 but this JSFiddle shows how the resizable functionality doesn't work when used in conjunction with 2.0.

http://jsfiddle.net/pltaylor3/9WZ7j/

[2012-02-16 21:03] addyosmani commented on #62
I don't believe we've yet tested resizable behaviours with Bootstrap and jQuery UI, but if there's a confirmed issue with this we'll definitely do our best to normalize it again.

[2012-02-16 21:07] pltaylor commented on #62
I'm going to dig further into it on my end tomorrow....but I figured I would bring it to your attention.

[2012-02-16 21:11] addyosmani commented on #62
Thanks to bringing it to our attention :)

[2012-02-20 01:15] addyosmani commented on #62
Closing this as we've agreed to do it as a part of 2.0.

[2012-02-20 01:15] #62 closed, assigned to nobody

[2012-02-20 16:33] benli2023 commented on #58
+1

[2012-02-24 23:20] dirtshoot commented on #59
Any time frame on Bootstrap v2? Just found your project. I was using flckr theme from ui as it is pretty good match with few css overrides...

[2012-02-29 17:03] sindresorhus commented on #56
On the offtopic:
It's because they feel that user intended actions should require a click. Mark Otto (creator of Bootstrap) writes [about it](http://www.markdotto.com/2012/02/27/bootstrap-explained-dropdowns/) on his blog.

[2012-03-01 09:06] panosru commented on #56
@sindresorhus well this is not an excuse for not giving at least the option to have it on hover, even if it's not by default like this... but thanks for letting us know about it :)

[2012-03-01 09:20] sindresorhus commented on #56
@panosru You should voice your opinion about it [here](https://github.com/twitter/bootstrap/issues/1436).

[2012-03-01 09:23] panosru commented on #56
@sindresorhus thanks, I just did :)

[2012-03-03 06:00] cscairns commented on #56
guys, thanks for working to save the world...i'm eager to see how this framework matures...i need it!

[2012-03-07 13:54] ethanhuff opened #63 "Convert Dropdown to Button Set"
This is not so much an issue as there is no documentation and I am horrible at JS. How can I convert some dropdowns to the nice looking button sets? I am using Roots Theme (WP + TWBS) and TheCartPress.

[2012-03-12 15:19] alexfigueiredo opened #64 "jQuery 1.7.1"
Just FYI...

jQuery UI 1.8.18 already comes with jQuery 1.7.1.

: )

[2012-03-21 12:50] bowerm opened #65 "File Input Problems on IE"
The File Input does not upload anything when using IE. Tested on IE9.
You can click browse, select a file, and the file name appears in the text part of the control. However when trying to submit/post the form nothing happens.

[2012-03-24 18:12] geekbuntu opened #66 "ui theme-able?"
hi, nice integration of projects, just wondering if themroller is still an option?

thanks for the work Addy.
tia,

[2012-03-24 18:38] addyosmani commented on #66
For the most part this should still be able to work with Theme-roller. There are aspects of the project (e.g bootstrap.css) which we might have to discuss though - would someone expect these styles to be applied to the rest of the document or just those styles that affect the UI components (I would say the latter makes the most sense).

[2012-03-29 09:44] panosru commented on #32
For those who are wondering how plupload  progress goes, I have to admit that I took a decision to not create a theme for twitter bootstrap as there are already two great projects that use upload functionality with twitter bootstrap theme.

The one is [UploadKit](https://github.com/entropillc/UploadKit) and the other is [jQuery File Upload](https://github.com/blueimp/jQuery-File-Upload)

Use which

[2012-03-31 17:22] garrettlancaster commented on #59
I agree with evoskull, this project is very useful, but should be providing Bootstrap styling to jquery UI, not altering my other styling (Bootstrap or otherwise).  This is especially annoying since it is overwriting the styling Bootstrap itself provides.  I imagine the primary use case for the project is to be used in conjunction with the Bootstrap framework, and this makes it more difficult.

[2012-03-31 17:40] addyosmani commented on #59
@evoskuil If you could point me to a sample of the patched version you've been working on I would be happy to consider revising what jquery-ui-bootstrap does and doesn't override - even happier if it was in the form of a PR.

The challenge remains getting as consistent a visual look as possible when a user does opt to use Bootstrap alongside this project and when they don't. The first version was

[2012-03-31 17:44] addyosmani commented on #59
If I'm correct we need to remove the following overrides:

[code]

This would mean that as a rule of the thumb, the project _must_ remain within the confines of the `.ui` namespace (which I don't really mind). We can work around that.

any others?

[2012-04-10 15:27] fabriziofortino commented on #34
@panosru Have you customized the chosen css to work with bootstrap style? I am trying to make them working together but so far I cannot display the chosen multiple select properly.

Thanks

[2012-04-10 16:44] geekbuntu commented on #66
simply adding the jq-ui them out of the box, it doesn't seem to effect much.  it almost seems it would be counter-intuitive to try to apply style changes (as in why were you using bootstrap... exactly?) :-D

if i have any extra time, i will try to test widgets - outside the scope of bootstrap.

[2012-04-12 15:15] panosru commented on #34
@fabriziofortino I dropped chosen to be honest and I use [select2](https://github.com/ivaynberg/select2) which is an extend of chosen much better! :)

[2012-04-12 16:26] fabriziofortino commented on #34
@panosru I fixed the problem with chosen: I was calling the chosen() function on a select that was not yet displayed so the width was set to 0px. Btw thank you for the select2 link: it looks very interesting!

[2012-04-12 19:23] remontees opened #68 "Add align options"

[2012-04-12 19:50] addyosmani commented on #68
Could you give me a little more detail on what type of align options you're after and in what context?

[2012-04-12 19:51] remontees commented on #68
buttons with right, center, and left align.

Sorry, I speak French.

[2012-04-20 18:56] ghost opened #69 "Outline: none on sliders"
If possible can you put an outline:none CSS property on the sliders. The dotted border around the knob is distracting.

[2012-04-20 18:58] addyosmani commented on #69
Agreed. This should be addressed in the next version.

[2012-04-28 15:07] mericano1 commented on #37
+1

[2012-05-03 01:46] brennovich commented on #37
I'm using Fullcalendar and Bootstrap in a Rails project, so i needed to integrate both.

https://gist.github.com/2582439

[Example](http://d.pr/i/axWY).

[2012-05-05 10:16] panosru commented on #37
@brennovich good job dude! :)

[2012-05-10 07:24] syndrael opened #70 "Bootstrap Plugin Test Suite failed on 'Buttons'"
Hello,
When i try this page: bootstrap/js/tests/index.html
i get errors on buttons:
42. bootstrap-buttons: should return set state to loading (2, 2, 4)Rerun

[code]

and:

bootstrap-buttons: should return reset state (2, 5, 7)Rerun

[code]

I've tried it on Firefox 12 and Chromium 20.
Best regards
S.

[2012-05-10 07:28] syndrael opened #71 "Conflict between JqueryUI buttonset and bootstrap-buttons ?"
Hello,
bootstrap-buttons make possible to show a pushed button
JqueryUI make possible aligned buttons in a block.
But i can't do both together, i mean that i'd like a buttonset AND anywhere (outside buttonset) an other button which can be pushed.
If i create a buttonset and i add bootstrap-buttons.js, my buttonset become a radio button block.
And if i don't include bootstrap-buttons.js, my button

[2012-05-19 15:51] Alir3z4 opened #72 "Some ui-icon-* css classes are missed"
Seems these icon css classes are missed.
- ui-icon-globe
- ui-icon-file
- ui.icon-cog

[2012-05-19 16:13] Alir3z4 commented on #72
I think i made pretty mistake that to open this issue, because now i found-out this classes are responsible to the jquery-ui icons.

But if there were some wrapper for twitter-bootstrap icons classes it would be prevent some confusing about them.

[2012-05-19 16:13] #72 closed, assigned to nobody

[2012-05-20 11:50] addyosmani commented on #64
Thanks for the heads up!. We'll address this for the next version.

[2012-05-20 11:50] #64 closed, assigned to nobody

[2012-05-20 11:51] addyosmani commented on #70
My apologies. The test suite was pulled from Bootstrap but isn't being applied to the current project. The next version may however come with its own test suite.

[2012-05-20 11:51] #70 closed, assigned to nobody

[2012-05-20 11:52] addyosmani commented on #56
It's been a few months since I last had time to work on upgrading the project and I think it will probably be another few weeks before I can put time into doing this for Bootstrap V2. Its probably something that would require a weekend sprint of some sort in late June or early July, but we could do it properly, document and test it etc. If anyone on this thread is interested in helping with that e

[2012-05-20 19:36] sindresorhus commented on #56
Count me in ;)

[2012-05-20 19:55] addyosmani commented on #56
\o/

On Sunday, 20 May 2012, Sindre Sorhus wrote:

##

_Addy Osmani_

Developer Programs Engineer at Google
Blogger at: http://addyosmani.com
Phone: +44 7501 594 382

[2012-05-21 05:16] priscillahuang commented on #66
any chance to get the themeroller URL for this bootstrap theme? would be great, thanks!

[2012-05-23 20:27] geekbuntu commented on #66
from what i've seen/tried - it looks easier to just approach styling from the boostrap perspective. not to mention, there are a lot of designers liking bootstrap - so themes are popping up quickly.

[2012-05-23 20:28] geekbuntu opened #73 "sites made with ui-bs?"
has anyone been sending you any urls of sites they made with ui-bs?
curious to see how the tool set has effected development. :)

[2012-05-23 20:30] addyosmani commented on #73
I haven't received any site urls from people using the project I'm afraid. This might change once Bootstrap 2.0 integration is finally over!

[2012-05-26 04:52] evoskuil commented on #59
Sorry for the delay. It's been a while since I looked at the specifics, but that sounds correct.

[2012-05-31 05:51] cheenu commented on #37
I think support for FullCalendar will be fantastic. +1

[2012-05-31 08:13] rabu81 commented on #34
hi, I have done some quick css overwrites to make parts of _chosen_ match the Bootstrap form styling, see it here: https://gist.github.com/2841808

[2012-06-01 08:17] Pargan opened #74 "With Jquery modal Drop Down not show over the Dialog."
When i'm click on the drop down its option showing inside the modal dialog . but i need to show this option list over the dialog.

<script >$( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            Cancel: function() {
                    $(this).dialog( "close" );
            },
            close: function() {

[2012-06-03 22:40] brennovich commented on #37
I made a [pull request](https://github.com/addyosmani/jquery-ui-bootstrap/pull/75).

[2012-06-03 23:23] panosru commented on #37
@brennovich really nice work on that one :)

[2012-06-08 14:21] jfrux commented on #56
I'm definitely interested in contributing my time.

[2012-06-11 16:09] tkrotoff commented on #37
For those interested, I've integrated FullCalendar with Twitter Bootstrap without using jquery-ui-bootstrap.
The integration is only done for the buttons (fc-button inside FullCalendar), the rest already looks good. In the end FullCalendar buttons behave exactly the way Bootstrap does it.

Since there is no need for jQuery UI (beside draggable and resizable), your web site will be quite lighter.

[2012-06-13 13:13] yankidank opened #76 "File Input Shrinks on Change"
When you select a file for the File Input function, then change the selected object, the width of the input field will shrink in width. If you keep changing the selected item, it will continue losing width.

[2012-06-13 13:20] panosru commented on #76
@yankidank Hi! This is a duplicate of solved issue #53, take a look there.

[2012-06-13 13:20] #76 closed, assigned to nobody

[2012-06-17 22:45] all3nT opened #77 "Ui-Button-Primary"
I am unable to get the ui-button-primary effect to show up when I have buttons in a dialog box. The ui-button-primary effect works fine on buttons everywhere else. I can create ui-button-primary buttons in the dialog by use the dialog button attribute. However, this is annoying because it prevents me from customizing the location of my buttons in the dialog box. The current method limits the ui-bu

[2012-06-19 20:18] jvosloo commented on #65
Same here

[2012-06-21 06:51] jvosloo commented on #65
Anyone?

[2012-06-26 19:27] nilskp opened #78 "Is this project dead? Lets get it rolling again."

[2012-06-26 20:03] addyosmani commented on #78
Project isn't dead. We have plans on updating in a few weeks once releases
for some other projects are out the door.

On Tuesday, June 26, 2012, nilskp <
reply@reply.github.com>
wrote:

##

_Addy Osmani_

Developer Programs Engineer at Google
Blogger at: http://addyosmani.com
Phone: +44 7501 594 382

[2012-06-27 01:40] adityamenon commented on #52
:star::star::star::star::star:

[2012-06-27 05:49] hackervera commented on #52
the only octo anything "actual" emoji is :octopus:

[2012-06-27 09:58] effectjam commented on #53
Thanks for fixing above issue, I update as in "#54 from panosru/patch-1.." but I found another issue on Chrome only, not on IE and Firefox, when choosing then change and cancel. It seems to shrink in vertical.

[2012-06-28 18:33] ghost commented on #78
I thought it was dead as well.

[2012-07-05 08:41] foxel opened #80 "Bootstrap 2 LESS branch"
How soon this branch will be usable?
Some things are hardly broken for now:
- tabs are not aligned
- colors are not inherited from bootstrap config

[2012-07-05 08:48] addyosmani commented on #80
This branch was abandoned but we plan to rewrite the project to use
Bootstrap 2 in a week or so.
On Jul 5, 2012 9:41 AM, "Andrey Kupreychik" <
reply@reply.github.com>
wrote:

[2012-07-05 09:42] foxel commented on #80
will it use bootsrap less variables for styling?

P.S. sent a pull request for some changes i made to make it work for me

[2012-07-05 09:46] addyosmani commented on #80
@foxel it will indeed. Thanks for the PR! If you're interested in taking part in the Bootstrap 2 sprint to get this project up to scratch happy to let you know when we're doing it.

[2012-07-07 15:33] #73 closed, assigned to nobody

[2012-07-07 15:39] #80 closed, assigned to nobody

[2012-07-07 15:44] addyosmani commented on #56
I would like to aim for us to restart work on the Bootstrap 2.0 LESS branch soon with the aim for wrapping up in time for an end of July or early August release. Based on initial reviews, we have a number of components we still have left to work on but I'd love to get this project kick-started again.

@panosru would you be available to help? Would be great to start looking at specifically what in

[2012-07-07 16:46] panosru commented on #56
@addyosmani Hi, I really would love to but unfortunately I won't be available during summer :(

[2012-07-11 03:50] wyqydsyq commented on #77
Why not just use the native bootstrap `.btn` and `.btn-primary` for buttons in the content of a dialog?

[2012-07-11 21:36] all3nT commented on #77
Great idea. I forgot that those native classes where included. I will give it a try.

[2012-07-13 18:32] urobles opened #83 "JQuery UI Layout for Bootstrap"
Hi Addy,

I know you have been working on the JQuery UI Layout for Bootstrap and wanted to know when it is going to be available for downloading: http://twitter.com/addy_osmani/status/188049479591673856/photo/1

Thanks and keep the good job!

Ulises

[2012-07-13 22:03] nhodges opened #84 "jQuery timepicker?"
I see datepicker has been included, how about timepicker?

https://github.com/jdewit/bootstrap-timepicker

[2012-07-13 22:05] addyosmani commented on #84
Is there a screenshot of the timepicker available anywhere? (mobile, but can clone and check myself a little later).

[2012-07-13 22:07] nhodges commented on #84
Just snapped one off their demo/documentation for you: http://i.imgur.com/No0gl.jpg

I use it in conjunction with datepicker on one of my projects and they fit together well.

[2012-07-13 23:03] all3nT commented on #77
Thanks, it worked with .btn and .primary.

[2012-07-13 23:03] #77 closed, assigned to nobody

[2012-07-14 06:01] addyosmani commented on #84
This seems like an interesting addition. We'll consider it when we're doing the rewrite of this project in a week or two. Thanks!

[2012-07-14 06:02] addyosmani commented on #83
The themed layout component will be available once we've finished the rewrite of this project. We plan to start this in a week or two and as long as we don't run into major issues this should land and be available in 3 weeks. Sorry for the delay!

[2012-07-14 06:04] addyosmani commented on #65
Do you have a test case you can post up anywhere that reproduces this issue? The file upload provided is really just the barebones visual component for uploading files and you do need to implement your own backend service for performing the actual file upload. Are you saying the submit isn't actually getting triggered?

[2012-07-14 06:05] #63 closed, assigned to nobody

[2012-07-14 06:09] addyosmani commented on #46
Looking at the list of features we need to implement for V2 of this project, I think we're going to end up focusing on UI components that developers can use to build web apps. As such I'm going to close this feature request as patchwelcome. If someone would like to submit a PR with the work included we'd be happy to merge.

[2012-07-14 06:09] #46 closed, assigned to nobody

[2012-07-14 06:27] jvosloo commented on #65
It's hooked up to a Java backend and files upload fine in Google Chrome, Firefox, etc, just not IE9 (I haven't tested older versions of IE yet). I debugged a little and can tell that for some reason the form submit event isn't triggered in IE, unfortunately there's also no errors popping up in the due tools console.   I don't have a test case posted anywhere, since it would require a backend.

[2012-07-14 10:36] bowerm commented on #65
We're using an ASP.NET backend, but apart from that I agree with everything Johan said. The problem seems to be that the submit doesn't trigger.

[2012-07-16 01:48] nhodges commented on #84
Not a problem, glad I could contribute two cents. :)

[2012-07-18 09:12] b1 opened #85 "Don't close menu on Default Rangepicker and 2 inputs Rangepicker"
On chromium 18 have problems with datepickers.
Click 'Default Rangepicker' then ' inputs Rangepicker' and two menus covers each other

[2012-07-20 11:05] joeldavuk commented on #37
Here's tkrotoff's solution in .less

[code]

[2012-07-20 14:20] rhollhumer opened #86 "Script files - what to load and in what order"
I am having a tough time trying to figure out how to load the scripts. In the demo (Index) page it does not show the bootsrap.js file being loaded at all, so I am not sure how to load the scripts.

Should it be:
1. jQuery
2. jquery-ui-1.8.16.custom.min.js
3. jquery-ui-bootstrap.js (this file in the download: /jquery-ui-bootstrap/bootstrap/bootstrap.js)

The other ones you have in the Index page ar

[2012-07-23 14:16] ghost commented on #56
First time i am looking at this and I am definitely interested. What has to be done until the project is ready for 2.0? Maybe I can help.

[2012-07-23 14:17] addyosmani commented on #56
@maklemenz completion of the move over to LESS and of course working on getting all the changes in UI components over. Quite a few changes there between 1 and 2.

[2012-07-23 16:25] studioromeo commented on #56
@addyosmani is it easier if you create a new branch & we submit pull requests to you?

[2012-07-24 09:31] ghost commented on #56
@addyosmani I've tried to correct some issues with the Bootstrap2-dev branch: [Pull89](https://github.com/addyosmani/jquery-ui-bootstrap/pull/89)
The topbar, layout, icons and bootstrap2 itself should be included in a working way now. I've updated jquery and jqueryui to the current versions.
Did not know much about the project update status, but it seems you have already done a huge part of the wo

[2012-07-24 14:36] fingermark opened #90 "Add a Makefile"
A Makefile would be nice.

[2012-07-26 06:53] Krzysztof-FF commented on #83
Is your layout component based on jQuery UI Layout Plug-in by Kevin Dalman from http://layout.jquery-dev.net/, or will it be quite independent implementation?

[2012-07-26 07:11] urobles commented on #83
Hi Addy,

Thanks for your email. Yes, it is based on the JQuery Plugin that Keven
Dalman wrote, but it won't take much to change it to a new one. I guess
yours integrates with Bootstrap layout manager (you know 12 columns, etc)?

Thanks,

Ulises

On Wed, Jul 25, 2012 at 11:53 PM, Krzysztof-FF <
reply@reply.github.com

[2012-07-26 22:01] sheymann commented on #77
Hi, how do you add the buttons to the dialog? I can't find how to bind click events on them.

[2012-07-26 22:17] all3nT commented on #77
Here are some examples:

For a primary button in the dialog put this in the html of your dialog:

<div class="btn primary" id="handler">I am a button</div>

Then use this in your js

$("#handler").click(function()
{
//do something amazing here
});

or for just a normal this works

[code]

You can also declare buttons in your dialogs,
http://jqueryui.com/demos/dialog/#modal-confirmation

$( "#dialo

[2012-07-27 09:23] ghost opened #91 "Bootstrap 2, jQuery 1.7.2 and jQuery UI 1.8.22"
Hi,

I wonder when it will work with the latest versions?

[2012-08-06 11:04] devlounge commented on #91
+1

[2012-08-06 17:00] dbmmedia opened #92 "Slider Control via Value"
Hi everybody!

I realy like the Slider form the UI-Bootstrap.
But i have a little problem with it.

I'd like to control the slider via the value
e.g.

In the Input Field ist the value 60 - i change the number to 100.
But the Slider does not grow up :-(.

Can anyone help me to fix this "problem".
Sorry for my bad english,

Greets from Austria,
Stefan

[2012-08-07 14:15] ryanmac opened #93 "Star Ratings?"
I'm looking for a static, semantic and microdata-friendly star rating system for bootstrap, less, and/or jquery.  Do you plan on adding star ratings?

[2012-08-07 16:03] sheymann commented on #77
Hey thanks, sorry for the late reply.

[2012-08-15 21:19] basejump commented on #56
Whats the current status on this?
It looks like this guy had a pretty good start with LESS and Bootstrap 2.
https://github.com/t1gr0u/jquery-ui-bootstrap
Is this the direction you are headed?

[2012-08-15 21:48] addyosmani commented on #56
Current status is that I've started work again on a Bootstrap 2 port (although, mostly starting from scratch rather than continuing the work done in the current Bootstrap2-dev branch, sans LESS) - very small preview http://addyosmani.com/gyazo/c778c.png. This will result in a quicker, usable port from me in the next few weeks, however, if people really want the LESS version enough (and are happy t

[2012-08-16 09:07] barryvdh commented on #56
I think using LESS (and the variables.less) is a pretty good feature, because this way all your elements look the same, and colors/styles can be changed with just setting a couple of variables. (Like the border-radius, and the blue color in the links/sliders)

[2012-08-16 11:52] ghost commented on #56
I am looking forward for LESS, too but a first working version without LESS is also nice.

[2012-08-16 13:45] basejump commented on #56
from what I see,  t1gr0u has a really good start.
he was on 0.14 from Jan but his index-less2.html works with bootstrap 2 and has the css less already broken out.
We would need to just merge any fixes and features from Jan on.
addyosmani, what can I do to help? I have 2 days between now and Monday that I can dedicate to this. We too could really use it in the next couple of weeks.

[2012-08-16 13:50] addyosmani commented on #56
@basejump If you have time to fork + merge the changes from Jan on, I could pull them back into the Dev branch or create a new one we can focus on. Appreciate any help at all really.

I'm all for us using LESS if it means we have a stable base we can build on. You might be interested in seeing what I was trying to achieve with Bootstrap2-addy. Some of those changes could be better adapted to use L

[2012-08-16 14:34] basejump commented on #56
I've been looking at it. Perhaps it may be easier to take what you have and convert back to less using something like http://css2less.cc/. Is the best approach to do a diff on jquery-ui-1.8.16.custom.css with the one from master to get my arms around what you have done? I have a handfull of design questions too. Perhaps we can do a skype or some direct emails to get the ball rolling? my skype name

[2012-08-18 22:37] addyosmani commented on #56
I believe so.

Because there are a few developers and designers interested in helping out, I think it would be more effective if you could create new issues on the tracker with specific questions or concerns and we can then discuss/flesh out solutions or decisions to them. Sound good?

I've been wondering about this. One of the concerns I had with my approach to just going directly for a CSS imple

[2012-08-19 05:03] basejump commented on #56
https://github.com/addyosmani/jquery-ui-bootstrap/pull/95
I got most of it working with less. Take a look and let me know what you think. Still some minor inconsitencies and I have not tested IE but it looks good on Firefox/Safari/Chrome
https://github.com/basejump/jquery-ui-bootstrap/tree/Bootstrap2-less

[2012-08-19 12:23] addyosmani commented on #56
Nice work @basejump! I also noticed you did some further cleanups. I'll test out your changes today and hopefully we can land them in a single Dev branch we can continue working off of. Appreciate your help!

[2012-08-23 06:52] leopku commented on #91
+1

[2012-08-23 08:27] addyosmani commented on #91
Work on updating was started in #56 and is on-going.

[2012-08-23 08:27] #91 closed, assigned to nobody

[2012-08-24 13:26] Michenux opened #96 "combobox ?"
Can u make it work with combo box ?

[2012-08-24 14:35] Michenux opened #97 "Closable tabs ?"
Theme is buggy with closable tabs.

[2012-08-27 07:41] momsse opened #98 "Class primary success, error (etc...) are ignored on tabs panel."
Classes for buttons are ignored as soon as it is integrated into tabs. The buttons have the same style then (gray by default).

[code]

[2012-08-28 19:53] grinn opened #99 "jQuery UI 1.8.23"
Sorry, this isn't an issue but I wasn't sure where else to put it. In case anyone is interested, here is the CSS upgraded to jQuery UI 1.8.32:

[code]

[2012-08-28 19:56] addyosmani commented on #99
Hey @grinn. If you'd like to file a pull request with the above and jQuery UI 1.8.23 I would be happy to land it. I can make the changes myself but figure I'd give you the chance to file in case you wanted credit :)

[2012-08-29 12:52] grinn commented on #99
Sure. I've yet to do that in GitHub but it sounds fairly straight-forward. I was also going to look into upgrading your Bootstrap as well. The only customizations you've made are to bootstrap.css, right?

[2012-08-29 13:00] addyosmani commented on #99
@grinn This project introduced Bootstrap related changes to the custom jQuery UI theme included, bootstrap.css and the third party plugin css also included in the repo for other plugins. We're currently working on getting support for the latest Bootstrap in there, but if you'd like to help out with the efforts we'd be more than happy to get you involved. Sure it would help us complete it sooner :)

[2012-08-29 13:23] grinn commented on #99
Yeah, I'll need it for a project that I'm working on so I'd be happy to help out. What I was doing was DIFFing your bootstrap.css with the original that shipped with 1.4, then applying those changes to the bootstrap.css from 2.1. Let me know if you'd like me to continue doing that or if there's some other way that I could be of better assistance.

In the meantime, I'll get my JQuery UI into my for

[2012-08-29 13:25] grinn commented on #99
Also, would you like me to make my changes to jquery-ui-1.8.16.custom.css, or add a new jquery-ui-1.8.23.custom.css file?

[2012-08-29 14:39] grinn commented on #99
I've gone through and found all of the differences between your bootstrap.css file and the original. I then recorded those modifications in a "denormalized" fashion - listing each selector independently and only once, containing all the changes for that selector. I list them in alphabetical order and in three sections: Removals, Additions, and Modifications. I did not include the comments that wer

[2012-08-29 14:42] addyosmani commented on #99
That is extremely useful, even something worth documenting. Thank you for your time on this.

Would it be possible to make these changes in a fork/your fork of the project and reference them here? We can then pull it in as necessary and hopefully use it during the conversion process. I'm at work at the moment but will loop you in on the current status of the overall conversion work as soon as I ca

[2012-08-29 14:51] grinn commented on #99
Absolutely. I'm at work as well, but thankfully this is something required for my project here. I may be your only paid contributor! :)

I'll make the changes in a separate "bootstrap-2.1.0.css" file and upload my changes for the jqueryUI css file to a new "jquery-ui-1.8.23.custom.css".

[2012-08-29 16:19] grinn commented on #99
I've tried poking around with the new bootstrap, but without really understanding the "heart" behind the changes that you've made, I'm a little lost. I'm calling it quits for now but perhaps I will be of further assistance once you bring me into the loop on what exactly you're doing with these changes.

In the meantime, I've managed to add my jQuery UI CSS file to my fork and submit a pull request

[2012-09-01 18:49] AlecTaylor commented on #37
Excellent, so is a pull request going to be made now?

:)

[2012-09-07 18:38] wpsmith opened #101 "Development Version"
Mind sharing the development version(s) along with the minified version(s)?

[2012-09-13 06:50] bashton opened #102 "Bootstrap.js"
The jquery-ui-bootstrap doesn't seem to work with the bootstrap.js file.

[2012-10-01 09:54] kashiif opened #103 "jquery weekpicker conflict - css needs to be corrected"
Check the weekpicker based on jQueryUI weekpicker

http://igorzelmanovich.blogspot.com/2011/07/week-picker-using-jquery-ui-datepicker.html

When using it with jquery-ui-bootstrap, I had to modify the css (line 1021 master branch)

.ui-datepicker td .ui-state-default:hover { ...}

to

.ui-datepicker td .ui-state-hover { ...}

[2012-10-02 12:23] cidic opened #104 "jquery ui state classes"
the state classes need to be included, not just the hover pseudo class. they are needed for compatibility and many drag and drop events.

here is one example:
https://github.com/addyosmani/jquery-ui-bootstrap/blob/master/css/custom-theme/jquery-ui-1.8.16.custom.css#L830

instead of just

.ui-tabs .ui-tabs-nav li:hover,
.ui-tabs .ui-tabs-nav li a:hover{
}

it should be like this

.ui-tabs .ui-tabs-

[2012-10-09 09:25] gtraxx opened #105 "jQuery ui 1.9"
Hello jQuery UI 1.9 is out today :)

jquery bootstrap is compatible with this version of jQuery UI ?

I'll update my new developments using jQuery bootstrap with jQuery UI 1.9

Best regards

[2012-10-09 09:35] addyosmani commented on #105
This project hasn't been tested with 1.9 just yet, but if you could try it out and let us know how it goes that would be great :)

[2012-10-09 09:38] gtraxx commented on #105
Ok I test tonight in a project to verify compatibility

best regards :)

[2012-10-11 10:14] gtraxx commented on #105
I integrate jQuery UI 1.9, I test jquery ui dialog and the layout is correct.
Not detect the bug for now, I continue to do tests with firefox

I'll use tonight demos bootstrap to test all components :)

[2012-10-11 10:37] addyosmani commented on #105
Thank you!

On 11 Oct 2012 11:14, "Gerits aurelien" notifications@github.com wrote:

[2012-10-11 13:49] gtraxx commented on #105
I started corrections in the CSS but how do I send them?
Should I make a fork and branch 1.9.0 ?

PS:  I changed the tabs, I start accordions :)

Best regards

[2012-10-11 13:51] addyosmani commented on #105
If you could do that it would be amazing.

On 11 Oct 2012 14:50, "Gerits aurelien" notifications@github.com wrote:

[2012-10-11 22:29] gtraxx commented on #105
Here is the working branch for adaptations with jQuery UI 1.9.0

I added a new style sheet applied and changes in some files.
Corrections are applied jquery ui tabs + accordions

https://github.com/gtraxx/jquery-ui-bootstrap/tree/Boostrap-1.9.0

Best regards

[2012-10-11 22:34] fasouto commented on #71
I had the same issue, it seems like bootstrap and jquery-ui use the same function name and it creates a collision.
Try to import first jquery-ui and then bootstrap, it worked for me.

[2012-10-11 23:54] guillermovil opened #106 "Button inside an accordion"
Good afternoon, I'm trying to put a button "success" inside an accordion , the button is created but not green.
I also tried to create as class primary, but still gray (not blue). If I put it outside the accordion, so the button looks good.

What could be happening?

Thank you.

[2012-10-15 15:07] MarioBinder commented on #65
same here

[2012-10-16 07:21] ghost opened #107 "Hey Keep up the good work!! I really liked it!! Thanks!"

[2012-10-16 13:22] gtraxx commented on #105
I continue, I just finished an example for jquery ui menu that I built in the index.html file (it does not exist)
There were a lot of changes to make it compatible, everything will be available on my fork.
I'll keep you posted on the progress of changes / adjustments
;)

[2012-10-16 13:30] addyosmani commented on #105
Awesome. Thanks @gtraxx :) I'm going to test out your fork today. Would be really happy to pull in some of these changes when its more stable.

[2012-10-16 13:32] gtraxx commented on #105
I still have not sent all !
I can send it tonight with changes in jquery ui menu :)

Here is a capture image with jquery ui menu: http://www.imagup.com/data/1165064256.html

[2012-10-17 04:50] jvosloo commented on #105
This is awesome @gtraxx ! Thank you very much for you efforts.

[2012-10-17 06:35] gtraxx commented on #105
No problem, I added ui menu and ui spinner in the demos.
I'll do tonight ui tooltip, then once everything stabilized I propose to merge
:)

[2012-10-17 22:44] gtraxx commented on #105
Hello could you create the branch 1.9.0 so that I can send you the files?

I add the following demos in the file index.html :
- tooltip
- spinner
- menu

I could send the files directly in the branch :)

Best regards

[2012-10-18 08:57] addyosmani commented on #105
@gtraxx I've added you as a project collaborator :) You should have access to push to or create new branches now. Can't wait to see your work on this in master! \o/

[2012-10-19 19:34] corleroux commented on #78
It's far from dead.
I am not contributing, only following (shameful). But recently jquery-ui 1.9 has been ported successfully.

Cor le Roux

-----Original Message-----
From: nilskp notifications@github.com
Date: Fri, 19 Oct 2012 12:28:20
To: addyosmani/jquery-ui-bootstrapjquery-ui-bootstrap@noreply.github.com
Reply-To: addyosmani/jquery-ui-bootstrap reply@reply.github.com
Subject: Re: [jquery-ui-b

[2012-10-19 21:18] addyosmani commented on #107
You're welcome!

[2012-10-19 21:18] #107 closed, assigned to nobody

[2012-10-19 21:30] gtraxx commented on #78
Yes I sent the changes for jQuery 1.9.0 with additional demos

https://github.com/addyosmani/jquery-ui-bootstrap/tree/Boostrap-1.9.0

Aurelien Gerits :)

[2012-10-19 21:32] addyosmani commented on #105
@gtraxx I have a suggestion: what do you think about us:
- Created a gh-pages branch
- Moving the contents of master to this branch
- Moving the 1.9 work you've done into a beta folder of this new branch

The idea would be that any members of the community could easily see the state of dev work as well as stable.

Did you have any interest in helping work on getting parity with Bootstrap 2.x? :)

[2012-10-19 21:33] addyosmani commented on #78
Project isn't dead. I've tried restarting it a few times but really need
help from some dedicated contributors for a week or two to get it on parity
with Bootstrap latest.

Short of folks being able to help with this we'll have to wait until I have
more free time to do the upgrades myself and get out a new release.

If you'd be willing to help with specific areas I'm happy to assign areas
that nee

[2012-10-19 21:45] webbushka commented on #78
@addyosmani I'd love to help out with this! Let me know what I can do.

[2012-10-19 21:56] addyosmani commented on #78
@webbushka excellent :) I'll reach out over the weekend with a few ideas of where you might be able to assist. Thanks for volunteering!

[2012-10-19 21:57] webbushka commented on #78
@addyosmani sounds great! Looking forward to it.

[2012-10-19 21:57] gtraxx commented on #78
@addyosmani: I will follow jQuery UI to be updated and also change the javascript view to improve the structure.
Boostrap jQuery will be included in my new open source software to evolve is therefore a good thing, I will contribute a maximum ;)

[2012-10-19 22:06] gtraxx commented on #105
Ok I will send the changes to the master because I have a backup file of version 1.8.16.
Those using a previous version of jQuery UI will use the old files.
I am willing to participate in the next development version 2.0 :)

[2012-10-19 22:13] addyosmani commented on #78
So, it looks like we're going to kick-start this project again. Let's base any further work done on the excellent updates @gtraxx has done for [1.9 compat](https://github.com/addyosmani/jquery-ui-bootstrap/tree/Boostrap-1.9.0) :) I've re-opened this issue and changed the title just to give us a focal point to work from.

Looking through [Bootstrap 2.1.1](http://twitter.github.com/bootstrap/index.h

[2012-10-19 22:53] gtraxx commented on #78
Ok I'll see what I can do in my own projects drawing resources and analyze the links and changes bootstrap.

I'll have a little fun with javascript, I have read your book on the web: http://www.addyosmani.com/resources/essentialjsdesignpatterns/book/  and I hope to find a French version in addition to your version :)

I find this very interesting resource: http://fortawesome.github.com/Font-Awesom

[2012-10-20 00:23] addyosmani commented on #78
@gtraxx It certainly does have some similarities with typicon, but expanded a little for Bootstrap/web development :)

@yatabani @webbushka if you're still interested in helping it would be awesome if we could get a start on the Base CSS and Components sections I described above. If you think you can help, please feel free to let us know what you'd like to focus on so that we can avoid overlap :)

[2012-10-20 00:32] gtraxx commented on #78
ok I go to work glyphicon on it based on http://fortawesome.github.com/Font-Awesome/#all-icons
But also on javascript to view and integrated changes Boostrap 2.1.1

[2012-10-20 06:46] corleroux commented on #78
Hi,

Please keep me updated as well. I will be able to contribute from next weekend when I can get a computer again. Looking forward to helping out and getting more involved!

Cor

Cor le Roux

-----Original Message-----
From: AJ Webb notifications@github.com
Date: Fri, 19 Oct 2012 14:57:24
To: addyosmani/jquery-ui-bootstrapjquery-ui-bootstrap@noreply.github.com
Reply-To: addyosmani/jquery-ui-boot

[2012-10-20 09:25] addyosmani commented on #78
That sounds great!

[2012-10-21 16:18] mhakes commented on #71
Same issue, reordering js or css makes no difference the issue is in the bootstrap.js, it is conflicting with the jq-ui function name.

[2012-10-21 18:50] valsou commented on #98
Hello.

This is a CSS problem. You need to modify the CSS custom file.

For each style of button (primary, success & error)
-> ".ui-button-primary" to ".ui-button-primary, .ui-tabs .ui-button-primary"
-> ".ui-button-success" to ".ui-button-success, .ui-tabs .ui-button-success"
-> ".ui-button-error" to ".ui-button-error, .ui-tabs .ui-button-error"

Same thing for dialog issues. You just have to add

[2012-10-21 18:56] valsou commented on #106
As i said in this topic (https://github.com/addyosmani/jquery-ui-bootstrap/issues/98) this is a CSS problem.

I didn't already make an accordion but i presume prefix to add is ".ui-accordion-content".

-> ".ui-button-primary, .ui-accordion-content .ui-button-primary"
-> ".ui-button-success, .ui-accordion-content .ui-button-success"
-> ".ui-button-error, .ui-accordion-content .ui-button-error"

Hav

[2012-10-21 19:47] gtraxx commented on #71
Hi, I will rearrange the files and functions to avoid conflicts but only for jQuery UI 1.9.0
I'll make changes quickly ;)

Best regards

[2012-10-22 02:30] guillermovil commented on #106
Yes! Thank you very much

[2012-10-22 06:46] gtraxx commented on #106
Css classes have changed since the upgrade to jquery ui 1.9.0
If there are problems with this version do not hesitate to make a ticket
Best regards

[2012-10-22 07:53] webbushka commented on #78
@gtraxx Not sure how far you got on the font icons, but thought I'd throw this out there for you. Icomoon is an awesome app that you can use to create your own fonts based on icons, you can upload vector images or full font faces and choose from them to create a font of everything you actually need. Let me know if you need help with that at all. Here is a link: http://icomoon.io/app/

[2012-10-22 11:39] guillermovil opened #110 "IE problems"
Hello, can I use jquery ui bootstrap theme with good result if I avoid to call bootstrap.css?
In my code I call only    <link type="text/css" href="css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />.
I have good result in FF and chrome but I can´t see dome effect in IE like input blue borders.
Thank you in advance.

Guillermo

[2012-10-22 12:12] gtraxx commented on #110
Hello, do you have a screenshot?
with any version of bootstrap ? jQuery UI 1.9.0 or 1.8.26 ?

Best regards

[2012-10-23 09:18] addyosmani commented on #110
As mentioned if you can post us a screenshot of the issue with the version of IE you're having trouble with we're happy to help.

[2012-10-23 09:19] addyosmani commented on #106
Closing as resolved for now.

[2012-10-23 09:19] #106 closed, assigned to nobody

[2012-10-23 09:20] addyosmani commented on #105
That's awesome! I see that we now have 1.9 in master so lets close this and continue work on improving the project in specific issues. Please feel free to post new tickets for any specific areas you'd like addressed :)

[2012-10-23 09:20] #105 closed, assigned to nobody

[2012-10-23 09:20] addyosmani commented on #103
Thanks for pointing this out. We'll address.

[2012-10-23 12:39] guillermovil commented on #110
thank you for your answer,
Please try this url in IE: http://www.mda-fmc.com.ar/ then try in FF or Chrome. can you see the diference? what happend with some effect in IE?

[2012-10-23 14:15] gtraxx commented on #110
Hello,
what effect ?
I'll watch the borders radius for the elements but only for IE 9, it is not available for older versions of IE
Is this the problem identified ?
see compatibility : http://caniuse.com/
:)

[2012-10-23 14:20] gtraxx commented on #103
Line number in the new version: 1065
I'll do some tests :)

[2012-10-23 14:29] guillermovil commented on #110
Thank you gtraxx, i can´t see blue active border in inputs. And the vertical alignement is not like FF or Chr

[2012-10-23 15:00] gtraxx commented on #110
I just checked you are using an older version of jQuery UI (1.8.18) and bootstrap.
Maybe the bugs have been fixed, the demonstration of jquery bootstrap works and doesn't return error
See also components with inheritance ;)

[2012-10-23 18:29] guillermovil commented on #110
Ok,
Sorry I very new in that type of development.
I like jquery ui and I like bootstrap design
What I need to call in my pages to make my application look good with jquery ui functionality and bootstrap look? I must to call some bootstrasp-.....js? I must to call bootstrap.css? OR I only need to call jquery-ui-1.8.16.custom.css and jquery-ui-1.8.16.custom.min.js?
Please excuse my ignorance and my

[2012-10-23 21:18] gtraxx commented on #103
Bug fixed :D, I sent the changes

[2012-10-23 21:59] #103 closed, assigned to gtraxx

[2012-10-24 14:13] pruimmartin commented on #37
Is this also available in regular css? Can someone post that? Many thanks!

[2012-10-24 15:49] brennovich commented on #37
@pruimmartin https://gist.github.com/2582439 in all versions ;)

[2012-10-30 10:55] gtraxx commented on #37
+1

[2012-11-03 13:56] addyosmani commented on #101
@gtraxx I think we should do this. What do you think?

[2012-11-03 13:57] addyosmani commented on #93
Related http://stackoverflow.com/questions/10144423/twitter-bootsrap-rtl-rating-stars

[2012-11-03 13:58] addyosmani opened #112 "Next release"
@gtraxx I think we should decide on a target date for the next release. We don't have to have a version with all the bells and whistles of Bootstrap 2.0 but even having a version stable enough to use with it for now would be a great start. I think your UI version updates would also be welcome.

What do you think?

[2012-11-03 16:40] gtraxx commented on #112
Yes it is a good idea.
I can work on a version compatible with the latest version of bootstrap and make all necessary tests.

What do you think ?

[2012-11-03 16:46] gtraxx commented on #101
Yes,
you can change the folder structure to separate source files and minified versions

[2012-11-03 18:00] addyosmani commented on #112
That would be fantastic @gtraxx. How would you feel about us targeting November 16th for having a first version ready ? It might be possible to get something done sooner but I felt two or so weeks could be doable.

I'm going to update the readme to include you in the team for this project. You've certainly earned it with your contributions :)

[2012-11-03 18:15] gtraxx commented on #112
Thank you, I'll check with my calendar but it will be possible :)

#### First version:

It will be compatible with the latest version of bootstrap (compatibility test)

#### Future version:
- A full version features Twitter bootstrap with jQuery UI and additional plugins.
  :D

[2012-11-03 18:16] addyosmani commented on #112
That sounds perfect :)

[2012-11-07 00:08] guillermovil opened #113 "jquery ui menu"
Good evening, I have a problem with the menu design.
I use jquery ui 1.9 and the bootstrap theme 1.9.
There is a visual behavior that I don't like: the options menu and menu container change the size. Check it out at
http://mda-fmc.com.ar/oplab/test.php
Please move the mouse from the "Postulantes" option to the "Quienes somos" option and  will notice that I say. What I have to correct in the css?

[2012-11-07 07:38] gtraxx commented on #113
Hello, I will identify the problem and make the correction.
This is the class "active" which decreases the margin.
Best regards

[2012-11-07 07:49] gtraxx commented on #113
Bug fixed :)

[2012-11-07 07:49] #113 closed, assigned to nobody

[2012-11-07 20:34] alfred-c opened #114 "datepicker defaultdate"
a style is needed for .ui-datepicker td .ui-state-highlight
should be similar to .ui-datepicker td .ui-state-active

[2012-11-07 20:36] addyosmani commented on #114
Thanks. We'll take a look at this.

[2012-11-07 22:07] jasonkessel opened #115 "IE9 Border Radius"
When will the border-radius be supported in IE9? IE9 supports border-radius css, so it seems like it should be supported in JQuery UI Bootstrap.

[2012-11-07 22:20] gtraxx commented on #115
Hi, the style sheet "jquery.ui.1.9.0.ie.css" change the border-radius to 0
Have you added ?
I have to check with windows to see the behavior

[2012-11-07 22:28] jasonkessel commented on #115
Yeah, I tried this about a year ago, but could never get it to work in IE 9. I remember you recommending changing that .ie.css file, but even then, I had no border-radius in IE9. Seems like there hasn't been any progress made on that front. I love the way this theme looks in all browsers except for IE9.
    Jason Kessel
Marketing Communications Manager, GreenRope.com

On Nov 7, 2012, at 2:20 PM, G

[2012-11-08 00:50] guillermovil commented on #113
ok, i make some correction in .ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active but I have another

thank you very much, I could fix the problem but I still have some unexpected and ugly effects when I move from main to submenu. the size of the main menu is changed.
Could you tell me how you found the other problem? Thank you in advance

[2012-11-08 08:15] gtraxx commented on #113
Bug fixed :D

[2012-11-08 08:25] gtraxx commented on #115
Change the line in the demo:

[code]

try with:

[code]

[2012-11-08 11:12] guillermovil commented on #113
thank you gtraxx Could you tell me how you found the other problem?
Where is de css fixed?

[2012-11-08 12:39] gtraxx commented on #112
Hello, I work on the project this Saturday afternoon.
I fix some bugs that I sent.
PS: I received your book "javascript design patterns"
This is an excellent book :)

[2012-11-08 12:40] gtraxx commented on #113
I analyze and do tests to modify the CSS.
Changes are sent to the trunk :)

[2012-11-08 12:55] addyosmani commented on #112
Oh, thanks @gtraxx :) I'm glad you liked the book! I also really appreciate the bug fixes. You rock. I can't wait for us to get the next release out. Will do some further cross-browser testing this weekend and try to help with stability.

[2012-11-08 17:05] jasonkessel commented on #115
Other than the space before <link, what's the difference in those lines of code?
    Jason Kessel
Marketing Communications Manager, GreenRope.com

On Nov 8, 2012, at 12:25 AM, Gerits aurelien notifications@github.com wrote:

[2012-11-08 17:16] jasonkessel commented on #115
Ok, I went to http://addyosmani.github.com/jquery-ui-bootstrap/ with IE 9 in Windows 7. I found the line of code for the IE9 css using the IE dev tools. It's set to 1.8.16 currently. So, I changed it to 1.9.0. The results... only _some_ things are rending the border radius. The color buttons, the yellow and red highlights and error and a few other things are still squares.
    Jason Kessel
Marketi

[2012-11-08 20:49] guillermovil commented on #113
thank you very much

[2012-11-08 20:53] guillermovil opened #116 "select control"
Is there a chance to get a select control like bootstrap using only your .css and jquery ui?

[2012-11-08 22:58] gtraxx commented on #116
Yes, I use jQuery UI and CSS jQuery Boostrap :)
The demo included additional examples for jQuery 1.9.x

[2012-11-08 23:01] gtraxx commented on #113
:)

[2012-11-09 00:16] Cipa opened #117 "button with icon issue"
Hi,

I am sure you know about this problem and I was wondering if it was fixed. The problem is that icons in buttons break the button layout: the text and the icon are one under other instead of next to each other.

Here is a test case:

html  - in index.html
`<button class="next">Next</button>`

js - in the demo.js

[code]

Was this fixed in any of the development branches. My search returned not

[2012-11-12 15:58] ghost opened #118 "Slider needs jquery 1.6.2!"
I'm using backbone so I have already jquery 1.8.x loaded.

However, the slider of jquery-ui does not work once I want to drag it giving the following error:

[code]

Problem is solved if I load `jquery-1.6.2` ..
The question I ask is: Why?! Can there be a workaround for it?

Cheers!

[2012-11-12 16:01] ghost commented on #118
ahhh wait, can jquery-ui work with newer version of jquery?

[2012-11-12 16:06] ghost commented on #118
Ok, problem solved. I downloaded the latest `jquery-ui-1.9.1` from the [website](http://jqueryui.com/).
I also used `jquery-1.8.2`.

With these files, the slider and backbone work together smoothly so far.

I apologies for posting the issue before doing the research. Yet, this brings up the question, why is this repo still using and older jquery-ui verison that requires and older jquery version?

[2012-11-12 17:24] copasetickid commented on #112
Hi @addyosmani, I'm new to contributing to open-source projects and I wanted to if you are  still seeking contributors for this jquery-ui-bootstrap project?

[2012-11-13 23:29] benjamin-bd commented on #112
Hi all,

I have gone through all the change between jqueryui 1.9.0 and 1.91 (see
page http://jqueryui.com/changelog/1.9.1/).

I hope this list will help you when you will switch from 1.9.0 to 1.9.1.

There is only a few changes on the css (all the other one are only js):
Autocomplete: Set the top position of the menu so that the menu doesn...
https://github.com/jquery/jquery-ui/commit/1ee090ea9e03

[2012-11-13 23:52] gtraxx commented on #112
Thank you I analyze patches tomorrow and I will work ;)

[2012-11-13 23:56] gtraxx commented on #118
The current version in the repository using the latest version of jquery and jquery ui
I need to update jquery 1.9.0 => 1.9.1
;)
Best regards

[2012-11-14 12:14] styts opened #120 "less file for jquery-ui-1.9.0.custom.css"
It would be desirable to style the colors, etc. of the elements... Is there a less file somewhere from which the css file was generated?

[2012-11-18 11:19] addyosmani commented on #115
The difference is the `lt IE 9` (i.e less than IE9)

[2012-11-18 11:20] addyosmani commented on #112
@benjamin-bd Thanks so much! These will definitely come in useful :)

[2012-11-18 12:05] addyosmani commented on #112
Gerits, do you think we should come up with a final list of issues we would
like to address for the next release so we can capture them in a milestone?
:)

The above looks like a good start. I can break them down into individual
issues we knock out the door.
On 13 Nov 2012 23:52, "Gerits aurelien" notifications@github.com wrote:

[2012-11-18 13:04] gtraxx commented on #112
yes I check every message and correct any bugs or issues
I'll fix everything at once, and check the problem with IE
:)

[2012-11-20 12:54] gtraxx commented on #120
No idea, I do not care less which version is not yet updated to jQuery 1.9.x
Must be adapted version 1.9 for less

[2012-11-27 08:38] gtraxx commented on #112
Hello, I just fix some bugs and change the layout.
I change the bootstrap version (2.2.1) and fix the problem in HTML + CSS :)

[2012-11-27 09:23] addyosmani commented on #112
@gtraxx That's awesome! Thank you. I will take a look at the changes this evening. Do you need any help with cross-browser testing at all? I'm happy to assist with making sure everything works as expected there.

[2012-11-27 12:19] gtraxx commented on #112
@addyosmani

Yes, we need to test and see for IE9 border-radius for the missing elements in different
But I think we split the sample into different pages for examples complete
To analyze :)

[2012-11-29 04:47] benjamin-bd commented on #112
Just for your information I have also a personal github account. the
username is tolbard

On Tue, Nov 27, 2012 at 11:19 PM, Gerits aurelien
notifications@github.comwrote:

[2012-11-29 22:09] cherchyk opened #122 "How to integrate?"
Can you please describe how to integrate code into existing project?

I don't want blindly copy your files but only changes you did.

[2012-11-29 23:18] gtraxx commented on #122
Hi,
What type of project?
You can watch the demo (index.html) but here is a simple example
The theme is in the folder: custom-theme

[code]

Best regards

[2012-11-29 23:20] #104 closed, assigned to nobody

[2012-11-30 15:40] cherchyk commented on #122
I think the right approach could be to have jquery-ui and bootstrap files untouched and then jquery-ui-bootstrap implementation in the separate file(s).  Right know I do not see what was modified. Does jquery-ui-bootstrap change jquery or jquery-ui or bootstrap or all of them.
It is risky to take modified libraries from here because I do not know what was changed and if that change was properly te

[2012-12-01 13:50] gtraxx commented on #122
Hello, the original files are not changed, they are intact
This is a template jquery ui so it uses its own CSS as skin

[2012-12-01 15:44] addyosmani commented on #120
We have an older set of less files I'm branch but won't be exploring an official less version until the release after next.

[2012-12-01 15:45] #120 closed, assigned to nobody

[2012-12-01 15:46] addyosmani commented on #118
We will take care of this before the next release :)

[2012-12-01 16:40] gtraxx commented on #118
Look in the index.html file, we use jquery 1.8.3 and jquery ui 1.9.2
https://github.com/addyosmani/jquery-ui-bootstrap/blob/master/index.html
Changes are needed in the template jquery ui bootstrap
https://github.com/addyosmani/jquery-ui-bootstrap/blob/master/css/custom-theme/jquery-ui-1.9.2.custom.css
:)

[2012-12-01 20:23] ryan-mahoney commented on #71
This issue was driving me nuts to identify because I have a rather complex set of Bootstrap/jQuery/other plugins in my project.  From what I can tell, the issue really has nothing to do with this theme, but rather it is a conflict in the bootstrap-button.js portion of the bootstrap.js file and jquery-ui itself.  So one of those projects will need to resolve this matter.

[2012-12-06 19:23] rigeliux commented on #102
Hi bashton, as virtuecenter( https://github.com/addyosmani/jquery-ui-bootstrap/issues/71#issuecomment-10921675) said, it's a problem between jquery ui button and bootstrap button javascript.

Solution:
Trough this link: http://twitter.github.com/bootstrap/customize.html build your custom bootstrap without the jQuery plugin "Buttons"

Hope this helps to anyone =)

EDIT:
Sorry, after i wrote this i

[2012-12-07 09:21] afonsoadson opened #123 "accordion autoHeight"
Hey,  i've been trying to change the height of the accordion so it adjusts dinamically to the contentt in it. i'm not entirely sure where to put the autoHeight:"false" command inside the jquery -ui1.9.2.custom.min.js. Any help would be much appreciated. Great Job on the bootstrap. It looks great.

[2012-12-07 20:36] gtraxx commented on #123
Hi,
You can set the height in jquery ui 1.9.x following API:

http://api.jqueryui.com/accordion/#option-heightStyle

### Example:

[code]

Best regards :D

[2012-12-07 20:40] #102 closed, assigned to nobody

[2012-12-07 20:50] gtraxx commented on #112
Hi,
Good news
Font awesome (http://fortawesome.github.com/Font-Awesome/) works well with jquery ui bootstrap :+1:
I use:
- Bootstrap
- Font awesome
- JQuery ui bootstrap
  I can verify each bug and fast forward through the changes jquery ui bootstrap :)

Best regards
Aurelien

[2012-12-07 21:48] addyosmani commented on #112
That is awesome news! :) Thanks for testing and confirming @gtraxx. Should we consider bundling or just mention on the wiki the projects work well together?

[2012-12-07 22:02] addyosmani commented on #112
@gtraxx Based on the list mentioned earlier in this thread, what remaining issues do you think we should try tackling for the release? It would be great to get something out before Christmas so folks have a chance to test / report any problems that might be outstanding.

[2012-12-07 22:10] addyosmani commented on #123
@gtraxx Thanks for replying. Is this good to close?

[2012-12-07 22:10] addyosmani commented on #122
@cherchyk did that answer your question?

[2012-12-07 22:16] afonsoadson commented on #123
yes. thank you for the help

On Fri, Dec 7, 2012 at 2:10 PM, Addy Osmani notifications@github.comwrote:

[2012-12-07 22:39] gtraxx commented on #123
@addyosmani  Oops I did not press the right button lol

[2012-12-08 18:21] #122 closed, assigned to nobody

[2012-12-08 18:22] addyosmani commented on #110
Closing for now.

[2012-12-08 18:22] #110 closed, assigned to nobody

[2012-12-08 18:22] #78 closed, assigned to nobody

[2012-12-08 18:24] #96 closed, assigned to nobody

[2012-12-08 18:25] addyosmani commented on #90
@gtraxx Do you think we should consider adding in grunt for a build system here over make?

[2012-12-10 15:59] marvi opened #124 "Tabs with close icon"
Thanks for your work!

I am trying to implement the adding/closing of tabs example (http://jqueryui.com/tabs/#manipulation) but I get a line wrap in the li tag.

To reproduce in index.html, add a close icon after the link on line 95:

[code]

[2012-12-10 19:41] gtraxx commented on #124
Hi marvi , I will check and fix the bug
I'll add a demo for this part

:)

[2012-12-10 22:14] gtraxx commented on #90
@addyosmani A makefile will be interesting :)
But who can create ?
Example :

https://github.com/twitter/bootstrap/blob/master/Makefile

A question! should we change the version number of jquery UI bootstrap ?

[2012-12-10 22:18] addyosmani commented on #90
We should definitely change the version number for the next release. Re: the makefile, I could do it. It depends really on what we want it to do. If we're after a similar setup as https://github.com/twitter/bootstrap/blob/master/Makefile it's not to difficult to refactor whats there.

[2012-12-12 06:07] dkleehammer opened #125 "jQuery UI Autocomplete"
Are there any updates coming soon that contain bootstrap visuals for autocomplete?  I'm really digging this project, but I need autocomplete to fit in with the rest of my bootstrapped site.

edit: just went through the css and I noticed that autocomplete and the menu items are there, but the hover/active states aren't working on the menu items for me.  In order to integrate with my project, I've o

[2012-12-12 07:41] gtraxx commented on #125
Hello, there's a demo of the autocomplete in architecture.
But if there are bugs I will correct. :)

[2012-12-12 09:48] gtraxx commented on #125
The autocomplete with style sheets (jquery-1.9.2.css) works with hover
Have you tested with an example?

![autocomplete-jquery-bootstrap](https://f.cloud.github.com/assets/356674/7770/d7e3aeaa-4440-11e2-9d96-f9eeabdcf4b4.png)

[2012-12-12 11:52] gtraxx commented on #124
The bug is fixed and added in the demo :)

View commit description:

https://github.com/addyosmani/jquery-ui-bootstrap/commit/77d9931a79dbae46fce84a13849b2d4b2b8cb929

It's ok ?

Best regards

[2012-12-12 15:08] dkleehammer commented on #125
I was not using the newest version.  I used the download link from the demo site.  I switched to 1.9.2 and it's working now.  Thanks!

[2012-12-12 15:08] #125 closed, assigned to gtraxx

[2012-12-12 15:26] gtraxx commented on #125
no problem :)

[2012-12-13 09:53] marvi commented on #124
Looks great. Thanks!

[2012-12-13 09:56] gtraxx commented on #124
thanks :)

[2012-12-13 09:56] #124 closed, assigned to gtraxx

[2012-12-13 10:08] marvi opened #126 "Themes"
Where on the roadmap is less support? I guess that is the only way of supporting something like bootswatch. For now to change colors I would have to manually update the CSS?

[2012-12-13 10:14] gtraxx commented on #126
Less part is not up to date, we must take the changes made on the master version and adapt to less

[2012-12-14 11:46] OlegKi opened #127 "usage of Font Awesome icons"
Hello!

What do you think about the usage of [Font Awesome icons](http://fortawesome.github.com/Font-Awesome/#all-icons) at least as additional option? It could be a cool feature.

Look at [here](http://stackoverflow.com/a/13865495/315935) for an example of advantages of usage Font Awesome icons in jqGrid which is jQuery plugin which is oriented on jQuery UI Themes CSS. In the referenced answer I

[2012-12-14 11:54] jodydonetti commented on #127
I've integrated FontAwesome in the app i'm developing with great success, with both jQuery UI and Bootstrap.

The bootstrap guys talks about problems with IE7, if i remember correctly, but they were talking about GlyphIcons, not FontAwesome. In any case, i'll take a shot at it.

[2012-12-14 12:06] OlegKi commented on #127
@njy: I don't tested Font Awesome with IE7 myself, but the Font Awesome v2.0 now supports IE7 (see [here](http://fortawesome.github.com/Font-Awesome/)). There are special `font-awesome-ie7.css` which can be inserted for example with the code like

[code]

Moreover **it's not really required to use neither Bootstrap nor LESS to be able to use Font Awesome**. So everybody who use jQuery UI only can

[2012-12-14 12:51] gtraxx commented on #127
Hello, I'm testing with Awesome Font and everything works fine.
View issues :
https://github.com/addyosmani/jquery-ui-bootstrap/issues/112
:)

[2012-12-14 16:50] OlegKi commented on #127
@gtraxx: Sorry, but probably I understand you not exactly. I supposed that jQuery UI Bootstrap Theme can be used _without_ Bootstrap or LESS. It seems that it can be used just like any other jQuery UI Theme.

[The issues #112](https://github.com/addyosmani/jquery-ui-bootstrap/issues/112) seems to me like pure discussion in context of LESS.

All images used in original jQuery UI Themes distributed

[2012-12-14 17:01] jodydonetti commented on #127
@OlegKi

Yeah, i know, but since we are talking about "jQuery UI **Bootstrap**" (emphasys mine) i was just pointing out possible problems.

Anyway, i'm using it with both bootstrap and jquery ui, and it seems to work just very very fine.

Cheers

[2012-12-14 18:18] addyosmani commented on #127
My position is that we're generally now targeting IE8+ in terms of support on that front, but it's good to hear that Font Awesome works on older browsers too. I'd be happy for us to land support for it if we can get a pull request in.

@gtraxx is this something you feel comfortable landing based on your current tests or do you need more help with it?

[2012-12-14 23:29] OlegKi commented on #127
@addyosmani: The support of IE7 is not important for me. It's just nice to have feature. My main question was: is it possible to use vector icons (Font Awesome icons) instead of raster icons from PNG pictures used currently. The most interest have _pure CSS solution_.

[2012-12-14 23:31] jodydonetti commented on #127
:+1: to let IE7 die slowly and painfully, if it causes any kind of pain

[2012-12-15 00:13] addyosmani opened #128 "Simple toolbar broken in Chrome"
As per http://cl.ly/image/1q2m0Q413m1o

This doesn't appear to be an issue caused by the width of the container.

[2012-12-15 00:14] addyosmani commented on #98
We should be bringing these changes in. Thanks for highlighting.

[2012-12-15 00:14] #99 closed, assigned to nobody

[2012-12-15 00:14] #101 closed, assigned to nobody

[2012-12-15 00:15] addyosmani commented on #127
I think it's definitely possible and I'd be happy for us to move in the direction of using vector icons.

[2012-12-15 15:58] addyosmani commented on #128
@gtraxx are you able to confirm?

[2012-12-15 15:59] addyosmani commented on #123
No worries!

[2012-12-15 15:59] #123 closed, assigned to nobody

[2012-12-15 16:01] addyosmani commented on #117
This is still present, but I really want to get it fixed soon. Will try to take a look at it this weekend.

[2012-12-15 16:02] addyosmani commented on #92
From what I can recall this was a jQuery UI issue. We'll test it again with the latest version of the project in master before release. Thanks.

[2012-12-15 16:02] #92 closed, assigned to nobody

[2012-12-15 16:02] addyosmani commented on #65
Is anyone able to reproduce this issue using the latest version of the project in master?

[2012-12-15 16:23] addyosmani commented on #58
I've been getting requests for the next version of the project to include Bootstrap styles for jqGrid and a number of other components. I'll try to bring these back in.

Related somewhat:
- Alternatively, if we want to go in the direction of using datatables http://datatables.net/media/blog/bootstrap/001.html, http://datatables.net/blog/Twitter_Bootstrap_2
- jqGrid + font awesome: http://www.ok-so

[2012-12-15 16:30] addyosmani commented on #56
Closing as this has already been done. We're mostly just making tweaks and doing coverage testing on the rest of Twitter Bootstrap 2.

[2012-12-15 16:30] #56 closed, assigned to nobody

[2012-12-17 09:59] gtraxx commented on #127
@addyosmani  The integration "Font Awesome" with "jquery ui" should not be a problem few lines to add to the CSS.
I put in the work to do ;)

[2012-12-17 10:06] addyosmani commented on #127
Excellent! Thanks :)

[2012-12-17 10:13] OlegKi commented on #127
Thank you very much!

[2012-12-17 10:41] gtraxx commented on #128
@addyosmani This is a problem with inheritance bootstrap.css, I'm looking for how to fix chrome

:)

[2012-12-17 13:12] gtraxx commented on #128
Hi @addyosmani, I found a solution to the problem of positioning toolbar in chrome.
A inheritance from bootstrap.css displays the problem, only a hack solution.

I do not like hacks but you would be an alternative

Here is my solution:

[code]

Is what I publish?

[2012-12-17 13:15] addyosmani commented on #128
Thanks for putting together a solution. I would say if the problem is specific to our demo page that a hack is okay but if we think its general enough to affect other uses we probably want something more general. What do you think?

[2012-12-17 13:18] gtraxx commented on #128
Yes it is specific to the demo, if you disable the stylesheet bootstrap.css everything works correctly.
:)

[2012-12-17 13:44] gtraxx commented on #128
Bug fixed :)

[2012-12-17 14:57] addyosmani commented on #128
Awesome work! Thank you :)

[2012-12-17 16:54] crispinh2o commented on #37
^ ^ very well resolved. regards!!

[2012-12-19 10:55] thepurpleblob opened #129 "Some brief documentation would be nice"
Unless I'm being stupid, there's no documentation for this work. I'm sure I'll figure it out in the end but not being a hardcore jquery-ui user it isn't immediately obvious how to integrate it or, indeed, what the requirements are.

[2012-12-20 08:32] gtraxx commented on #129
Hi, the index.html file includes examples of integration :).

The theme is in the folder: custom-theme

[code]

Best regards

[2012-12-21 18:04] Alphonse123 opened #130 "Bootstrap 3.0 Compatibility"
Upcoming changes listed here: https://github.com/twitter/bootstrap/wiki/Upcoming-3.0-changes

[2012-12-24 13:15] addyosmani commented on #129
I agree that we should add some more clear documentation on how the project should be used. Even a few steps on the homepage would guide people in the right direction. Thanks for bringing this to our attention @thepurpleblob!

[2012-12-24 13:17] addyosmani commented on #130
Thanks for the heads up @Alphonse123. I think it's really useful for us to keep an eye on when 3.0 is likely to get released so we can try to wrap up parity with 2.0 well before that. I'll keep this open to track changes post 2.x releases are made on our end.

[2012-12-24 19:59] #128 closed, assigned to nobody

[2012-12-24 19:59] #116 closed, assigned to nobody

[2012-12-24 20:11] addyosmani commented on #112
Pre-release questions:
- Do we work out of the box with Bootstrap 2.x without breaking the scaffolds/grid layouts?
- Does our CSS break its [Base CSS](http://twitter.github.com/bootstrap/base-css.html)?
- Are our default styles for components up to date with the Base CSS > [default styles](http://twitter.github.com/bootstrap/base-css.html#forms) (e.g form select, buttons, inputs etc)
-  Are the bu

[2012-12-26 02:02] gtraxx commented on #112
Some javascript component are in conflict:
- JQuery ui button / Bootstrap button
- Tooltip

The solution is to download bootstrap without components button and tooltip but only in javascript.

Yes the latest basic navbar is supported

I'll check the other questions :)

[2013-01-02 10:16] addyosmani commented on #112
How would you feel about us restructuring the project/demo page a little more
like http://mgcrea.github.com/angular-strap/?

I like the way it follows Bootstrap's own design yet manages to keep it's own
identity :)

Happy new year!

[2013-01-02 10:29] jodydonetti commented on #112
We should also take a look at http://aristath.github.com/elusive-iconfont/ .
It seems to be as good as FontAwesome, but with a larger icon set and different licensing (CC vs SIL, dunno which one is better for the project).

[2013-01-02 14:17] gtraxx commented on #112
Hi,
I'll look for a layout but be an image header with a logo ?

@njy great the icons

Happy new year :)

[2013-01-04 15:52] addyosmani commented on #112
It would pretty much be an image header, logo and menu to allow browsing through the different components. I would almost just fork what they've created and use it as a starting point which we can iterate on.

How would that sound? :hatched_chick:

On the rest of the release, I think that if we're able to get some of the list of questions above answered (or issues created to fix where relevant) we

[2013-01-04 17:50] gtraxx commented on #112
Hi, Addy
Who can create the header image?
Ok I'm starting the new examples based on bootstrap website and I check the issues to make corrections :)

[2013-01-04 17:53] gtraxx commented on #130
Must wait for a stable release of Bootstrap 3.0, see the changes to prepare the work :)

[2013-01-04 18:04] addyosmani commented on #112
I can do that :)

[2013-01-05 23:29] gustavohenke opened #131 "Bower component"
Hey Addy,
What about registering this theme in Twitter's [Bower Package Manager](http://twitter.github.com/bower)?

Thanks!

[2013-01-07 14:45] gtraxx commented on #112
Ok no problem, when the image is ready sent me the link :)

[2013-01-09 00:23] gtraxx commented on #129
Hi @thepurpleblob ,
We will create a new documentation based on the Bootstrap website.
What are your most important information first ?
:D

[2013-01-09 16:28] johnnyreilly commented on #129
Hi Guys,

I haven't commented on this before but I'd be very interested in documentation on how the jQuery UI datepicker works in the world of jquery-ui-bootstrap.  Just looking at the demo page I noticed that an inline datepicker is displayed.  I'm guessing this doesn't mean that inline is the only way the datepicker can be used in jquery-ui-bootstrap?

For now I've deliberately avoided using jQu

[2013-01-09 16:34] thepurpleblob commented on #129
Hi,
It doesn't need to be much more than "To use this just add the css file xxxxx, and the js files yyyyy and zzzz" (if that's the case). It just to give a bit confidence that you have the right idea. All this stuff is obvious once you know it ;-)

There are quite a lot of files in the package and it's a little daunting. What do I need and what don't I?

Hope this helps.

[2013-01-09 23:22] gustavohenke commented on #131
Nevermind!

[2013-01-09 23:22] #131 closed, assigned to nobody

[2013-01-11 11:27] gtraxx commented on #112
Hi @addyosmani , I am the first page with the menu this weekend using the bootstrap banner.
I will make a simple menu and easy to use for users who visit the documentation
I will replace when you send yours :)

[2013-01-16 06:35] henyana opened #132 "how can I use popover?"
Anyone can show me on how to use popover

[2013-01-16 08:35] gtraxx commented on #132
Hi,
to use you must include the js file from a bootstrap !!!

http://twitter.github.com/bootstrap/javascript.html#popovers

### Example:

[code]

Aurélien

[2013-01-16 08:55] henyana commented on #132
Hi gtraxx,

Okey, thanks!

[2013-01-16 09:40] henyana commented on #132
Hi gtraxx,

Atm I want to implement the dropdown, but I had no luck.
Still don't know why the dropdown menu does not show it after clicking Dropdown trigger
Here is the code:

[code]

then I run it with:

[code]

??

[2013-01-16 10:45] gustavohenke commented on #132
Use the selector in `.dropdown`, not `.dropdown-toggle`...

[2013-01-17 10:06] gtraxx commented on #132
Hi @henyana , example with navbar without call $('.dropdown-toggle').dropdown(); :

[code]

[2013-01-17 23:58] henyana commented on #132
Hi gustavohenke, you're rigth thanks!

Please just close this issue please.

[2013-01-18 00:05] #132 closed, assigned to nobody

[2013-01-18 07:55] gtraxx opened #133 "Next version with Update jQuery UI 1.10"
@addyosmani

Hello everyone, I started updating jquery ui to 1.10.
For this new version, the documentation will be completely changed for highlighting demonstration.

Should set the version number for this update and also provide for the adaptation bootstrap 3.
I work on this new version and I will send soon :)
PS: Sorry for the delay ;)

Aurélien

[2013-01-18 08:49] addyosmani commented on #133
Thanks for the update @gtraxx! I'm currently working on trying to get a few more people
involved in the project to help us get the next version out.

Maybe we should update the release list to include a list of what we now need to get done
for this and include a link to this issue too?

[2013-01-18 08:50] addyosmani commented on #127
@gtraxx Did we integrate Font Awesome the last time we looked into this? If not, have you already done this locally or would you like to see if someone else on this thread could help?

[2013-01-18 09:01] gtraxx commented on #127
Hi @addyosmani , I already do local testing.
Question:
Should I replace the original use of icons or use jQuery UI Font Awesome extra?
It is very important :)

[2013-01-18 09:04] gtraxx commented on #133
We should have people working on version LESS and SASS.
And also to create new image for documentation (Image header): D

[2013-01-18 09:05] addyosmani commented on #127
I would like to maintain parity with Bootstrap itself where possible. Just checked and they're using glyphs. How about we use Font Awesome extra and consider making it a default after the next release if people want it? :)

[2013-01-18 09:07] addyosmani commented on #32
@panosru I know you were very helpful with the project a year ago when we first started it out. Would you be interested in getting involved again? We'd love to pick it back up and get compatibility with the latest Bootstrap.

[2013-01-18 09:09] addyosmani commented on #133
I can do the header (need to remind myself to!) but do you think switching over to using
SASS would make sense for this release? The last time I looked into it it seemed like a
lot of work.

How long do you think it might take to get done?

[2013-01-18 09:11] addyosmani commented on #118
@gtraxx Do you know if this bug is still present?

[2013-01-18 09:12] addyosmani commented on #90
Maybe we should bite the bullet and just switch over to using Grunt for our build system?

[2013-01-18 09:15] gtraxx commented on #127
ok, I'll work :)

[2013-01-18 09:15] addyosmani commented on #112
Thanks @gtraxx! I worked on this the other day but need to resize to the correct size. Will send over as soon as I get on my other box.

As I was mentioning on the other threads, I'd like to get more people involved in the project to help
us get the next release out.

To make sure there are specific issues they can help with, I'd like us to refine what we think needs to
be done. Could you add the

[2013-01-18 09:19] addyosmani commented on #112
Initial list
- [ ] Add Grunt build process
- [x] Fix JavaScript conflicts with jQuery UI Button / Bootstrap button
- [x] Fix conflicts with tooltips
- [x] Confirm we work out of the box with Bootstrap 2.x without breaking the scaffolds/grid layouts
- [x] Confirm we work with Bootstrap's [base CSS](http://twitter.github.com/bootstrap/base-css.html)
- [ ] Are our default styles for components up to

[2013-01-18 09:19] addyosmani commented on #127
Thanks!

[2013-01-18 09:40] gtraxx commented on #112
I take care of all items checked.

We work with the latest version of bootstrap but there are incompatibilities with javascript.
- Tooltip
- Button

So I tested several configurations and I found a balance in the use of bootstrap and jQuery UI
I already working on new documentation in me based on official Bootstrap

[2013-01-18 09:41] gtraxx commented on #133
I do not know much SASS so I do not know for the moment but it is a good idea

[2013-01-18 09:42] gtraxx commented on #118
The bug is fixed but it would do more tests with the latest version of jQuery UI Bootstrap and Backbone

[2013-01-18 09:44] addyosmani commented on #118
Cool. SGTM.

[2013-01-18 09:44] addyosmani commented on #133
Maybe I'll try speaking to some designers and we can get a better idea about the time it might take.

[2013-01-18 09:45] addyosmani commented on #112
@gtraxx you rock. Thanks so much for helping take care of those items. I'll make sure we find owners for the others!

[2013-01-18 09:48] gtraxx commented on #112
ok :)
I also tested for use holder.js (new version) in the documentation, I wrote an article in French with some examples on the my new blog :)  (http://blog.aurelien-gerits.be/2013/01/17/remplacer-les-images-avec-des-canvas-via-holder-js/)

[2013-01-18 20:04] scippio opened #134 "shadow missing"
I think dialog must have shadows like in bootstrap... I think i'ts a bug :)

[2013-01-19 00:50] gtraxx commented on #134
I'll check

[2013-01-22 16:41] addyosmani commented on #133
@gtraxx Do you think we could update the readme with the current state of the project? i.e what version of jQuery UI we support, maybe point people to our release thread so they know what the current state of the project is?

[2013-01-22 20:23] gtraxx commented on #133
Hi @addyosmani ,
I'm working on the new version + new documentation :)
But what version number should be added? (0.23 => 1.10)
I propose a version number that jQuery UI (Official) :)
Currently,
I work locally but I will send changes to my fork to not overwrite the current version.
I send changes tonight on my fork, to see the progress

[2013-01-22 21:01] addyosmani commented on #133
That is fantastic to hear :)

Because we're still pre-release on the next 'official' version, how about we go for 0.5
for the next version given the amount of work done so far and when we make an official
project release (most major bugs fixed) we'll match the jQuery UI version? :)

That hopefully won't be too long off!

[2013-01-22 22:06] gtraxx commented on #133
@addyosmani  Here is a screenshot of the new version under development :)
The documentation uses jQuery UI bootstrap.

![screenshot-new-ui-bootstrap](https://f.cloud.github.com/assets/356674/88134/4b0228c6-64df-11e2-9d9b-b5655a4eeaa3.png)

[2013-01-22 22:08] addyosmani commented on #133
Amazing start :) Looks exactly like what I was hoping for! Great work

On Tuesday, January 22, 2013, Gerits aurelien wrote:

##

_Addy Osmani_

Developer Programs Engineer at Google
Blogger at: http://addyosmani.com
Phone: +44 7771 334170

[2013-01-22 22:12] gtraxx commented on #133
A screenshot of a demo for button + button set :D

![screenshot-new-ui-button](https://f.cloud.github.com/assets/356674/88159/bd7ee44c-64e0-11e2-99be-8db13e92b656.png)

To see the changes: https://github.com/gtraxx/jquery-ui-bootstrap

I sent when everything is finished but I'll fast forward

[2013-01-23 13:57] addyosmani commented on #133
Woot! +1 for those example snippets below each group. Great idea.

[2013-01-23 19:00] gtraxx commented on #133
Hi @addyosmani ,
I work in the new version of jQuery UI Bootstrap with jQuery 1.9.0 and jQuery UI 1.10.0 but is it possible to send me a compatible version of Wijmo to create the menu in the demo?
Version 1.5 does not work well with jQuery 1.9.0.

I use jquery-migrate for the script to work

Without "jQuery Migrate" script returns the error:

With "jQuery Migrate" script returns the message :

PS

[2013-01-23 21:44] gtraxx commented on #134
Hi,
I added some changes in the new documentation will be available soon.
Dialog boxes are modified to have the shadow Bootstrap :)

Best regards

[2013-01-24 09:22] sire-sam opened #136 "CSS - Simple tabs - border-bottom"
@gtraxx

On simple tabs display (http://addyosmani.github.com/jquery-ui-bootstrap/index.html#tabs-simple) a border is visible at the bottom of an active item, but should be hidden (following original bootstrap)

Could be fix by adding

[code]

On the following declaration

[code]

[2013-01-24 10:02] gtraxx commented on #136
Yes, I'll check Sam :)

[2013-01-24 10:59] gtraxx commented on #136
Bug fixed :)

[2013-01-24 10:59] #136 closed, assigned to gtraxx

[2013-01-24 11:04] gtraxx commented on #114
The bug is fixed :)

I can close this issue ?

[2013-01-24 11:25] addyosmani commented on #114
Please feel free to close any bugs you feel are fixed :)

[2013-01-24 11:48] addyosmani commented on #136
Thanks!

[2013-01-25 13:27] gtraxx commented on #114
okay :)

[2013-01-25 13:27] #114 closed, assigned to nobody

[2013-01-27 02:08] gtraxx commented on #134
Bug fixed (https://github.com/addyosmani/jquery-ui-bootstrap/commit/098b856ad24a0d0c0a2c3556911ff388cf9711ff)

:)

[2013-01-27 02:08] #134 closed, assigned to nobody

[2013-01-27 13:25] addyosmani commented on #129
I can get a start on this if we can nail down a list of what we want to cover. So..
- How do I include jQuery UI Bootstrap and use it in my project?
- Do you use a custom version of Bootstrap that works with jQuery UI?
- How do I pick and choose what to use?
- What gotchas or limitations do I need to be aware of?

Anything else?

[2013-01-27 14:13] gtraxx commented on #129
Hi Addy,
I'll do it!
This is a great idea :)

[2013-01-27 14:24] addyosmani commented on #129
Wonderful. Thanks! :)

[2013-01-30 01:03] henyana opened #142 "Bug on rendering tab widget"
Hi,

I've just downloaded stable-v.05-pre. I find that the tab widget is not correctly rendered, there is always border bottom on the active tab.

Can you fix this?
thanks.

regards,
hendra

[2013-01-30 07:30] gtraxx commented on #142
Hi, the problem is fixed in version dev (fixed in https://github.com/addyosmani/jquery-ui-bootstrap/commit/7798159130210f31c97e0ee4b86192ddc3ddc3f6)

[2013-01-30 11:18] gtraxx commented on #115
Bug is fixed (https://github.com/addyosmani/jquery-ui-bootstrap/commit/3896ff4df55f1bba7901e429cd4ac39c9ef2395f)
;)

[2013-01-30 11:18] #115 closed, assigned to nobody

[2013-01-30 11:20] gtraxx commented on #97
Hi,
Bug is fixed in new version (0.5 dev)
Best regards
Aurelien

[2013-01-30 11:20] #97 closed, assigned to nobody

[2013-01-30 14:25] henyana commented on #142
Hi gtraxx,
Thanks for the answer, but it should be updated to the link download both pre and dev also?
The correct version is on this github download link.

[2013-01-30 14:46] gtraxx commented on #117
Bug fixed in new demo :)

[2013-01-30 14:46] #117 closed, assigned to nobody

[2013-01-30 14:47] gtraxx commented on #142
Download dev version :)

https://github.com/addyosmani/jquery-ui-bootstrap/archive/gh-pages.zip

[2013-01-30 15:54] gtraxx commented on #127
Hi @addyosmani ,
I will send the changes to work with "Font Awesome".

#### Example :

[code]

You can always work with jQuery UI icons without problem
I send changes tonight :D

[2013-01-30 17:05] jasonkessel commented on #115
Thanks. I assume we need to download and install the latest version of the bootstrap theme?
    Jason Kessel
Marketing Communications Manager, GreenRope.com

On Jan 30, 2013, at 3:19 AM, Gerits aurelien notifications@github.com wrote:

[2013-01-30 17:43] gtraxx commented on #115
Yes :) (https://github.com/addyosmani/jquery-ui-bootstrap/archive/gh-pages.zip)
Best regards

[2013-01-30 23:27] gtraxx commented on #127
"Font awesome" work with split button, button with icons and toolbar (https://github.com/addyosmani/jquery-ui-bootstrap/commit/3c39a0cd46dd1e0236dd07de3565efa4f87ed304)
:+1:

[2013-01-30 23:32] addyosmani commented on #127
Yay! that is really awesome. Thanks for checking!

[2013-01-30 23:58] gtraxx commented on #127
New demo with "Font Awesome" in extra page (http://addyosmani.github.com/jquery-ui-bootstrap/extra.html)
I added a note in the css file and fixed some bugs :)

[2013-01-31 00:03] addyosmani commented on #127
Ahhhh. I love them. Great work, @gtraxx! :)

[2013-01-31 00:04] addyosmani commented on #127
Hey, wanna update the copyright notice at the bottom + readme to include your name? You're practically co-maintainer right now.

[2013-01-31 00:10] gtraxx commented on #127
Yes, but what can I write?
Aurélien Gérits co-maintainer ?
:)

[2013-01-31 08:58] gtraxx commented on #127
Hi @addyosmani ,
I made the changes in the footer :)
Is that correct ?

Do you want to change the README?
Can I add a changelog :)

[2013-01-31 10:05] OlegKi commented on #127
Thank you for very good job!

I have to mention that one need change a little the value of `margin-left` for the icons on [the page](http://addyosmani.github.com/jquery-ui-bootstrap/extra.html#font-awesome).

One additional problem why I wrote my original suggestion here was the problem that [Font Awesome](http://fortawesome.github.com/Font-Awesome/) don't provide **full set** of all jQuery UI ico

[2013-01-31 10:29] gtraxx commented on #127
Hi, OlegKi,

Could you send me a screenshot for changing the margin (with any browser + OS)

For the moment "are awesome" is supported and can be used instead of PNG icons but there is small problem identified, which requires a modification of the CSS (see the last lines of CSS jquery ui bootstrap, j 'I wrote a note + tips).

In future versions, png icons are removed and replaced with vector (vect

[2013-01-31 10:47] juristr opened #143 "jquery-ui-1.10.0.custom.css overwrites Bootstrap's font color for input boxes"
In jquery-ui-1.10.0.custom.css there is an entry:

[code]

which overrides Bootstrap's color which is `#555555`.

Here an example of adding a textbox to the jqueryui-bootstrap site (left) and the textbox on the bootstrap site itself (right)

![bootstrap_jqueryui_inputcolor](https://f.cloud.github.com/assets/542458/114280/04db71e0-6b97-11e2-9f56-ecbc77b9c238.png)

How would you fix that? I can prov

[2013-01-31 11:08] gtraxx commented on #143
Hi juristr,

I'll check :)

[2013-01-31 11:28] OlegKi commented on #127
Hi Gerits,

on my Windows 7 computer [the page](http://addyosmani.github.com/jquery-ui-bootstrap/extra.html#font-awesome) displays

<img alt="chrome" src="http://www.ok-soft-gmbh.com/jqGrid/FortAwesome/jquery-ui-bootstrap-chrome.png" />

in Chrome v.24 and in IE9 as

<img alt="chrome" src="http://www.ok-soft-gmbh.com/jqGrid/FortAwesome/jquery-ui-bootstrap-ie9.png" />

I used 300% scaling in both c

[2013-01-31 12:41] gtraxx commented on #127
ok I'll check and fix bug :)

[2013-01-31 12:45] gtraxx commented on #143
But where do you see the error? Do you have the latest version of the repository ?
![input-2013-01-31](https://f.cloud.github.com/assets/356674/114526/0e8a729c-6ba4-11e2-800f-85b97431542e.png)

[2013-01-31 13:07] juristr commented on #143
argh...accidentally deleted my previous reply.

Actually I just downloaded the latest version from the GitHub repo and the problem persists. If you look at the image I attached to this issue you can see the difference in the font color inside input boxes which is because - as mentioned - the jQuery UI bootstrap CSS overwrites Bootstrap's default one (`#555555`) with `#808080`.

If I comment the li

[2013-01-31 13:17] gtraxx commented on #143
I think it is ok to use jquery ui bootstrap without bootstrap but I will change the color and find a trick to inherit the bootstrap.
I will make the changes :)

[2013-01-31 13:17] #142 closed, assigned to nobody

[2013-01-31 13:18] juristr commented on #143
perfect, awesome.

##

_Juri Strumpflohner_
juristr.com

On Thu, Jan 31, 2013 at 2:17 PM, Gerits aurelien
notifications@github.comwrote:

[2013-02-05 14:36] mariuszkochanowski opened #144 "IE 10 blue button from main page look issue."
Blue button  that is visible on main page loses color.
Here http://postimage.org/image/ddqkuvnuz/ you can see how it looks in IE 10.

[2013-02-05 15:29] gtraxx commented on #144
Hi arespr,
do you have a link to a demo of your code ?
The bug is it present in another browser ?
Best regards

[2013-02-05 18:27] mariuszkochanowski commented on #144
I opened main page http://addyosmani.github.com/jquery-ui-bootstrap/ in several browsers and i saw that where is issue with blue button "Download stable (v0.5)" in Internet Explorer 10 , then i downloaded source files from github and i opened index.html in IE 10 with the same result - lack of color.

[2013-02-06 08:14] gtraxx commented on #144
Hi arespr,
you need to use the version from the dev repository
Use the latest version :)

[2013-02-06 10:52] mariuszkochanowski commented on #144
I have downloaded appropriate version and i noticed that everything looks properly.

[2013-02-06 12:48] gtraxx commented on #144
Hi, bug fixed for IE 10 (button primary and button success).
download the current version ;)
Best regards

[2013-02-06 12:49] #144 closed, assigned to gtraxx

[2013-02-07 09:57] geopii opened #145 "Range Slider Background Color extending outside component."
Using the range slider, when moving the left hand dragging element, the background extends past the right hand element. It also extends outside the component when the right hand element is far enough to the right.

The behaviour is exhibited in Chrome and Firefox but not IE.  It looks like it's connected to the animation of the slider but I've been unable to disable this using animate:false in the

[2013-02-07 11:55] gtraxx commented on #145
Hi geopii, Do you use the latest version (dev in repository) ?

[2013-02-07 12:06] geopii commented on #145
Apologies, my mistake– I just got the latest.

From: Gerits aurelien [mailto:notifications@github.com]
Sent: 07 February 2013 11:56
To: addyosmani/jquery-ui-bootstrap
Cc: geopii
Subject: Re: [jquery-ui-bootstrap] Range Slider Background Color extending outside component. (#145)

Hi geopii, Do you use the latest version (dev in repository) ?

—
Reply to this email directly or view it on GitHub http

[2013-02-07 12:06] #145 closed, assigned to nobody

[2013-02-07 12:08] gtraxx commented on #145
no probleme ;)

[2013-02-08 11:07] viruthagiri opened #146 "Include license information in the readme text"
Hi, I can't find any license information. Can you include it in the readme file?

[2013-02-08 12:26] gtraxx commented on #146
Hi, I do not have license information but I ask Addy thanks
@addyosmani

[2013-02-08 12:41] addyosmani commented on #146
MIT. Let's link to http://mit-license.org/ :)

[2013-02-08 13:24] gtraxx commented on #146
I add the license, thanks ;)

[2013-02-08 18:55] viruthagiri commented on #146
cool :)

[2013-02-08 18:56] #146 closed, assigned to addyosmani

[2013-02-12 16:47] Spir opened #147 "un-minified version of jQuery UI"
Feature request: Can you guys also provide not minified version of jQuery (especially jQuery UI since it's a custom made and there is no possibility to get the un-minified version somewhere online)?

[2013-02-13 08:40] gtraxx commented on #147
Hi,
you want a compressed version of the CSS ?
The js files are minified version (jquery, jquery ui, bootstrap)
Best regards

[2013-02-13 08:40] #143 closed, assigned to gtraxx

[2013-02-13 08:45] Spir commented on #147
I was wondering if you can provide an uncompressed version of the JS (especially for the jQuery UI JS file) since I can not find an uncompressed version of this file online since it's a custom made.
I need it because my minifier break the already compressed file.
I did a workaround using http://jsbeautifier.org/ and then changed some code so it won't break.
There is at some point this (in a for lo

[2013-02-13 09:07] gtraxx commented on #147
uncompressed version online ;)
- jquery ui (no custom)
- Bootstrap without tooltip, popover, button js component (custom)

view asset/js/src

[2013-02-13 09:13] Spir commented on #147
Thanks for your time!

[2013-02-13 09:13] #147 closed, assigned to nobody

[2013-02-13 09:14] gtraxx commented on #147
no problem :)

[2013-02-16 11:43] addyosmani commented on #133
What's the current status of our Wijmo issues? I can ask someone from that team to help if we need it :)

[2013-02-16 11:45] addyosmani commented on #129
How do we feel about the current docs? I could probably expand them with some  HTML examples to demonstrate some of our custom classes.

[2013-02-16 11:46] addyosmani commented on #127
Is this good to close?

[2013-02-16 11:48] addyosmani commented on #118
Good to close?

[2013-02-16 11:49] addyosmani commented on #93
Hmm. Gerits do you think we should demonstrate this? We do have font awesome now.

[2013-02-16 11:50] addyosmani commented on #84
@gtraxx is this worth adding or should we close?

[2013-02-16 11:51] addyosmani commented on #58
I've included a version if this demonstrated on the site.

[2013-02-16 11:51] #58 closed, assigned to nobody

[2013-02-16 11:52] addyosmani commented on #37
@gtraxx what would we like to do here?

[2013-02-16 11:55] addyosmani commented on #112
I would like to target getting a new release out in the next two weeks.I think the script split and a few more docs would help. I've also pinged on a few threads to see what you think of remaining feature requests.

One thing we probably want to do is mention filesize of our solution if using it all with minified versions of the main files to use. Sound good? :)

[2013-02-16 16:57] brennovich commented on #37
[Solved](https://github.com/addyosmani/jquery-ui-bootstrap/pull/75). We should close this issue, no?

[2013-02-17 16:57] gtraxx commented on #133
Hi Addy,
Yes an update to wijmo is necessary

[2013-02-17 16:59] gtraxx commented on #129
Yes it is a good idea, I start with respecting the style tooltip bootstrap.
But is it possible to reproduce popover with jQuery UI ?

[2013-02-17 17:01] gtraxx commented on #127
I need to replace the UI icons with Font awesome.
I progressing well but I check if all the icons are available ;)

[2013-02-17 17:02] gtraxx commented on #118
Yes ;)

[2013-02-17 17:02] #118 closed, assigned to nobody

[2013-02-17 17:04] gtraxx commented on #93
oh yes with Font Awesome :)
I am preparing a demo

[2013-02-17 17:07] gtraxx commented on #84
ok I add jquery ui timepicker and I adapt the template (http://trentrichardson.com/examples/timepicker/)

[2013-02-17 17:09] gtraxx commented on #112
I prepare a version minified scripts and separation.

[2013-02-17 17:11] addyosmani commented on #93
That's great!

[2013-02-17 17:12] gtraxx commented on #37
I have put the CSS file in a calendar :)
Thanks

[2013-02-17 17:13] gtraxx commented on #93
:)

[2013-02-17 17:35] #37 closed, assigned to nobody

[2013-02-17 17:35] addyosmani commented on #127
Cool. Let me know if you need any help. I remember us running into some issues with margin before.

[2013-02-17 17:38] addyosmani commented on #84
Nice! That would rock. It would be great to have this on the extras page.

[2013-02-17 18:33] addyosmani commented on #133
cc @banzor

[2013-02-19 08:40] gtraxx commented on #84
no problem :)

[2013-02-22 22:13] addyosmani commented on #129
I think we might have trouble with the jQuery UI popover, but we can definitely improve existing docs.

[2013-02-23 06:32] churchofthought opened #148 "Icon-only buttons have their icons misaligned in Firefox"
Chrome is fine, FF is misaligned. Not sure what the issue is. CSS looks spot on for the icons, margin-left: -8px, left: 50%, width: 16px. If you can figure it out I'd much appreciate it.

Screenshot here: http://cl.ly/image/1V043f002513

[2013-02-23 18:02] gtraxx commented on #148
Hi, ok I'll fix

[2013-02-23 20:01] sindresorhus opened #149 "Split button difference"
This split button differers in many ways from the Bootstrap one. jQUI is the first one.

![Screen Shot 2013-02-23 at 20 57 18](https://f.cloud.github.com/assets/170270/188528/61644ea0-7df3-11e2-87fe-b51a55cdd823.png)
![Screen Shot 2013-02-23 at 20 58 13](https://f.cloud.github.com/assets/170270/188529/6179bc2c-7df3-11e2-8463-35bf163df36d.png)

Difference from the original:
- Selection color
- Sele

[2013-02-23 20:23] churchofthought commented on #148
Thanks, can you let me know what the issue was when you figure it out? I took a brief stab at it last night but was perplexed.

[2013-02-24 22:43] gtraxx commented on #149
Hi,
I'm working on a change to have a resemblance :)

[2013-02-26 09:47] gtraxx commented on #148
Bug is fixed :)

![bug-icon-only-ff](https://f.cloud.github.com/assets/356674/195634/83ae5e8a-7ff9-11e2-8983-93d101b604f6.png)

[2013-02-26 09:47] #148 closed, assigned to gtraxx

[2013-02-26 16:42] bentzy opened #150 "jQuery autocomplete combobox doesn't look good"
Hi! Love your project! Keep it up! :)

I wanted to use the jQuery autocomplete with a combobox and it works good - the only problem is it looks like this:

![image](https://f.cloud.github.com/assets/1738201/197172/731934fc-8033-11e2-8251-e85d3efe6130.png)

Can you reproduce it? Or it's only me? :)

[2013-02-27 08:09] gtraxx commented on #150
Hi, do you have an online demo so I can see the problem ?

[2013-02-27 08:53] bentzy commented on #150
Ok added some CSS and now it looks like this:
![image](https://f.cloud.github.com/assets/1738201/200153/f20bd2ce-80ba-11e2-9551-4e3250ebeccf.png)

Here is an online demo - but without your JS library:
http://jsfiddle.net/QDeeE/

I copied it from jQuery UI website.

Thanks!!

[2013-02-27 09:00] bentzy commented on #150
I changed the CSS and it looks really good now:

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -2px;
    padding-left: 18px;
    padding-top: 8px;
    width: 10px;
    height: 12px;
    /\* support: IE7 */ *height : 1.7em;
    *top: 0.1em;
    *height: 1.7em
}

.ui-combobox-input {

[2013-02-27 10:23] gtraxx commented on #150
Thank you, I'll take your example for demo

Best regards

[2013-02-28 01:50] wangsong opened #152 "jquery-ui-bootstrap Extra(File Input) issues"
When i select a file.File name and icon overlap.
![ ](https://f.cloud.github.com/assets/1917017/203795/2fd39c02-8149-11e2-9b74-4538893f02f0.jpg)
Add this css[padding-left: 25px;].This should resolve the problem.
![image](https://f.cloud.github.com/assets/1917017/203807/ff901a38-8149-11e2-8597-d1628307e29f.png)

[2013-02-28 08:14] gtraxx commented on #152
Bug is fixed :)
Thanks

[2013-02-28 08:14] #152 closed, assigned to nobody

[2013-03-03 07:27] churchofthought commented on #148
Great thank you!

[2013-03-03 12:40] addyosmani commented on #148
Thank you, @gtraxx!

[2013-03-03 14:05] dswarbrick opened #153 "Integrate jQuery UI menubar"
I've been using a custom jQuery UI build from the menubar branch for over a year now, with no noticeable bugs.

Have you guys considered integrating menubar, instead of (or as an alternative to) the Wijmo menu?

[2013-03-04 12:58] Leftyx opened #154 "jQgrid: selection doesn't work in IE9"
IE9 doesn't keep selection when row is actually selected.

[2013-03-04 13:19] gtraxx commented on #154
Hi Leftyx,
@addyosmani and @basejump have worked on jqGrid
See if this is a bug from the skin or jqGrid

Thanks :)

[2013-03-04 13:22] gtraxx commented on #153
Hi,
Do you have a link to menubar ?
It is part of the official branches of jQuery UI (I do not remember)
Wijmo has not been updated, I expect a response from the team

Thanks :)

[2013-03-04 13:24] gtraxx commented on #148
No probleme Addy ;)

[2013-03-04 13:44] dswarbrick commented on #153
It's an official branch - https://github.com/jquery/jquery-ui/tree/menubar - the branch hasn't been worked on a for a while, however a clone of the menubar branch can still merge master cleanly. I'm using this method to do a custom build of it for my projects. The menubar stuff shares a lot of code with selectmenu.

[2013-03-04 14:12] gtraxx commented on #153
ok I'll see if menubar is compatible with jQuery UI 1.10.1 and adjusted as necessary :)

[2013-03-04 14:35] Leftyx commented on #154
Hi gtraxx,

I've downloaded the latest updates and I can confirm it doesn't work properly.
it seems that it only works for rows with class = ui-priority-secondary.

thanks.

[2013-03-04 16:26] bealtine opened #155 "suggestion about bundling"
This is merely a suggestion...

I would suggest you bundle your distro like this:

assets
assets->bootstrap
assets->jqueryuicustom

That way I can just update each branch as required, harder to type but easier to maintain

[2013-03-04 18:17] gtraxx commented on #155
I prefer to rename the folder
css-> custom-theme
in
css-> ui-bootstrap
To have a similar architecture with jQuery UI
The assets folder contains the documentation and demos
Thanks for the suggestion ;)

[2013-03-05 21:58] basejump commented on #154
its not a bug in jqGrid as their site is fine in ie9
jqGrid.overrides.css will need to be tweaked. As usual its always IE weirdness.
Please share your changes if you figure it out.

[2013-03-13 11:51] tranba opened #156 "Dialog buttons style problem when we have more than 2 buttons"
When dialog have more than two buttons, as show bellow:
$("< div >Test< /div >").dialog({
    buttons:{
        'button1':function(){},
        'button2':function(){},
        'button3':function(){}
    }
});
then the first and the third button show as primary button but the second show as normal button.
![dialog problem](https://f.cloud.github.com/assets/1279123/253465/e15332c8-8bd3-11e2-8e0c-d5b

[2013-03-14 15:07] ghost opened #157 "After Downloading"
After I downloaded the "stable version" are they talking about changing the custom-theme in the css folder? If I change that I then add the js and css folders in their? What files are needed within that?

Is there a way I can just add the jquery version to the twitter bootstrap folder or do I have to do it this way?

[2013-03-15 00:15] neverfox commented on #157
I too found the instructions confusing. I'm not exactly sure what I'm supposed to do once I download this and what files are necessary to take from the archive to replace what I have with default bootstrap and jquery-ui. The instructions show some sort of interactive GUI where features are selected for a custom mix but where is that found?

Am I supposed to replace my js files for bootstrap and jq

[2013-03-15 16:57] Heliosmaster opened #158 "Spinner not looking as other input"
Spinner - http://addyosmani.github.com/jquery-ui-bootstrap/components.html#block-spinner

![Selection_002](https://f.cloud.github.com/assets/283733/387493/5ce672d4-a6c2-11e2-84e2-240026a110c1.png)

Other input (for example) - http://addyosmani.github.com/jquery-ui-bootstrap/components.html#autocomplete

![Selection_003](https://f.cloud.github.com/assets/283733/387499/6fc99660-a6c2-11e2-8ad2-4e7a80

[2013-03-15 17:38] Heliosmaster commented on #158
For the focus behaviour, as apparently the CSS selector are not able to ascend, I managed to get it working using this javascript:

<pre lang="js">
  $(function() {
    $('.spinner').focus(function() {
      $(this).parent().addClass('ui-spinner-focused');
    });
    $('.spinner').focusout(function() {
      $(this).parent().removeClass('ui-spinner-focused');
    });
  });
</pre>

and adding to t

[2013-03-15 18:36] Heliosmaster commented on #157
After you download the .zip file, unzip it and in the css folder you will find a "custom-theme" folder.

That's the one you have to put in the "css" folder of your project, and that's it.

Include the .css file inside your project (for me it was `link{:href=>"/css/custom-theme/jquery-ui-1.10.0.custom.css", :rel => "stylesheet", :media => "screen"}`) and you are done.

[2013-03-16 00:34] addyosmani commented on #157
Thanks for highlighting this issue. It's clear that we need to improve the installation instructions to make it as easy as possible to get started. Do you feel the changes from @Heliosmaster (thanks!) make the workflow clearer? Let me know if it's still confusing and we'll rework the homepage.

[2013-03-16 00:38] addyosmani commented on #158
cc @gtraxx - what do you think? I would ideally like us to find a clean workaround for the issue. Appreciate you reporting it @Heliosmaster.

[2013-03-16 00:39] addyosmani commented on #155
I like the suggestion @gtraxx. We've had some issues come in about improving our install instructions so maybe this could be done as part of a clean-up.

[2013-03-16 10:58] pdorgambide opened #160 "Menu: Submenu open overlap (v. 1.10.1)"
First of all:
Great Job !!!

The UI Menu don't open properly the submenus and don't disable the state with ui-state-disabled. This issue was checked into your webpage.
![Components in jQuery UI Bootstrap - Google Chrome_2013-03-16_11-50-03](https://f.cloud.github.com/assets/2659125/266687/5eaa8848-8e27-11e2-9aaf-81eeb5ce3f25.png)

Sorry for my pour english, best regards and congratulations for you

[2013-03-16 12:20] addyosmani commented on #160
Thank you for reporting this. We will do our best to get this addressed as long as we can reproduce it.

[2013-03-16 14:16] Heliosmaster commented on #160
I see the same behaviour in here: http://addyosmani.github.com/jquery-ui-bootstrap/components.html#block-menu

Hovering with the mouse over Salzburg it opens the submenu with Delphi and if you move again opens up again its submenu producing the visual result of the screenshot of @pdorgambide

Maybe the submenus could open on the right of the parent menu? (amazon-like)

[2013-03-17 11:43] bealtine commented on #155
Well the reason I suggested it was that I decided to update bootstrap so I moved everything to the layout I suggested and just unzipped the new bootstrap distro (due to bugs in the bootstrap distro supplied) into the dir and off I went:) No problems noticed and the problems I was having were fixed. If I went with the standard jqueryui distro  layout I'd have to unzip one file here and a different

[2013-03-17 15:52] gtraxx commented on #157
Thank you for the information,
@addyosmani
sorry for the delay but I've been sick all week :)
I shall return it immediately ;)

[2013-03-20 03:42] frumbert opened #161 "tooltip on button that launches bootstrap modal not disaapearing"
If I have a tooltip on a button that also launches a bootstrap modal using a data target, then when the modal shows the tooltip is then trapped on screen and cannot be dismissed.

[code]

[2013-03-21 11:03] NeXTs commented on #65
same here

[2013-03-27 08:39] pdorgambide opened #162 "DataTables & WebJars"
Hello:
I would like to propose a twice of issues that could be very helpfull, mainly for Java Web Development (like me ;o)):
1) Datatables (http://datatables.net/)  with Bootstrap L&F and take inconsideration Dandelion Project: http://dandelion.github.com/datatables/
2) Include JqueryUI Bootstrap into webjars.(http://www.webjars.org)

Congratullations for your great job, I hope that the  proposed

[2013-03-27 08:43] pdorgambide commented on #160
Hello:
I detect that with FireFox the menu works fine, the wrong behavior was happened with Chrome.(version 25.0.1364.172).
I hope that this could help you.

[2013-03-28 13:28] gireeshkumar opened #163 "jqGrid header and row columns not aligned proerly"
Hi,

   In my use case the table header and row columns are not properly aligned
, header column width is more then row column width,  it is correct on first column, but increases towards right.  Please review the attached image.

![header-not-aligned](https://f.cloud.github.com/assets/1660207/313367/473acf5a-97ab-11e2-810d-307f4c68b210.png)

[2013-03-29 16:44] cvanhasselt opened #164 "Accordion bug"
Working with jQuery accordion code, I cam across a CSS bug with sortable accordions in both IE and Chrome.  The triangle toggle to unfold an accordion section is overwriting the section title text.  I fixed this for my purposes in the jquery-ui-1.10.0.custom.css file as follows, changing from ...

.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em

[2013-03-29 17:20] gtraxx commented on #164
Hi :) I'll check
Thank you for your contribution

[2013-04-03 18:32] helgator commented on #157
Thank you for this project but there is still no usable instruction on how to use jquery-ui-bootstrap. Just including the css is definitely not sufficient. At first one needs to specify what elements should be included, like Tooltips. But there is nowhere written how to find that GUI with the checkboxes to do exactly that. So IMHO the usage instruction need a decent review. thx

[2013-04-04 06:50] gtraxx commented on #157
@helgator
Hi,
jQuery UI Bootstrap, respects the rules applied in Twitter Bootstrap but with the use of jQuery UI.
This is a theme completely redesigned to be close to Bootstrap, documentation is updated regularly to match user expectations, missing information, you can specify.

[2013-04-04 13:45] helgator commented on #157
Hi, missing information: how to find that GUI with the checkboxes to do the customisation

[2013-04-04 14:00] Heliosmaster commented on #157
You mean this GUI? http://twitter.github.com/bootstrap/customize.html

That's Bootstrap, not jQuery UI Bootstrap. This is a theme.

(still some clarification on why those images are there, might be good :smile:  )

[2013-04-04 14:26] helgator commented on #157
Thanks, I know your link is Bootstrap but where is that GUI for jquery-ui-bootstrap? I need to exclude the tool tips because they collide with my bootstrap files.
And a general question: when I link to the jquery-ui-bootstrap files I see that they are included correctly, but no component picks up the bootstrap style. I have a themeable calendar and a file manager but I cant figure out how to convi

[2013-04-05 05:54] mkavici commented on #132
popover styles are missing in bootstrap.min.css
I think, also adding bootstrap version info to css files will be useful for future updates

[2013-04-05 06:46] gtraxx commented on #132
Hi,
popover is not installed because it is not compatible with jQuery UI tooltip, we seek a solution to reproduce it with jQuery UI

[2013-04-08 15:21] henyana commented on #132
Is it because the latest bootstrap has renamed twipsy to tooltip?

[2013-04-10 09:59] wkrsz opened #166 "links in modal dialog are black"
![Screenshot_10 04 2013_11_56-2](https://f.cloud.github.com/assets/54917/361496/2120d2c8-a1c5-11e2-8c87-4754fcc24683.png)

Screenshot take in from http://addyosmani.github.io/jquery-ui-bootstrap/components.html - I just added a link using web inspector.

Following rule makes this happen:

[code]

[2013-04-11 13:16] Heliosmaster commented on #90
:+1:

[2013-04-11 13:27] Heliosmaster commented on #7
Still there with FF11 (stuck with an old LTS at work, can't upgrade to newer FF)

[2013-04-11 13:28] Heliosmaster commented on #149
Also probably the text should be bold

[2013-04-11 23:11] addyosmani commented on #149
+1. We probably want to keep this as similar as possible.

Side: also need to decide at some point if we're going to offer something
for Bootstrap 3.0. Some relatively large visual changes there but it would
be nice for us to maintain something 2.x compat for now for sure.

On Thursday, April 11, 2013, Davide Taviani wrote:

##

_Addy Osmani_

Developer Programs Engineer at Google
Blogger at: http

[2013-04-14 14:53] #166 closed, assigned to nobody

[2013-04-14 14:59] Heliosmaster commented on #164
I can't reproduce the problem.

This is now my accordion function in ./assets/js/demo.js (which is the js that shows up in the demo of the project)

[code]

and I don't see the overlap:

![Selection_002](https://f.cloud.github.com/assets/283733/378067/ba05b430-a513-11e2-8559-f51f40c705e5.png)

From chrome:version

Google Chrome   27.0.1453.12 (Official Build 191631) dev

[2013-04-14 15:19] Heliosmaster commented on #129
This should be somewhat closed by #159

[2013-04-14 15:20] Heliosmaster commented on #86
Not sure if this is relevant anymore or closed by #159

[2013-04-15 09:19] Heliosmaster commented on #155
:+1: on the cleanup / renaming of assets

[2013-04-15 09:21] Heliosmaster commented on #133
Is this issue still actual?

[2013-04-15 11:35] gtraxx commented on #155
What do you think @addyosmani
It's Addy the boss lol

[2013-04-15 12:05] cvanhasselt commented on #164
[code]

Well if i get a chance I'll send you a screenshot. I'll check my code as well. ThxChris-----Original Message-----
From: Davide Taviani Sent: Apr 14, 2013 11:02 AM
To: addyosmani/jquery-ui-bootstrap Cc: Chris van Hasselt Subject: Re: [jquery-ui-bootstrap] Accordion bug (#164)

I can't reproduce the problem.

This is now my accordion function in ./assets/js/demo.js (which is the js that show

[2013-04-16 11:34] gtraxx commented on #164
Hi,
Do you have a screenshot?

[2013-04-16 11:39] #156 closed, assigned to nobody

[2013-04-16 11:43] gtraxx commented on #161
Hi,
Do you have a screenshot ?
The console says it errors ?
Thanks

[2013-04-16 11:51] gtraxx commented on #133
Yes, but not news of wijmo

[2013-04-16 14:10] gtraxx commented on #160
I found, I send the change

[2013-04-16 14:12] #160 closed, assigned to nobody

[2013-04-16 14:13] Heliosmaster commented on #133
Maybe a more appropriate issue can be opened? Technically this refers to jQuery UI 1.10 and the changes that are already implemented in the current tree.

[2013-04-16 14:24] gtraxx commented on #160
Sorry for the revert, I did not use my account
It is sent ;)

[2013-04-16 18:37] Heliosmaster commented on #150
:+1: to add this to jquery-ui-bootstrap

[2013-04-16 20:33] gtraxx commented on #150
I joined right now ;)

[2013-04-16 20:37] #149 closed, assigned to nobody

[2013-04-16 23:09] gtraxx commented on #133
I close this ticket, you can create a new future for the Advancement of Version :)

[2013-04-16 23:09] #133 closed, assigned to gtraxx

[2013-04-16 23:11] gtraxx commented on #164
You use the latest version from repository ?
I can not reproduce the bug with chrome :)

[2013-04-16 23:17] gtraxx commented on #127
I expect that the icons are all available
Tests with "Font Awesome" function but it lacks icons

[2013-04-17 03:08] camilosw commented on #114
Where is the css with the .ui-datepicker td .ui-state-highlight? I can't find it. I think this bug is not fixed.

[2013-04-17 03:40] camilosw opened #170 "On datepicker, today is not highlighted"
On the datepicker, current day has the class ui-state-highlight but it's not highlighted.

On jquery ui css, the Interaction Cues styles are after datepicker styles, but you have this before datepicker styles. Due to this changed order, ui-state-default override ui-state-highlight.

This bug is related with #114.

[2013-04-17 06:38] gtraxx commented on #170
Could you make a screenshot so that I can identify the problem.
I'm highlighting with FF
![datepicker-highlight](https://f.cloud.github.com/assets/356674/389905/79129f7a-a729-11e2-94ac-ed95d1660c4e.png)

[2013-04-17 06:41] gtraxx commented on #114
view issue #170

[2013-04-17 07:39] Heliosmaster commented on #170
I also can't reproduce the problem. I have both tried in the jQueri-UI page and in a web application of mine that uses the theme, and in both cases the current day was highlighted.

[2013-04-17 08:23] sindresorhus commented on #149
Not fixed at all. The split button is still completely different from the bootstrap one.

[2013-04-17 09:44] Heliosmaster commented on #149
Uhm, curious. I was under the impression that Bootstrap had the focused elements in boldface (as from the previous screenshot), while it does not seem the case
![Components Bootstrap - Google Chrome_003](https://f.cloud.github.com/assets/283733/390480/2c1e407a-a742-11e2-808e-eee97080a862.png)

So, probably https://github.com/addyosmani/jquery-ui-bootstrap/commit/9066bea4dfe43ca71f7be6736da1659682d

[2013-04-17 10:12] OlegKi commented on #127
Probably it was an misunderstanding at the beginning. If I would found _all_ vector icons which I need for jQuery UI in the list of [all icons](http://fortawesome.github.io/Font-Awesome/#all-icons) which already provides "Font Awesome" I would solve the problem myself. Tree months before I posted [small feature request](https://github.com/FortAwesome/Font-Awesome/issues/645) to Font-Awesome about

[2013-04-17 13:32] camilosw commented on #170
This is a comparison with the datepicker on the jquery ui site

![datepicker](https://f.cloud.github.com/assets/1142037/391330/939cd110-a762-11e2-959b-3bad186c9732.png)

As you can see, on jquery ui bootstrap today is not highlighted.

[2013-04-18 21:23] Heliosmaster opened #171 "Repository Cleanup + Proposal"
Pretty code thrives with a tidy repository. Despite the fact that the things that I am about to mention are not essential for the project, I still believe that would be useful, improving both the usability and the development process.

Please keep in mind that I came to know jQuery-UI Bootstrap not a long time ago, and until a few days ago I was not interested in it as a repository, but only as a

[2013-04-19 08:04] gtraxx commented on #171
Thank you for the suggestions :)

I asked Addy to the version numbering, we do not have to decide.

Follow the numbering of jQuery UI will be a great idea.

we must remove branches and cleaning repository, but also close the old issues.

We will discuss with Addy and see for changes to an organization github.

Thanks

[2013-04-19 21:41] Heliosmaster commented on #171
Ok. Also #112 is related (as it cointains an ideal roadmap)

[2013-04-19 22:47] boulox commented on #171
Just my 2cents  but following the more widely use standard of Git would be more profitable for the project :

Use master branch, semver versioning, add component.json/package.json  to enable installation by bower and co...

[2013-04-20 08:07] Heliosmaster commented on #171
My line of thought is quite similar to semver, if you look carefully at my proposal of X.Y.Z; however, I feel that this project does not fall (technically speaking) into the use case of semver. I just imagine it being more consistent for ruby gems with methods and proper APIs (which lie at the very core of semver), rather than a CSS theme.

Similarly for the branches: I know that the best practice

[2013-04-26 07:41] 01iv3r commented on #171
Just to confirm, which branch should I be using with Bootstrap 2.3.1?
gh-pages seems to be the most recently updated, but I'm still seeing the issue with the bouncing range slider.
no idea what's going on here.

[2013-04-30 14:23] gtraxx commented on #171
GH-pages is useful to update the documentation, we do not have to do two commits.

I analyze what I move, change to the folder structure :)

[2013-05-01 07:19] henyana opened #172 "Is there a modular version?"
Hi,

Currently, I messed up with requirejs for better structured/modular my own javascript application. But requirejs need an amd or modular version.

So is there any amd version for this jquery-ui-bootstrap?

regards,
hendra

[2013-05-01 07:23] henyana opened #173 "Is there a modular version?"
Hi,

Currently, I messed up with requirejs for better structured/modular my own javascript application. But requirejs need an amd or modular version.

So is there any amd version for this jquery-ui-bootstrap?

regards,
hendra

[2013-05-04 15:18] mic0331 opened #174 "bower support"
Hello,

is there any plan to have this theme available with bower ?
at the moment, only this fork is accessible

git://github.com/gustavohenke/jquery-ui-bootstrap

Thanks

[2013-05-04 18:07] gustavohenke commented on #174
That's not a fork :)

[2013-05-04 18:07] gustavohenke commented on #174
Also, @addyosmani's repo is available at **jqueryuibootstrap**.

[2013-05-04 18:27] mic0331 commented on #174
@gustavohenke thanks and sorry for the fork ;-)

[2013-05-04 18:27] #174 closed, assigned to nobody

[2013-05-05 16:51] rvnath opened #175 "Jquery accordion how to draw?"
Hello all,
My question is very naive and stupid.  I am a newbie to web designing so excuse me for this naivity.

Using the jquery bootstrap i created a span2 span10 column.

Within the span2, I was trying to put a jquery accordion widget, but it doesn't seem to work.  It works only in a simple HTML that has no bootstrap code.

Does it mean that I cannot use jquery accordion (or any other standard

[2013-05-06 02:57] ffflabs commented on #173
I'd say you don't need to define it as a module, but being Addy Osmani's invention, chances are there is an optional define call somewhere inside.

[2013-05-07 10:56] chicoxyzzy commented on #171
+1
Please switch to semver and drop version in filenames. It is too hard to automate building process right now. I use the whole custom Grunt.js multitask for including jquery-ui-bootstrap into my project.

[2013-05-08 14:51] ivansammartino commented on #84
Hello, is this added?

[2013-05-08 14:54] gtraxx commented on #84
it's work, I had very little time sorry
Aurelien :)

[2013-05-08 14:55] ivansammartino commented on #84
NP, thanks! :-)

[2013-05-10 13:08] OlegKi commented on #127
Probably the [Font Custom](http://fontcustom.com/) tool (see on [github](https://github.com/FontCustom/fontcustom/) also) could help with the implementation. By the way I posted [the question](http://stackoverflow.com/questions/16102489/usage-of-vector-icons-as-web-fonts-instead-of-png-in-jquery-ui-css-framework) on the stackoverflow and [the request](http://forum.jquery.com/topic/is-it-time-to-re

[2013-05-13 06:42] wuwubear opened #176 "Open dialog within another dialog"
There's an overlay problem when I open a dialog within another dialog, the first dialog can still be edited, like this:

![captureaaa](https://f.cloud.github.com/assets/3959945/494343/a31d39ec-bb97-11e2-96a2-11acd9e13ed5.png)
![capturebbb](https://f.cloud.github.com/assets/3959945/494344/a918774e-bb97-11e2-999d-d732e8e90bae.png)

So... I changed the definition of class .ui-dialog according to the

[2013-05-16 15:31] PunkChameleon commented on #83
Hey all,

Any chance that this has been implemented / is available somewhere? This would be a lifesaver for me right now!!!

[2013-05-16 22:09] pilot911 opened #177 "Please, add jsTree to component"
Very, very, very nice tree library http://www.jstree.com/ . Think, best tree library in world.
Thanks!

[2013-05-25 02:49] rock-weld commented on #164
I had the same problem with Chrome.
The fix worked for me. Thanks

[2013-05-30 12:08] umefarooq opened #178 "Dialog now showing bootstrap style buttons"
UI Dialog not loading bootstrap style buttons, it always show default buttons what i am doing wrong

[2013-05-31 15:49] #172 closed, assigned to nobody

[2013-05-31 16:39] mallim opened #179 "jqgrid not obeying the data loading sequence when grouping is true"
Given sample data below

[code]

Setup jqgrid in the manner below:

[code]

Expect for group value = test,
the rows returned for inv no should be  1, 4, 7, 11, 14, 17, 21, 24, 27

Instead jqgrid returns the row in this sequence:

1, 4, 27, 7, 11, 24, 14, 17, 21

Any workaround will also be much appreciated.

[2013-06-03 01:02] fitnessmentor-com opened #180 "Kicking project along a little"
I'd love to work on this project but I don't have the time.. however I'm prepared to pay to elance out some development to help get some of the features I want developed and added to the framework for everyone, starting with the popover.

Is anyone interested in joining me to fund the development of a few features?

Write to me here or on ewart at fitnessmentor.com

As this isn't an "issue" feel f

[2013-06-03 06:51] gtraxx commented on #164
The bug is fixed ?

[2013-06-03 07:32] #170 closed, assigned to gtraxx

[2013-06-03 07:32] gtraxx commented on #170
Bug is fixed :)

[2013-06-03 07:35] gtraxx commented on #178
Hi, could you send a screenshot?
Would you have a demo?

Aurelien

[2013-06-03 07:41] gtraxx commented on #127
Font Awesome to add additional icons, I check if I have everything you need for integration instead of png icons.

I propose a test version before sending on github

:D

[2013-06-03 10:01] umefarooq commented on #178
here is screenshot http://imm.io/188hE

[2013-06-03 10:13] gtraxx commented on #178
Have you checked your global CSS ?
Do you have a link to see the problem? May be a conflict with your CSS

[2013-06-05 15:31] Leftyx commented on #154
I've managed to find a solution adding

background-image: -ms-linear-gradient(top, #FCEEC1, #EEDC94);

to the class:

.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {

}

[2013-06-07 09:33] nexenator commented on #40
I experience a similar issue opening a tinymce 4 editor within a modal dialog. The editor itself is working great but fields within dialogs opened by the editor (links, files, source, etc) are not focusable.

Any suggestions on this?

![image](https://f.cloud.github.com/assets/207409/622972/0ec1563a-cf55-11e2-9993-db3222425011.png)

(When clicking into an input field or textarea, only the ok-butto

[2013-06-09 05:39] ghost opened #182 "scaffolding(Grid), Base CSS in jquery-ui-bootstrap"
It will be nice to see the scaffolding(Grid), Base CSS in jquery-ui-bootstrap.
http://twitter.github.io/bootstrap/scaffolding.html
http://twitter.github.io/bootstrap/base-css.html

[2013-06-09 07:08] sergeyklay commented on #182
+1

[2013-06-09 20:51] sinvise opened #183 "Popover Control"
Hi

Is it possible to use the bootstrap popover control as found here http://twitter.github.io/bootstrap/javascript.html

most my work is done in jQuery UI but would like the bootstrap popover.

Thanks

[2013-06-09 21:19] gtraxx commented on #183
Hi,
I work on this feature :)

[2013-06-09 21:21] sinvise commented on #183
Hi

Does that mean the feature is still in development or it is already included in the jQuery UI Bootstrap package?

Thanks

[2013-06-09 21:28] gtraxx commented on #183
jQuery UI does not include this feature, I'll create it with a jQuery UI widget :)

[2013-06-12 08:42] ghost commented on #182
Sorry, it's my mistake. Scaffolding(Grid) and Base CSS are already in bootstrap.min.css.

[2013-06-12 08:42] #182 closed, assigned to nobody

[2013-06-14 16:28] camilosw opened #184 "Style doesn't change whit $("#shuffle").button();"
On Simple Toolbar, shuffle is a checkbox and it's styled with $("#shuffle").button();

On http://jqueryui.com/button/#checkbox the button style change when I click the control, but on jquery-ui-bootstrap, the style doesn't change.

**JQuery UI**
![screen shot 2013-06-14 at 11 24 16 am](https://f.cloud.github.com/assets/1142037/655268/f3c85440-d50e-11e2-9381-de58f55b42fd.png)
![screen shot 2013-06-

[2013-06-19 13:35] reno1979 opened #185 "Dialog close button styling"
I needed to add : (r1445)

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url("images/ui-icons_222222_256x240.png");
    background-position: -80px -128px;

To make it visible

[2013-06-25 04:45] vikramjb commented on #175
The above html code seems to render the Bootstrap accordion without issues.Did you want the jQuery Accordion with Bootstrap style ?

[2013-06-26 08:02] rvnath commented on #175
Yes, I thought I could use Jquery widgets if I use this jqueryUI +bootstrap version.  I realized that only the ported widgets from jquery into this version would work.  So, if I have to use any specific jqeury plugin, this must be available /ported in this jquery UI +bootstrap version, otherwise I cannot.  Is my understanding right?

[2013-06-30 14:48] keithlea commented on #153
Any update?

[2013-07-01 08:37] dharapvj opened #187 "Accordion header style - padding needs fix"
If we look at structural requirement of JQuery Accordion as v1.10.x.. the header tag (default `<h3>`) does not need to have Anchor tag `<a>` inside it. So if we utilize the new accordion structure shown at http://jqueryui.com/accordion/#default with the bootstrap theme the headers are rendered without padding in a really thin line.

Fix: Padding needs to be moved to `.ui-accordion-header` class in

[2013-07-01 14:17] randytan opened #188 "UI Broken in IE7"
Hi, i just implement your Bootstrap JqueryUI into my project, but seems that your UI is broken with IE7

When i click the row, the value is gone. CSS IE compatible need to build to make it compatible with IE9 below. Please see the red circle below.
![error ie7](https://f.cloud.github.com/assets/1937890/730656/01809dde-e259-11e2-83dc-73a10a1a1b8a.jpg)

[2013-07-08 11:30] addyosmani opened #189 "Move to an organization."
We (sadly) haven't had the time to properly update this project due to being involved in so many others of late. This is clear looking at the bug tracker.

There's clearly however interest in jQuery UI Bootstrap and offering developers using jQuery UI a slick looking theme that works with Twitter Bootstrap.

If you're interested in contributing to this project, please reply on this thread. If ther

[2013-07-08 11:35] gtraxx commented on #189
yes I continue to contribute.
I'll check the remaining issues and make changes :)

[2013-07-08 14:40] sergeyklay commented on #189
Good idea! :+1:

[2013-07-14 22:30] gtraxx commented on #189
Hi Addy,
When will you transfer the project to an organization ?

[2013-07-18 09:39] Johann-S commented on #189
I want to contribute to this good project. :)

[2013-07-24 17:27] johnbendi opened #190 "Carousel"
Please I didn't see the carousel demo on the demo page. Is this functionality not provided?

[2013-07-25 08:17] ganeshgowtham opened #191 "Multi Modal Windows Not Workign as expected"
<div id="dialog-message" title="Modal Dialog">
                    <p>
                    <span><img src="assets/img/steps_icon_colour.jpg" style="float:left; margin:0 7px 50px 0;"/></span>
                    </p>
                    <p>
                        Currently using <b>36% of your storage space</b>.
                    </p>
                </div>

[code]

[2013-07-25 08:22] ganeshgowtham commented on #191
infact when i change the div id from "dialog-message" to diffrent name , though i have single modal dialog windows

it is not working

Thinking moving back to Core BootStarp

Ganesh Gowtham
http://sites.google.com/site/ganeshgowtham/

[2013-07-30 08:43] addyosmani commented on #189
I'm happy to move this project to an org soon. Some things I think we should tackle before that:
- Tag a new release and update the site
- State our intentions with respect to Bootstrap 3. RC1 is now out and people are going to ask when/if this project is going to support it. I think that mentioning this on the homepage somewhere would be a good idea.
- Our site mentions nothing about the total fi

[2013-07-30 10:11] gtraxx commented on #189
Hi, @addyosmani ,
I started the changes with bootstrap 3 RC1

I sent changes for current version, soon the icons are changed to "Font Awesome"
:)

[2013-07-30 11:32] #187 closed, assigned to nobody

[2013-07-30 15:08] deostroll opened #193 "table hover effect missing?"
Unable to get the table hover effect as shown in the figure...
![hover](https://f.cloud.github.com/assets/415336/879504/b793247a-f929-11e2-87d7-2ac5bb1aac88.png)

[2013-07-30 17:21] EHLOVader opened #194 "Support for indeterminate progress bars"
I noticed that there isn't any CSS for indeterminate progress bars, and the gif is also omitted.

[2013-07-30 17:22] gtraxx commented on #193
Hi,
would you have a demo or script ?

[2013-07-30 17:26] gtraxx commented on #194
Hi, progress bars "ui-progressbar" in css jquery-ui-1.10.3.custom.css

[2013-07-30 18:44] dharapvj commented on #189
Hello @addyosmani ,

I do not have a lot of experience in open source contribution world. But better late than never :-)

I would like to continue to contribute to this project.

Also - +1 to bullet points that you mentioned.

@gtraxx - I was actually searching for Bootstrap3 RC1 branch and stumbled across this issue. Could you push the BS3 changes to different branch?

[2013-07-30 18:48] dswarbrick commented on #189
Which version of jQuery UI will the upcoming tag be based on? Is there any chance that it could include the menubar from current jQuery UI master branch?

[2013-07-30 19:02] dharapvj commented on #126
I have contributed few patches and have added two themes to this project. The themes are accessible in the gh-pages master if you checkout from github directly. It will be part of next release.

Let me know your feedback.

[2013-07-30 19:19] gtraxx commented on #189
@dswarbrick
I just added the latest version of jQuery UI menu bar is an extension

@dharapvj
I'll see to organize the work and clean the old branches
:)

[2013-07-30 19:45] deostroll commented on #193
http://jsfiddle.net/deostroll/G5zT8/

[2013-07-30 20:18] EHLOVader commented on #194
That doesn't cover indeterminate progress bars.

For an example of what I mean by indeterminate [here is the demo from jquery-ui directly](http://jqueryui.com/resources/demos/progressbar/indeterminate.html).

Checking their source and comparing, jqueryuibootstrap has all the javascript needed to create the dom for the overlay, however it is missing the styles. And that gif. Still.

The CSS I refer

[2013-07-31 10:14] rickmills commented on #130
Given that 3.0.0 is now in RC1, will jquery-ui-bootstrap be updated for version 3 now, as they are pushing forward with 3 pretty quickly, making it clear 2.x is no longer going to be used or recommended.

Cheers!

[2013-07-31 10:25] gtraxx commented on #130
Hi, @rmwebs, I start working with Bootstrap 3 ;)

[2013-07-31 10:26] rickmills commented on #130
Sweet - please do let us know when its ready for testing :)

[2013-07-31 22:05] dswarbrick commented on #189
@gtraxx I don't see any mention of "menubar" in the current gh-pages branch.... jquery UI has a "menu" component (or selectmenu as it's sometimes referred to), and a "menubar" component - the latter only being in the menubar branch of jquery UI. Although menubar shares a lot of code with menu, it has not yet been merged to master. However, I've been using it in custom builds for almost 2 years now

[2013-08-01 07:38] gtraxx commented on #189
Hi @dswarbrick
Yes I have confused with jQuery menu but I'll add :)

[2013-08-01 08:13] deostroll opened #196 "Getting the button css manually?"
In classic bootstrap, you can get all the button styles (curvy corners, etc) by simply adding a class (`<button class="btn">Click Me!</button>`)

However, in this library we don't have a simple way of doing it. We'd have to always call the `.button()` on the corresponding element to get the proper button...

It would be great if we can simply use the bootstrap styles out of box...

http://jsfiddle

[2013-08-01 11:19] jonnymaboy opened #197 "Tooltip on input controls with arrows, the arrow gets messed up"
when adding a tooltip to an input control and setting the arrow you get the below:

You can see this in the demo by replacing the input default tooltip: $( "#tooltip" ).tooltip(); with the tooltip link tool tip right:

  $( "#tooltip" ).tooltip({
        position: {
            my: "left+15 left",
            at: "right center",
            using: function( position, feedback ) {
                $

[2013-08-01 15:55] btafoya opened #198 "Bootstrap 3"
Are you updating this wonderful library to utilize Bootstrap 3? Thanks!

[2013-08-01 17:30] addyosmani commented on #198
There are plans to experiment with this. Thanks for asking!

[2013-08-01 17:30] #198 closed, assigned to nobody

[2013-08-04 17:46] ZengII opened #199 "Bad smell in jquery-ui-bootstrap less file"
I feel some bad smell in less file when I try to define some custom variables.
for example,the snippet as below:
+++++++++++++
.ui-state-hover {
    color: @grayDarker;
}
+++++++++++++
if I don't rewrite the original code, I can't define my custom hover color.
Maybe we should have semantic variable name like @uihovercolor to use in the place instead of @grayDarker .

+++++++++++++
another snippet

[2013-08-05 11:59] dharapvj commented on #199
Valid points @ZengII ! Thanks for bring them to my attention.

Let me look at these cases. This is the exact reason why I have created two different themes to weed out such hard-codings if I have left them anywhere.

Planning to add one more completely different theme so that more such issues will be removed.

[2013-08-07 23:48] christopherboss opened #200 "Primary Button"
How exactly do I define the other button classes? It seems that my ui-state-default has to not be a part of the class in order for primary, success, warning and the others go to work properly. Obviously I can remove the class and add the new class to make this work but, I'm unsure if there's an easier way of doing this and I'm just overlooking it.

Thanks in advanced.

[2013-08-08 10:51] dharapvj commented on #200
Pardon me if I misread your question.. but.. Shouldn't this be all? you should not "work the CSS" yourself. rather ask JQuery to do that for you...

[code]

[2013-08-08 11:11] christopherboss commented on #200
dharapvj, thank you for the reply.

This doesn't work for me, for whatever reason. This is what I tried to do but, until I remove the ui-state-default class from the element, it will not load any other style.

I'm defining $("button").button(); on the document being ready.

This should apply to all buttons, obviously loaded into the DOM on the document being ready. But defining the class as you di

[2013-08-08 13:56] dharapvj commented on #200
can you create a fiddle on jsfiddle?

[2013-08-08 19:28] dharapvj commented on #200
This gives me a perfect bootstrap looking buttons created from JQuery button() command. Just ensure you have 2 css and 2 js files available at appropriate path.

[code]

[2013-08-08 19:40] christopherboss commented on #200
Sorry for the delay, I was at work at the time of your replies. I'm going to go ahead and re-download the bootstrap and see if perhaps I downloaded it from the incorrect place.

I'll let you know how it works out.

[2013-08-12 15:33] dharapvj commented on #199
@ZengII,

Key issue in the image url is that this project does not create the said background images dynamically - like jquery theme-roller website does. So.. even if I convert the url to use the variable - it will not be generating the required background image automatically. And hence it will create unfortunate HTTP 404s :worried:

Anyways.. I am thinking of putting in variable enabled version.

[2013-08-13 01:49] devilized commented on #200
I had the same issue, and found it to be that the parent div of the button had class ui-widget-content. This combined with a child button, which by default has class ui-state-default even when you specify class ui-button-primary, causes the custom button styles to be suppressed.

To replicate the issue, try this:

[code]

[2013-08-13 20:42] ZengII commented on #199
Thanks @dharapvj .
Maybe the explanation can be put in jquery-ui-bootstrap website, and a link guides user to jQuery UI website to download different theme images.

[2013-08-14 06:12] joodies opened #201 "bootstrap 3 is coming"
will you upgrade to bootstrap 3 ?

[2013-08-14 06:30] gtraxx commented on #201
Hi, I start working with bootstrap 3
I will post a beta version :)

[2013-08-14 13:51] joodies commented on #201
Very nice to hear that! I'm trying to extend the dialog widget, to add min(dock) and maximum function to it.

[2013-08-14 19:11] addyosmani commented on #201
That's fantastic to hear, @gtraxx. Bootstrap RC2 came out this week.

[2013-08-16 08:00] phil-w commented on #184
Yeah, you can see that on the demo page right here. If you put your browser debugger on it you'll see that the style for the blue "checked" state comes from the rule:
 .ui-buttonset .ui-state-active

so you need to apply that style to the "shuffle" button. I'm using ASP.NET checkboxes so the structure for me may be a little different, but just copy the rule for that thing above and put that CSS in

[2013-08-16 11:10] mhbailly opened #202 "Styled buttons in dialog"
Hello,
I'm trying to put some colors in the dialog buttons. ... But it doesn't work :s
So, is it possible to do that? And How to do it?
An example of what I'm trying to do follows.
Thanks in advance,
mh

buttons: [
            {
                text: "Delete",
                click: function() {
                },
                class:"ui-button-danger"
            },
            {

[2013-08-16 19:02] dharapvj commented on #202
What you are trying to do is not supported in base jquery ui as well. it allows you to only use [certain jquery CSS classes](http://api.jqueryui.com/button/#theming).

What you can do is replicate css of existing classes into your own classes. as shown below

[code]

Let me know if that's sufficient.

[2013-08-16 19:37] dharapvj commented on #200
@devilized , @c3vo - I have put a fix and added a testcase for this fix.

@gtraxx - I am not able to create a PR since I have pushed few other commits to my local origin - which are not yet ready to be pushed to upstream. Can you pull the specific commit which is shown above and merge into master? I am still learning the "git way" of doing things. :confounded:

[2013-08-18 07:55] mhbailly commented on #202
Hi,
Thank you for your answer.
I tried it and it worked but it didn't work in my project with jquery-ui-bootstrap.
I get the same result (attachment).
If there is no obvious solution, I'll find something else.
mh
![2013-08-18 09 51 21](https://f.cloud.github.com/assets/4570391/982237/95bd4518-07db-11e3-9142-b2914b197f9d.png)

[2013-08-19 09:20] dharapvj commented on #201
@gtraxx - The good looking theme of Bootstrap 2 is [now available in Bootstrap 3](https://github.com/twbs/bootstrap/issues/8706#ref-commit-f6c151a)

We might want to use this theme rather than the default theme which is way more barebones.

Btw, Final bootstrap 3 is due for release today/tomorrow. I would appreciate if you could push your WIP content somewhere - may be as a local branch in your us

[2013-08-19 09:31] gtraxx commented on #201
I  working with bootstrap 3 for the new version, but it would create a version number ( @addyosmani  )

[2013-08-20 08:48] fnagel commented on #201
_subscribe_

[2013-08-20 19:46] gtraxx commented on #201
Many modification work for compatibility with bootstrap 3, I sent the files once finished.
@addyosmani : What version number for jQuery UI Bootstrap ?
Best regards ;)

[2013-08-22 13:44] gtraxx commented on #201
Hello,
Here is a screenshot of my work in jQuery UI bootstrap with Bootstrap 3.

The new version number : 1.0 alpha :D

![jquery-ui-bootstrap-bs3](https://f.cloud.github.com/assets/356674/1008940/b5d2ad9a-0b30-11e3-890d-b0abdf0aebd2.png)